@mixin rck-dropdown-defaults-option() {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: var(--spacing-8) var(--spacing-16) var(--spacing-8) var(--spacing-16);
  margin: 0;
  font-size: var(--font-size-m);
  line-height: 24px;
}

@mixin rck-dropdown-border() {
  border-bottom: 1px solid $rck-color-gray-lighter;
}

@mixin rck-dropdown-defaults-list() {
  list-style-type: none;
  padding-inline-start: 0%;
  border-radius: 4px;
  box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.2);
}

@mixin rck-dropdown-align() {
  &--top {
    justify-content: flex-start;
  }
  &--center {
    justify-content: center;
  }
  &--bottom {
    justify-content: flex-end;
  }
}

@keyframes rck-dropdownSlideInModal {
  0% {
    opacity: 0;
    transform: translateY(50%);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes rck-dropdownSlideIn {
  0% {
    opacity: 0;
    transform: translateY(-5%);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.rck-dropdown {
  display: flex;
  flex-direction: column;
  @include rck-dropdown-align();

  &__action-name-container {
    display: flex;
  }

  &__list-hook {
    position: relative;
  }

  &__list {
    background-color: $rck-color-white;
    width: 100%;
    @include rck-dropdown-border();
    @include rck-dropdown-defaults-list();
    margin-bottom: var(--spacing-16);
    z-index: $z-index-portals;

    :last-child {
      border-bottom: none;
    }

    // Hide scrollbar
    &--no-scrollbar::-webkit-scrollbar {
      display: none;
    }

    &--no-scrollbar {
      -ms-overflow-style: none; /* IE and Edge */
      scrollbar-width: none; /* Firefox */
    }

    &--attached {
      &.rck-dropdown__list--top {
        &.rck-dropdown__list--center {
          transform: translateY(-100%);
        }
        &.rck-dropdown__list--left {
          transform: translateX(-100%) translateY(-100%);
        }

        &.rck-dropdown__list--right {
          transform: translateX(0) translateY(-100%);
        }
      }
      &.rck-dropdown__list--bottom {
        &.rck-dropdown__list--left {
          transform: translateX(-100%);
        }

        &.rck-dropdown__list--right {
          transform: translateX(0);
        }
      }
    }

    &__header {
      justify-content: center;
      @include rck-dropdown-defaults-option();
      color: $rck-color-gray;
      font-weight: var(--font-weight-semibold);
      @include rck-dropdown-border();
    }
  }

  &__footer {
    @include rck-dropdown-border();
    @include rck-dropdown-defaults-list();
    background-color: $rck-color-white;

    li {
      @include rck-dropdown-defaults-option();
      justify-content: center;
    }
    &:hover {
      background-color: $rck-color-gray-lighter;
      font-weight: var(--font-weight-semibold);
      cursor: pointer;
    }
  }

  &__modal-overlay {
    position: fixed;
    background: rgba(0, 0, 0, 0.5);
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: $z-index-portals - 1;
  }
}

.rck-dropdown-list-container {
  position: absolute;
  width: 0px;
  z-index: $z-index-portals;
  animation: rck-dropdownSlideIn 1s cubic-bezier(0.2, 0.8, 0.2, 1) backwards;

  &--modal {
    position: fixed;
    width: 100%;
    bottom: 0;
    left: 0;
    right: 0;
    padding: var(--spacing-8);
    animation: rck-dropdownSlideInModal 1s cubic-bezier(0.2, 0.8, 0.2, 1)
      backwards;
  }
}

.rck-dropdown-action-name {
  width: 100%;

  &:hover,
  &:focus,
  &:active {
    outline: 0;
  }

  &--disabled {
    background-color: $rck-color-gray-lighter;
  }
}

.rck-dropdown-option {
  @include rck-dropdown-border();
}

.rck-dropdown-option,
.rck-dropdown-action-name {
  cursor: pointer;
  @include rck-dropdown-defaults-option();

  &__icon {
    padding: var(--spacing-8) 0 var(--spacing-8) 0;
    margin-right: var(--spacing-8);
    min-width: 20px;
    display: flex;
    justify-content: center;
    > * {
      margin: 0;
    }
    &--right {
      color: $rck-color-secondary;
      margin-left: auto;
      align-items: center;
    }
  }

  &__text {
    color: $rck-color-gray;
    font-size: var(--font-size-m);
    @include rck-ellipsis(1);
  }

  &__key-assign {
    margin-left: auto;
    color: $rck-color-secondary;
    font-size: var(--font-size-xs);
  }

  &--selected {
    background-color: $rck-color-gray-lighter;
    font-weight: var(--font-weight-semibold);
    filter: brightness(98%);
  }

  &--disabled {
    cursor: default;
    .rck-dropdown-option__text,
    .rck-dropdown-action-name__text,
    .rck-dropdown-option__icon,
    .rck-dropdown-action-name__icon,
    .rck-dropdown-option__key-assign {
      color: $rck-color-gray;
    }
  }

  &--active {
    background-color: $rck-color-gray-lighter;
    strong {
      font-weight: var(--font-weight-semibold);
    }
  }
}
