$rck-tag-tag-colors: rck-color-palette-map(
  $mapping: (
    (
      'error',
      'success',
    ): (
      'base': 'dark',
    ),
  ),
);

.rck-tag {
  display: inline-flex;
  justify-content: center;
  white-space: nowrap;
  vertical-align: text-top;
  width: fit-content;

  line-height: var(--spacing-24);
  padding: 0 var(--spacing-8);
  font-weight: var(--font-weight-semibold);
  letter-spacing: var(--letter-spacing-s);

  &__icon {
    color: inherit;
    font-size: inherit;
    font-weight: var(--font-weight-regular);
  }

  &__spacer {
    padding-right: var(--spacing-8);
  }

  &--variant {
    &-squared {
      font-size: var(--font-size-xxs);
      border-radius: 4px;
    }

    &-rounded {
      font-size: var(--font-size-s);
      border-radius: var(--spacing-24);
    }
  }

  @each $type, $colors in $rck-tag-tag-colors {
    &--type-#{$type} {
      color: map-get($colors, 'base');
      background-color: map-get($colors, 'lighter');
    }
  }

  &--invert-color {
    @each $type, $colors in $rck-tag-tag-colors {
      &.rck-tag--type-#{$type} {
        color: #fff;
        background-color: map-get($colors, 'base');
      }
    }

    &.rck-tag--type-warning {
      color: $rck-color-warning-lighter;
    }
  }

  &:not(.rck-tag--size-large) {
    .rck-tag__spacer {
      padding-right: 4px;
    }
  }

  &--size {
    &-small {
      line-height: 20px;
    }

    &-large {
      // This has to be 12px to be visually pleasing.
      padding: 0 12px;
      line-height: var(--spacing-32);
    }
  }

  &--only-icon {
    padding: 0;
    text-align: center;
    width: var(--spacing-24);
    height: var(--spacing-24);

    &.rck-tag--size-small {
      width: 20px;
      height: 20px;
    }

    &.rck-tag--size-large {
      width: var(--spacing-32);
      height: var(--spacing-32);
    }
  }

  &--clickable {
    cursor: pointer;
    &:hover,
    &:active {
      filter: brightness($rck-brightness-lighter);
    }
  }
}
