@use '../base';

@mixin typography-h1-semibold-public-site() {
  @include base.typography-hero-1-semibold();
}

@mixin typography-h1-regular-public-site() {
  @include base.typography-hero-1-regular();
}

@mixin typography-h2-semibold-public-site() {
  @include base.typography-hero-2-semibold();
}

@mixin typography-h2-regular-public-site() {
  @include base.typography-hero-2-regular();
}

@mixin typography-h3-semibold-public-site() {
  @include base.typography-headline-1-semibold();
}

@mixin typography-h3-regular-public-site() {
  @include base.typography-headline-1-regular();
}

@mixin typography-h4-semibold-public-site() {
  @include base.typography-headline-2-semibold();
}

@mixin typography-h4-regular-public-site() {
  @include base.typography-headline-2-regular();
}

@mixin typography-h5-semibold-public-site() {
  @include base.typography-title-1-semibold();
}

@mixin typography-h5-regular-public-site() {
  @include base.typography-title-1-regular();
}

@mixin typography-h6-semibold-public-site() {
  @include base.typography-title-2-semibold();
}

@mixin typography-h6-regular-public-site() {
  @include base.typography-title-2-regular();
}

@mixin typography-title-1-semibold-public-site() {
  @include base.typography-title-3-semibold();
}

@mixin typography-title-1-regular-public-site() {
  @include base.typography-title-3-regular();
}
