@use '../base';
@use '../../../utils/layout' as layout;

@mixin typography-headline-1-semibold-responsive() {
  @include layout.layout-mobile() {
    @include base.typography-headline-2-semibold();
  }

  @include base.typography-headline-1-semibold();
}

@mixin typography-headline-1-regular-responsive() {
  @include layout.layout-mobile() {
    @include base.typography-headline-2-regular();
  }

  @include base.typography-headline-1-regular();
}

@mixin typography-headline-2-semibold-responsive() {
  @include layout.layout-mobile() {
    @include base.typography-title-1-semibold();
  }

  @include base.typography-headline-2-semibold();
}

@mixin typography-headline-2-regular-responsive() {
  @include layout.layout-mobile() {
    @include base.typography-title-1-regular();
  }

  @include base.typography-headline-2-regular();
}

@mixin typography-title-1-semibold-responsive() {
  @include layout.layout-mobile() {
    @include base.typography-title-2-semibold();
  }

  @include base.typography-title-1-semibold();
}

@mixin typography-title-1-regular-responsive() {
  @include layout.layout-mobile() {
    @include base.typography-title-2-regular();
  }

  @include base.typography-title-1-regular();
}

@mixin typography-title-2-semibold-responsive() {
  @include layout.layout-mobile() {
    @include base.typography-title-3-semibold();
  }

  @include base.typography-title-2-semibold();
}

@mixin typography-title-2-regular-responsive() {
  @include layout.layout-mobile() {
    @include base.typography-title-3-regular();
  }

  @include base.typography-title-2-regular();
}

@mixin typography-title-3-semibold-responsive() {
  @include layout.layout-mobile() {
    @include base.typography-body-1-semibold();
  }

  @include base.typography-title-3-semibold();
}

@mixin typography-title-3-regular-responsive() {
  @include layout.layout-mobile() {
    @include base.typography-body-1-regular();
  }

  @include base.typography-title-3-regular();
}
