@use '../base';
@use './responsive';

// XXX DEPRECATED
// These mixins must be replaced by the responsive and base mixins, and this
// file should be removed.

/// Public
/// ----------------------

/// Headline 1
@mixin typography-headline-1($weight: 'inherit', $responsive: true) {
  @if $weight == 'semibold' {
    @if $responsive == true {
      @include responsive.typography-headline-1-semibold-responsive();
    } @else {
      @include base.typography-headline-1-semibold();
    }
  } @else {
    @if $responsive == true {
      @include responsive.typography-headline-1-regular-responsive();
    } @else {
      @include base.typography-headline-1-regular();
    }
  }
}

/// Headline 2
@mixin typography-headline-2($weight: 'inherit', $responsive: true) {
  @if $weight == 'semibold' {
    @if $responsive == true {
      @include responsive.typography-headline-2-semibold-responsive();
    } @else {
      @include base.typography-headline-2-semibold();
    }
  } @else {
    @if $responsive == true {
      @include responsive.typography-headline-2-regular-responsive();
    } @else {
      @include base.typography-headline-2-regular();
    }
  }
}

/// Title 1
@mixin typography-title-1($weight: 'inherit', $responsive: true) {
  @if $weight == 'semibold' {
    @if $responsive == true {
      @include responsive.typography-title-1-semibold-responsive();
    } @else {
      @include base.typography-title-1-semibold();
    }
  } @else {
    @if $responsive == true {
      @include responsive.typography-title-1-regular-responsive();
    } @else {
      @include base.typography-title-1-regular();
    }
  }
}

/// Title 2
@mixin typography-title-2($weight: 'inherit', $responsive: true) {
  @if $weight == 'semibold' {
    @if $responsive == true {
      @include responsive.typography-title-2-semibold-responsive();
    } @else {
      @include base.typography-title-2-semibold();
    }
  } @else {
    @if $responsive == true {
      @include responsive.typography-title-2-regular-responsive();
    } @else {
      @include base.typography-title-2-regular();
    }
  }
}

/// Title 3
@mixin typography-title-3($weight: 'inherit', $responsive: true) {
  @if $weight == 'semibold' {
    @if $responsive == true {
      @include responsive.typography-title-3-semibold-responsive();
    } @else {
      @include base.typography-title-3-semibold();
    }
  } @else {
    @if $responsive == true {
      @include responsive.typography-title-3-regular-responsive();
    } @else {
      @include base.typography-title-3-regular();
    }
  }
}

/// Body 1
@mixin typography-body-1($weight: 'inherit', $responsive: true) {
  @if $weight == 'semibold' {
    @include base.typography-body-1-semibold();
  } @else {
    @include base.typography-body-1-regular();
  }
}

/// Body 2
@mixin typography-body-2($weight: 'inherit') {
  @if $weight == 'semibold' {
    @include base.typography-body-2-semibold();
  } @else {
    @include base.typography-body-2-regular();
  }
}

/// Caption 1
@mixin typography-caption-1($weight: 'inherit', $italic: false) {
  @if $italic == true {
    @include base.typography-caption-1-italic();
  } @else {
    @if $weight == 'semibold' {
      @include base.typography-caption-1-semibold();
    } @else {
      @include base.typography-caption-1-regular();
    }
  }
}

/// Caption 2
@mixin typography-caption-2($weight: 'inherit', $italic: false) {
  @if $italic == true {
    @include base.typography-caption-2-italic();
  } @else {
    @if $weight == 'semibold' {
      @include base.typography-caption-2-semibold();
    } @else {
      @include base.typography-caption-2-regular();
    }
  }
}
