@use 'sass:map';

/// Function to convert map to JSON-like string
@function map-to-json($map) {
  $json: '{';
  $keys: map.keys($map);
  @each $key in $keys {
    $value: map.get($map, $key);
    @if type-of($value) == 'map' {
      $json: $json + '"' + $key + '":' + map-to-json($value) + ',';
    } @else {
      $json: $json + '"' + $key + '":"' + $value + '",';
    }
  }
  $json: str-slice($json, 1, -2) + '}';
  @return $json;
}
