.rck-account-info-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  width: $side-navigation-menu-width;
  background-color: $rck-color-primary;

  &--expanded {
    width: $side-navigation-menu-width-expanded;
  }

  &__header {
    color: $rck-color-white;
    margin: var(--spacing-24) 0 var(--spacing-16) 0;
  }

  &__user-info {
    &__name {
      position: relative;
      line-height: 1.3;
      font-size: var(--font-size-s);
      margin: 0px 0 3px;
      font-weight: 600;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
      color: $rck-color-white;
      max-width: 150px;
    }
    &__gift {
      position: absolute;
      left: 0;
      top: 5px;
      width: 14px !important;
      height: 14px !important;
    }
  }
}
