$rck-profile-info-header-status: (
  'active': $rck-color-primary,
  'offline': $rck-color-gray-semi,
  'standby': $rck-color-gray-semi,
  'unknown': $rck-color-warning,
  'no-device': $rck-color-error,
  'tampered-device': $rck-color-error,
);

@mixin rck-profile-info-header-set-status-color() {
  @each $status, $color in $rck-profile-info-header-status {
    &--#{$status} {
      color: $color;
    }
  }
}

.rck-profile-info-header {
  display: flex;
  flex-direction: column;
  flex: 1;
  background-color: $rck-color-white;
  align-items: center;
  padding-top: var(--spacing-8);

  &__avatar {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  &__content {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    font-weight: var(--font-weight-semibold);

    &__name {
      display: block;
      font-size: var(--font-size-m);
      max-width: $side-navigation-menu-width-expanded;
      color: $rck-color-gray-dark;

      @include rck-ellipsis();
    }
    &__status {
      display: flex;
      align-items: center;
      justify-content: center;
      font-size: var(--font-size-s);

      @include rck-profile-info-header-set-status-color();
    }
  }

  &__action-element {
    margin-top: var(--spacing-16);
    padding: 0 var(--spacing-8);
    width: 100%;
  }

  &--small {
    flex-direction: row;
    padding-top: 0;
    .rck-profile-info-header__avatar {
      padding-right: var(--spacing-8);
    }
    .rck-profile-info-header__content {
      align-items: flex-start;
      &__name {
        padding-top: 0;
        font-size: var(--font-size-m);
      }
      &__status {
        font-size: var(--font-size-xs);
        padding-top: 0;
        line-height: 0.7;
      }
    }
  }
}
