@use "sass:map";

// weight
$font-weight-regular: 400;
$font-weight-semibold: 600;

// line height
$font-line-height-56: 56px;
$font-line-height-52: 52px;
$font-line-height-44: 44px;
$font-line-height-40: 40px;
$font-line-height-36: 36px;
$font-line-height-32: 32px;
$font-line-height-30: 30px;
$font-line-height-26: 26px;
$font-line-height-24: 24px;
$font-line-height-20: 20px;
$font-line-height-16: 16px;

// size
$font-size-48: 48px;
$font-size-40: 40px;
$font-size-36: 36px;
$font-size-32: 32px;
$font-size-24: 24px;
$font-size-20: 20px;
$font-size-18: 18px;
$font-size-16: 16px;
$font-size-14: 14px;
$font-size-12: 12px;
$font-size-10: 10px;

/// Fixed styles
/// ----------------------

/// Constants
$typography-base-hero-1-font-size: $font-size-48 !default;
$typography-base-hero-1-line-height: $font-line-height-56 !default;

$typography-base-hero-2-font-size: $font-size-40 !default;
$typography-base-hero-2-line-height: $font-line-height-52 !default;

$typography-base-headline-1-font-size: $font-size-36 !default;
$typography-base-headline-1-line-height: $font-line-height-44 !default;

$typography-base-headline-2-font-size: $font-size-32 !default;
$typography-base-headline-2-line-height: $font-line-height-40 !default;

$typography-base-title-1-font-size: $font-size-24 !default;
$typography-base-title-1-line-height: $font-line-height-32 !default;

$typography-base-title-2-font-size: $font-size-20 !default;
$typography-base-title-2-line-height: $font-line-height-30 !default;

$typography-base-title-3-font-size: $font-size-18 !default;
$typography-base-title-3-line-height: $font-line-height-24 !default;

$typography-base-body-1-font-size: $font-size-16 !default;
$typography-base-body-1-line-height: $font-line-height-24 !default;

$typography-base-body-2-font-size: $font-size-14 !default;
$typography-base-body-2-line-height: $font-line-height-20 !default;

$typography-base-caption-1-font-size: $font-size-12 !default;
$typography-base-caption-1-line-height: $font-line-height-16 !default;

$typography-base-caption-2-font-size: $font-size-10 !default;
$typography-base-caption-2-line-height: $font-line-height-16 !default;

/// Mixins
@mixin typography-hero-1-semibold() {
  font-size: $typography-base-hero-1-font-size;
  line-height: $typography-base-hero-1-line-height;
  font-weight: $font-weight-semibold;
}

@mixin typography-hero-1-regular() {
  font-size: $typography-base-hero-1-font-size;
  line-height: $typography-base-hero-1-line-height;
  font-weight: $font-weight-regular;
}

@mixin typography-hero-2-semibold() {
  font-size: $typography-base-hero-2-font-size;
  line-height: $typography-base-hero-2-line-height;
  font-weight: $font-weight-semibold;
}

@mixin typography-hero-2-regular() {
  font-size: $typography-base-hero-2-font-size;
  line-height: $typography-base-hero-2-line-height;
  font-weight: $font-weight-regular;
}

@mixin typography-headline-1-semibold() {
  font-size: $typography-base-headline-1-font-size;
  line-height: $typography-base-headline-1-line-height;
  font-weight: $font-weight-semibold;
}

@mixin typography-headline-1-regular() {
  font-size: $typography-base-headline-1-font-size;
  line-height: $typography-base-headline-1-line-height;
  font-weight: $font-weight-regular;
}

@mixin typography-headline-2-semibold() {
  font-size: $typography-base-headline-2-font-size;
  line-height: $typography-base-headline-2-line-height;
  font-weight: $font-weight-semibold;
}

@mixin typography-headline-2-regular() {
  font-size: $typography-base-headline-2-font-size;
  line-height: $typography-base-headline-2-line-height;
  font-weight: $font-weight-regular;
}

@mixin typography-title-1-semibold() {
  font-size: $typography-base-title-1-font-size;
  line-height: $typography-base-title-1-line-height;
  font-weight: $font-weight-semibold;
}

@mixin typography-title-1-regular() {
  font-size: $typography-base-title-1-font-size;
  line-height: $typography-base-title-1-line-height;
  font-weight: $font-weight-regular;
}

@mixin typography-title-2-semibold() {
  font-size: $typography-base-title-2-font-size;
  line-height: $typography-base-title-2-line-height;
  font-weight: $font-weight-semibold;
}

@mixin typography-title-2-regular() {
  font-size: $typography-base-title-2-font-size;
  line-height: $typography-base-title-2-line-height;
  font-weight: $font-weight-regular;
}

@mixin typography-title-3-semibold() {
  font-size: $typography-base-title-3-font-size;
  line-height: $typography-base-title-3-line-height;
  font-weight: $font-weight-semibold;
}

@mixin typography-title-3-regular() {
  font-size: $typography-base-title-3-font-size;
  line-height: $typography-base-title-3-line-height;
  font-weight: $font-weight-regular;
}

@mixin typography-body-1-semibold() {
  font-size: $typography-base-body-1-font-size;
  line-height: $typography-base-body-1-line-height;
  font-weight: $font-weight-semibold;
}

@mixin typography-body-1-regular() {
  font-size: $typography-base-body-1-font-size;
  line-height: $typography-base-body-1-line-height;
  font-weight: $font-weight-regular;
}

@mixin typography-body-2-semibold() {
  font-size: $typography-base-body-2-font-size;
  line-height: $typography-base-body-2-line-height;
  font-weight: $font-weight-semibold;
}

@mixin typography-body-2-regular() {
  font-size: $typography-base-body-2-font-size;
  line-height: $typography-base-body-2-line-height;
  font-weight: $font-weight-regular;
}

@mixin typography-caption-1-semibold() {
  font-size: $typography-base-caption-1-font-size;
  line-height: $typography-base-caption-1-line-height;
  font-weight: $font-weight-semibold;
}

@mixin typography-caption-1-regular() {
  font-size: $typography-base-caption-1-font-size;
  line-height: $typography-base-caption-1-line-height;
  font-weight: $font-weight-regular;
}

@mixin typography-caption-1-italic() {
  font-size: $typography-base-caption-1-font-size;
  line-height: $typography-base-caption-1-line-height;
  font-weight: $font-weight-regular;
  font-style: italic;
}

@mixin typography-caption-2-semibold() {
  font-size: $typography-base-caption-2-font-size;
  line-height: $typography-base-caption-2-line-height;
  font-weight: $font-weight-semibold;
}

@mixin typography-caption-2-regular() {
  font-size: $typography-base-caption-2-font-size;
  line-height: $typography-base-caption-2-line-height;
  font-weight: $font-weight-regular;
}

@mixin typography-caption-2-italic() {
  font-size: $typography-base-caption-2-font-size;
  line-height: $typography-base-caption-2-line-height;
  font-weight: $font-weight-regular;
  font-style: italic;
}
