$rck-instruction-card: '.rck-instruction-card';

#{$rck-instruction-card} {
  &__icon {
    display: inline-block;
    margin-bottom: var(--spacing-24);
  }
  &__title {
    font-size: var(--font-size-xl);
    font-weight: 600;
    text-align: center;
  }
  &__description {
    text-align: center;
    margin-bottom: var(--spacing-72);
    font-size: var(--font-size-s);
  }
  &__link {
    color: black;
    text-decoration: none;
    &:active,
    &:hover {
      text-decoration: none;
    }
  }

  &--compact {
    #{$rck-instruction-card}__title {
      font-size: var(--font-size-m);
    }
  }
}
