@use 'sass:math';
@use '../../../src/tokens/rck';
@use '../utils';

$radius-map: (
  '100': rck.$radius-100,
  '200': rck.$radius-200,
  '300': rck.$radius-300,
  '400': rck.$radius-400,
  '500': rck.$radius-500,
  '600': rck.$radius-600,
  '700': rck.$radius-700,
  '800': rck.$radius-800,
);

.foundation-radius {
  &__grid {
    max-width: 800px;
    display: grid;
    grid-template-columns: repeat(4, auto);
    grid-template-rows: repeat(2, auto);
    gap: 32px;
  }

  &__cell {
    display: flex;
    flex-direction: column;
    gap: 8px;
    position: relative;

    .cell {
      width: 100px;
      height: 100px;
      border: 2px solid rck.$color-brand-primary-500;
      background-color: rgba(rck.$color-brand-primary-500, 0.1);
    }
  }
}

@each $name, $value in $radius-map {
  .foundation__radius--#{$name} {
    border-radius: $value;
  }
}
/// Export the stringified map as a CSS variable
:export {
  baseRadius: utils.map-to-json($radius-map);
}
