@use '../../../src/tokens/rck';
@use './utils';

$reduction-ratio: 0.5;

.foundation-colors {
  &__grid {
    display: flex;
    flex-direction: column;
    gap: 32px;
  }

  &__row {
    display: flex;
    flex-direction: row;
    gap: 16px;
  }

  &__cell {
    display: flex;
    flex-direction: column;
    gap: 8px;
    position: relative;

    .cell {
      width: calc(240px * $reduction-ratio);
      height: calc(180px * $reduction-ratio);
      border: 2px solid rgba(128, 128, 128, 0.15);
      border-radius: 8px;
    }

    &:hover {
      &::before {
        opacity: 1;
        transform: translate(-50%, -50%) scale(1);
      }
    }

    &::before {
      content: '';
      z-index: -1;
      display: flex;
      position: absolute;
      height: 115%;
      width: 115%;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%) scale(0.7);
      background-color: rgba(128, 128, 128, 0.1);
      border-radius: 8px;
      opacity: 0;
      transition:
        opacity 250ms,
        transform 250ms;
    }
  }
}

@mixin generateFoundationColorClasses($color-name, $color-values) {
  @if type-of($color-values) == 'map' {
    @each $shade, $value in $color-values {
      .foundation__color--#{$color-name}-#{$shade} {
        background-color: $value;
      }
    }
  } @else {
    .foundation__color--#{$color-name} {
      background-color: $color-values;
    }
  }
}

@each $color-name, $color-values in rck.$color-base {
  @include generateFoundationColorClasses($color-name, $color-values);
}

@each $color-name, $color-values in rck.$color-brand {
  @include generateFoundationColorClasses($color-name, $color-values);
}

@each $color-name, $color-values in rck.$color-semantic {
  @include generateFoundationColorClasses($color-name, $color-values);
}

/// Export the stringified map as a CSS variable
:export {
  colorBase: utils.map-to-json(rck.$color-base);
  colorBrand: utils.map-to-json(rck.$color-brand);
  colorSemantic: utils.map-to-json(rck.$color-semantic);
}
