@use 'sass:map';
@use '../../../src/tokens/rck';
@use './utils';

$gradientColors: (
  'yolk': rck.$gradient-base-yolk,
  'yellow': rck.$gradient-base-yellow,
  'peach': rck.$gradient-base-peach,
  'red': rck.$gradient-base-red,
  'pink': rck.$gradient-base-pink,
  'violet': rck.$gradient-base-violet,
  'marine': rck.$gradient-base-marine,
  'blue': rck.$gradient-base-blue,
  'green': rck.$gradient-base-green,
);

@each $color-name, $color-values in $gradientColors {
  .foundation__gradient--#{$color-name} {
    background: $color-values;
  }
}

.foundation-gradient {
  &__rows {
    display: flex;
    flex-direction: column;
    gap: 32px;
  }

  &__cell {
    display: flex;
    flex-direction: column;
    gap: 8px;
    position: relative;

    .cell {
      width: clamp(0px, 100%, 600px);
      height: 100px;
      border: 1px solid rgba(128, 128, 128, 0.15);
      border-radius: 8px;
    }
  }
}

/// Export the stringified map as a CSS variable
:export {
  gradients: utils.map-to-json($gradientColors);
}
