.rck-instruction-block {
  font-size: var(--font-size-m);
  font-weight: normal;
  letter-spacing: var(--letter-spacing-m);
  line-height: 24px;
  color: $rck-color-gray-dark;

  strong {
    font-weight: var(--font-weight-semibold);
  }

  a {
    color: $rck-color-secondary;
    text-decoration: none;
  }

  &--block {
    display: block;
    width: 100%;
  }
}
