$colors: (
  'primary': $rck-color-secondary,
  'secondary': $rck-color-gray,
  'warning': $rck-color-warning,
  'error': $rck-color-error,
  'success': $rck-color-success,
);

@mixin set-instruction-color {
  @each $color, $colorValue in $colors {
    &--color-#{$color} {
      color: #{$colorValue};
    }
  }
}

.rck-styled-instruction {
  @include set-instruction-color();
}
