.rck-time-picker-input {
  &:not(&[data-disabled]):hover {
    [data-area--right] {
      background-color: $rck-color-secondary-light;
    }
  }

  &:not(&[data-disabled]):focus-within {
    [data-rck-input-base--input] {
      font-weight: var(--font-weight-semibold);
    }

    [data-area--right] {
      background-color: $rck-color-secondary;

      .rck-icon i {
        color: $rck-color-white;
      }
    }
  }

  // remove default background from square rck-icon
  & > [data-area--right] > .rck-icon {
    background-color: transparent;
  }
}
