$color-gradient-light-start: $rck-color-secondary;
$color-gradient-light-end: #02bfa6;

$color-gradient-dark-start: $rck-color-plan-m;
$color-gradient-dark-end: $rck-color-secondary;

$color-gradient-concern-start: #fd6a29;
$color-gradient-concern-end: $rck-color-plan-l-light;

/* mixin for gradient */
@mixin h-gradient($start-color, $end-color, $degree: 180deg) {
  background-image: linear-gradient($degree, $start-color, $end-color);
}

.h-gradient--light {
  @include h-gradient($color-gradient-light-start, $color-gradient-light-end);
}

.h-gradient--dark {
  @include h-gradient($color-gradient-dark-start, $color-gradient-dark-end);
}

.h-gradient--concern {
  @include h-gradient(
    $color-gradient-concern-start,
    $color-gradient-concern-end
  );
}
