@mixin rck-text-input-rounded-border() {
  border: 1px solid $rck-color-gray-light;
  border-radius: 4px;
}

@mixin rck-input-text-label() {
  display: block;
  font-size: var(--font-size-xs);
  color: $rck-color-gray-dark;
  font-weight: var(--font-weight-semibold);
}

@mixin rck-input-text-error() {
  color: $rck-color-error-dark;
}

@mixin rck-input-border-error() {
  border-color: $rck-color-error-dark;
}

@mixin rck-input-text-disabled() {
  border-color: $rck-color-gray-light;
  background-color: $rck-color-gray-lighter;
  color: $rck-color-gray-semi;
  cursor: not-allowed;
}

@mixin rck-input-text-states() {
  &:hover,
  &:focus,
  &:active {
    border-color: $rck-color-secondary;
    outline: none; // Not a fan of this, but we need better control around the outline to keep it accessible
    box-shadow: none;
  }
}
