// Colors
$peach-400: #ffe8dc;
$peach-500: #ff965c;
$peach-600: #fd752c;
$peach-700: #d94d02;

$yellow-400: #ffedcf;
$yellow-500: #ffa710;
$yellow-600: #b37100;

$rck-grey-500: #36383b;
$rck-grey-400: #55585d;
$rck-grey-300: #989ba0;
$rck-grey-200: #dddedf;
$rck-grey-100: #fafafb;

// Primary --> Primary actions, buttons and links
$rck-color-primary: #3b9e8a;
$rck-color-primary-dark: #2f7768; //Hover
$rck-color-primary-light: #9dcfc4;
$rck-color-primary-lighter: #e9fff8;

// Secondary --> Primary actions, buttons and links
$rck-color-secondary: #6161ff;
$rck-color-secondary-dark: #4949b9; //Hover
$rck-color-secondary-darker: #1f6178;
$rck-color-secondary-light: #d7d7ff;
$rck-color-secondary-lighter: #f1f1ff;

// Grayscale --> Title texts, captions, input fields and everywhere else where black is required
/// @deprecated use  $rck-grey-500 instead
$rck-color-gray-dark: $rck-grey-500;

/// @deprecated use  $rck-grey-400 instead
$rck-color-gray: $rck-grey-400;

/// @deprecated use  $rck-grey-300 instead
$rck-color-gray-semi: $rck-grey-300;

/// @deprecated use  $rck-grey-200 instead
$rck-color-gray-light: $rck-grey-200;

/// @deprecated use  $rck-grey-100 instead
$rck-color-gray-lighter: $rck-grey-100;

// Black -> Title texts, captions
$rck-color-black: $rck-grey-500;

// White
$rck-color-white: #ffffff; // Background
$rck-color-white-70: rgba($rck-color-white, 0.7);
$rck-color-white-50: rgba($rck-color-white, 0.5);

// Success --> Success, conversion
$rck-color-success: #9dcfc4;
$rck-color-success-dark: #2f7768; //Hover
$rck-color-success-light: #9dcfc4;
$rck-color-success-lighter: #e9fff8;

// Error --> Error, blocking
// TODO: now error message uses dark, pding.
$rck-color-error: #f3656f;
$rck-color-error-darker: #a03941;
$rck-color-error-dark: #c84851;
$rck-color-error-light: #fe9296;
$rck-color-error-lighter: #ffdde1;

// Warning --> Warning, alerts
$rck-color-warning-dark: $peach-700;
$rck-color-warning: $peach-600;
$rck-color-warning-light: $peach-500;
$rck-color-warning-lighter: $peach-400;

// Decoration
$rck-color-decoration-orange: #ff965c;
$rck-color-decoration-orange-dark: #c85618;
$rck-color-decoration-orange-light: #ffdbc7;

$rck-color-decoration-blue: #60d0ec;
$rck-color-decoration-blue-dark: #117892;
$rck-color-decoration-blue-light: #dff6fb;

$rck-color-decoration-green: #49c592;
$rck-color-decoration-green-dark: #236c4e;
$rck-color-decoration-green-light: #dbf3e9;

// Booster
$rck-color-booster: #d70469;
$rck-color-booster-dark: #890343;
$rck-color-booster-light: #f26faf;
$rck-color-booster-lighter: #fee1ef;

// School -> used to identify school elements
$rck-color-school: #0a95c2;
$rck-color-school-dark: #054b61;
$rck-color-school-light: #6dd6f8;
$rck-color-school-lighter: #cef1fd;

// Marketing
$rck-color-marketing-red: #e54141;
$rck-color-marketing-orange: #fd752c;
$rck-color-marketing-orange-light: #ffe6d8;

/// ------------
/// GRADIENTS
/// ------------

// Gradient -> Secondary
$rck-color-secondary-gradient-from: $rck-color-secondary;
$rck-color-secondary-gradient-to: #5252cc;

// Gradient -> Orange
$rck-color-orange-gradient-from: $rck-color-decoration-orange;
$rck-color-orange-gradient-to: $rck-color-decoration-orange-dark;
