@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,500;0,600;1,400;1,500;1,600&display=swap');

:root {
  --font-family-default: 'Poppins', sans-serif;
}

// TODO: Review from here

html {
  line-height: $default-line-height;
}

:any-link {
  color: $rck-color-secondary;

  &:hover {
    cursor: pointer;
  }
}

.rck-fw-semibold {
  font-weight: var(--font-weight-semibold);
}

.rck-fw-regular {
  font-weight: var(--font-weight-regular);
}

body {
  font-family: 'Poppins', sans-serif;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
}

p {
  font-size: var(--font-size-default);
  line-height: 1.6;
  margin: 0 0 var(--spacing-24);
}

ul,
ol {
  margin: 0 0 var(--spacing-24);
  padding: 0 0 0 var(--spacing-48);
}

li {
  padding: 0;
  margin: 0 0 var(--spacing-8);
  font-size: var(--font-size-default);
}

ul {
  list-style-type: square;
}

ol {
  list-style-type: decimal;
}

// This is for testing the vertical rhythm. We don't need it yet but we will.
.baseline-bg:hover {
  background-image: linear-gradient(#eeeeee 1px, transparent 1px);
  background-size: 100% 10px;
}

@media (min-width: $screen-md) {
  .baseline-bg:hover {
    background-size: 100% 12px;
  }
}
