@use '../../tokens/rck';

/// @deprecated use tokens/layout -> breakpoints instead
$screen-sm: 768px;
$screen-md: 992px;
$screen-lg: 1200px;

$screen-sm-1: $screen-sm - 1;
$screen-md-1: $screen-md - 1;
$screen-lg-1: $screen-lg - 1;

$screen-desktop: 850px;
$screen-desktop-1: 849px;

// Icons
$fa-font-path: '../webfonts/fontawesome';

// html default line-height
$default-line-height: 1.5;

// side navigation menu width
$side-navigation-menu-width: 120px;
$side-navigation-menu-width-expanded: 200px;

// Screen size
$rck-screen-sm: 768px;

// Radius
$rck-border-radius: 5px;

// images
$images-path: '../../assets/images';

// Brightness percentage to darken the element for click (:active) feedback.
$rck-brightness-lighter: 97%;
$rck-brightness-light: 90%;

// Spacing
$spacing-layout-sizes: (
  '0': 0,
  '4': rck.$spacing-4,
  '8': rck.$spacing-8,
  '16': rck.$spacing-16,
  '24': rck.$spacing-24,
  '32': rck.$spacing-32,
  '40': rck.$spacing-40,
  '48': rck.$spacing-48,
  '56': rck.$spacing-56,
  '72': rck.$spacing-72,
  '80': rck.$spacing-80,
  '88': rck.$spacing-88,
  '96': rck.$spacing-96,
  '104': rck.$spacing-104,
  '112': rck.$spacing-112,
  '160': rck.$spacing-160,
  '200': rck.$spacing-200,
);
