.rck-license-info-container {
  width: 100%;
  background-color: rgba($rck-color-primary-lighter, 0.1);
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;

  &__optionals {
    list-style: none;
    margin: 0 var(--spacing-8) 0 var(--spacing-8);
    padding: 0;
    color: $rck-color-white;
    width: 100%;

    .rck-affiliate-badge {
      padding-bottom: 0;
    }

    a {
      cursor: pointer;
      text-decoration: none;
      color: $rck-color-white;
    }
  }

  &__affiliate-badge {
    padding-bottom: var(--spacing-8);
  }

  &__license-title {
    text-decoration: none;
    display: flex;
    align-items: center;
    flex-direction: column;
    font-weight: 600;
    font-size: var(--font-size-s);
    margin-top: var(--spacing-16);
    margin-bottom: var(--spacing-8);
    color: $rck-color-white;
  }

  &__license-subtitle {
    text-decoration: none;
    color: $rck-color-white;
    font-size: var(--font-size-s);
    margin-bottom: var(--spacing-16);
    line-height: normal;
    border-top: 1px solid $rck-color-primary;
    padding-top: var(--spacing-16);
  }

  &__button {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: var(--spacing-16);
    font-size: var(--font-size-xs);
    width: 100%;
    min-height: 32px;
    line-height: 32px;
    padding: 0 var(--spacing-8);
    height: auto;
    font-weight: var(--font-weight-semibold);
    white-space: nowrap;
    text-decoration: none;
    cursor: pointer;
    border: 0;
    border-radius: 4px;
    box-shadow: none;
    transition: all 150ms ease-out;
    color: $rck-color-white;
    background-color: $rck-color-secondary;

    @media (hover: hover) {
      &:hover {
        background-color: $rck-color-secondary-dark;
      }
    }

    &:focus,
    &:active {
      background-color: $rck-color-secondary-dark;
    }

    span {
      line-height: var(--line-height-sm);
      display: inline-block;
      &:first-letter {
        text-transform: capitalize;
      }
    }
  }
}
