@use '../../tokens/rck';

@keyframes slideIn {
  0% {
    opacity: 0;
    transform: translateY(50%);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.rck-portal-modal {
  &__overlay {
    z-index: $z-index-portals;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: rgba(rck.$color-brand-neutral-black, 0.8);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }

  &__wrapper {
    position: relative;
    background-color: rck.$color-brand-neutral-white;
    border-radius: rck.$radius-200;
    overflow: hidden;
    max-height: 90vh;
    max-width: 95vw;
    padding: var(--spacing-32);
    display: flex;
    flex-direction: column;
    flex-basis: 1;

    &--animated {
      animation: slideIn 1s cubic-bezier(0.2, 0.8, 0.2, 1) backwards;
    }
  }

  &__close-btn,
  &__back-btn {
    cursor: pointer;
    font-size: var(--font-size-m);
    margin-bottom: var(--spacing-8);
    width: 20px;
    height: 20px;

    &--hide {
      display: none;
    }

    i {
      width: var(--spacing-16);
    }
  }

  &__close-btn {
    margin-left: auto;
  }

  &__top-btn {
    display: inline-flex;
  }
}
