@use '../../tokens/rck';

.rck-expandable {
  border-bottom: 1px solid rck.$color-brand-neutral-300;
  margin: 0 rck.$spacing-16;

  &--disabled {
    color: rck.$color-brand-neutral-300 !important;
  }

  &__header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: rck.$spacing-24 0;
    align-items: center;
    cursor: pointer;

    &--disabled {
      cursor: not-allowed;
    }

    &--right-content {
      margin-left: auto;
      margin-right: rck.$spacing-16;
    }
  }
  &__container {
    display: none;
    &--open {
      display: flex;
      flex-direction: column;
      gap: rck.$spacing-32;

      > *:last-child {
        margin-bottom: rck.$spacing-32;
      }
    }
  }
}
