.rck-empty-placeholder {
  font-size: var(--font-size-m);
  line-height: 24px;
  letter-spacing: 0.15px;
  text-align: center;
  color: $rck-color-gray-semi;
  display: flex;
  flex-direction: column;

  &--small-text {
    font-size: var(--font-size-xs);
  }

  &--colored-background {
    background-color: $rck-color-gray-lighter;
  }

  &--center {
    align-items: center;
    justify-content: center;
  }

  &--fill {
    flex: 1 1 auto;
    height: 100%;
  }

  &__icon {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: var(--spacing-16);
  }
}
