.rck-badge {
  display: inline-block;
  font-size: var(--font-size-xxs);
  height: 24px;
  padding: 4px var(--spacing-8);
  border-radius: 4px;
  letter-spacing: var(--letter-spacing-s);
  color: $rck-color-white;
  font-weight: var(--font-weight-semibold);

  &--small {
    padding: 2px var(--spacing-8);
    font-size: var(--font-size-xxs);
    height: 20px;
  }

  &--error {
    color: $rck-color-error-dark;
    background-color: $rck-color-error-lighter;
  }
  &--warning {
    color: $rck-color-decoration-orange;
    background-color: $rck-color-warning-lighter;
  }
  &--neutral {
    background-color: $rck-color-gray-lighter;
    color: $rck-color-gray;
  }
  &--brand {
    background-color: $rck-color-secondary-lighter;
    color: $rck-color-secondary;
  }
  &--success {
    color: $rck-color-success-dark;
    background-color: $rck-color-success-lighter;
  }
  &--dark {
    color: $rck-color-gray;
    background-color: $rck-color-gray-lighter;
  }
  &--contrast {
    color: $rck-color-secondary;
    background-color: $rck-color-secondary-lighter;
  }
  &--secondary {
    color: $rck-color-white;
    background-color: $rck-color-secondary;
  }
  &--school {
    color: $rck-color-school;
    background-color: $rck-color-school-lighter;
  }
}
