$quote-lines: (
  'none': -1,
  'one': 1,
  'two': 2,
  'three': 3,
  'four': 4,
  'five': 5,
);

.rck-quote {
  background-color: $rck-color-gray-lighter;
  color: $rck-color-gray;
  min-height: 24px;
  padding: 4px var(--spacing-8);
  font-size: var(--font-size-xs);
  i {
    font-size: var(--font-size-s);
  }
}

@each $lineStr, $line in $quote-lines {
  .rck-quote--#{$lineStr} {
    @include rck-ellipsis($line);
  }
}
