// Solid
$rck-routine-color-red-dark: #9d1515;
$rck-routine-color-red: #e54141;
$rck-routine-color-red-light: #fad9d9;

$rck-routine-color-purple-dark: #7e0ca7;
$rck-routine-color-purple: #b210ea;
$rck-routine-color-purple-light: #f0cffb;

$rck-routine-color-blue-dark: #008099;
$rck-routine-color-blue: #00a9ca;
$rck-routine-color-blue-light: #cceef4;

$rck-routine-color-yellow-dark: #b27100;
$rck-routine-color-yellow: #ffa710;
$rck-routine-color-yellow-light: #ffedcf;

$rck-routine-color-pink-dark: #cc004a;
$rck-routine-color-pink: #ff357e;
$rck-routine-color-pink-light: #ffd7e5;

$rck-routine-color-green-dark: #319b6f;
$rck-routine-color-green: #49c592;
$rck-routine-color-green-light: #dbf3e9;

$rck-routine-color-marine-dark: #25255b;
$rck-routine-color-marine: #2f2f75;
$rck-routine-color-marine-light: #d5d5e3;
