.rck-group-header {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: var(--spacing-8) 0 var(--spacing-8) 0;
  background-color: $rck-color-white;

  h3 {
    margin: 0;
    padding: 0;
    font-weight: 600;
    line-height: 1.5;
    color: $rck-color-gray;
  }

  &__action-element {
    padding-left: var(--spacing-16);
    a {
      text-decoration: none;
    }
  }
}
