/* Button Type: Primary (solid) */

@use '../../tokens/rck';

@mixin rck-btn-type-primary(
  $text-color,
  $bg-color,
  $text-color-hover,
  $bg-color-hover,
  $text-color-disabled,
  $bg-color-disabled
) {
  color: $text-color;
  background-color: $bg-color;

  @include rck-btn-hover {
    color: $text-color-hover;
    background-color: $bg-color-hover;
  }

  &[disabled] {
    color: $text-color-disabled;
    background-color: $bg-color-disabled;
  }

  @include rck-btn-loading($text-color) {
    background-color: $bg-color;
  }
}

/* Button Type: Secondary (hollow) */

@mixin rck-btn-type-secondary($color, $color-hover, $color-disabled) {
  box-shadow: inset 0 0 0 2px rgba($color, 1);
  background-color: transparent;
  color: $color;

  @include rck-btn-hover {
    color: $color-hover;
    background-color: transparent;
    box-shadow: inset 0 0 0 2px rgba($color-hover, 1);
  }

  &[disabled] {
    color: $color-disabled;
    background-color: transparent;
    box-shadow: inset 0 0 0 2px $color-disabled;
  }

  @include rck-btn-loading($color) {
    box-shadow: inset 0 0 0 2px rgba($color, 1);
    background-color: transparent;
  }
}

/* Button Type: Plain (no background) */

@mixin rck-btn-type-plain($color, $color-hover, $color-disabled) {
  color: $color;
  background-color: transparent;

  @include rck-btn-hover {
    color: $color-hover;
    background-color: transparent;
  }

  &[disabled] {
    color: $color-disabled;
    background-color: transparent;
  }

  @include rck-btn-loading($color) {
    background-color: transparent;
  }
}

/* Hover Helper */

@mixin rck-btn-hover {
  @media (hover: hover) {
    &:hover {
      @content;
    }
  }
  &:focus,
  &:active {
    @content;
  }
}

/* Loading Helper */

@mixin rck-btn-loading($icon-color) {
  &.rck-btn--loading {
    /* Loading button cannot be interacted with.  */
    /* Always keeps its default look and behaves as a disabled button. */
    @include rck-btn-hover {
      @content;
    }
    &[disabled] {
      @content;
    }
    &:after {
      border-left-color: $icon-color;
      border-right-color: $icon-color;
    }
  }
}

/* Global Button Styles */

.rck-btn,
a.rck-btn {
  display: flex;
  align-items: center;
  justify-content: space-between;

  height: auto;
  width: fit-content;

  font-weight: var(--font-weight-semibold);
  white-space: nowrap;
  text-decoration: none;

  cursor: pointer;
  border: 0;
  border-radius: 4px;
  box-shadow: none;
  transition: all 150ms ease-out;

  .rck-btn__label {
    line-height: var(--line-height-sm);
    display: inline-block;
    &:first-letter {
      text-transform: capitalize;
    }
  }

  @include rck-btn-hover {
    box-shadow: none;
    text-decoration: none;
  }

  &:focus {
    outline: 0;
  }

  &[disabled] {
    cursor: not-allowed;
  }

  /* Button Size (default: large) */

  min-height: var(--spacing-48);
  line-height: var(--spacing-48);
  min-width: 144px;
  font-size: var(--font-size-xl);
  padding: 0 var(--spacing-16);

  &.rck-btn--medium {
    min-height: 40px;
    line-height: 40px;
    min-width: 136px;
    font-size: var(--font-size-m);

    .rck-btn__icon {
      font-size: var(--font-size-m);
    }
  }

  &.rck-btn--small {
    min-height: 32px;
    line-height: 32px;
    min-width: 80px;
    font-size: var(--font-size-s);
    padding: 0 var(--spacing-8);

    .rck-btn__icon {
      font-size: var(--font-size-s);
    }
  }

  /* Button Type: Primary (solid) */

  @include rck-btn-type-primary(
    rck.$color-brand-neutral-white,
    rck.$color-brand-primary-500,
    rck.$color-brand-neutral-white,
    rck.$color-brand-primary-600,
    rck.$color-brand-neutral-white,
    rck.$color-brand-primary-300
  );

  &.rck-btn--color-error {
    @include rck-btn-type-primary(
      $rck-color-white,
      $rck-color-error-dark,
      $rck-color-white,
      $rck-color-error-darker,
      $rck-color-white,
      $rck-color-error-lighter
    );
  }

  &.rck-btn--color-white {
    @include rck-btn-type-primary(
      $rck-color-gray-dark,
      $rck-color-white,
      $rck-color-secondary,
      $rck-color-white,
      $rck-color-gray-light,
      $rck-color-white
    );
  }

  &.rck-btn--color-wellbeing {
    @include rck-btn-type-primary(
      rck.$color-brand-primary-700,
      rck.$color-wellbeing-primary-200,
      rck.$color-brand-primary-700,
      rck.$color-wellbeing-primary-300,
      rck.$color-wellbeing-primary-300,
      rck.$color-wellbeing-primary-200
    );
  }

  /* Button Type: Secondary (hollow) */

  &.rck-btn--type-secondary {
    @include rck-btn-type-secondary(
      $rck-color-secondary,
      $rck-color-secondary-dark,
      $rck-color-secondary-light
    );

    &.rck-btn--color-error {
      @include rck-btn-type-secondary(
        $rck-color-error-dark,
        $rck-color-error-darker,
        $rck-color-error-lighter
      );
    }

    &.rck-btn--color-white {
      @include rck-btn-type-secondary(
        $rck-color-white,
        $rck-color-white,
        rgba($rck-color-white, 0.5)
      );
    }
  }

  /* Button Type: Plain (no background) */

  &.rck-btn--type-plain {
    @include rck-btn-type-plain(
      $rck-color-secondary,
      $rck-color-secondary-dark,
      $rck-color-secondary-light
    );

    &.rck-btn--color-error {
      @include rck-btn-type-plain(
        $rck-color-error-dark,
        $rck-color-error-darker,
        $rck-color-error-lighter
      );
    }

    &.rck-btn--color-white {
      @include rck-btn-type-plain(
        $rck-color-white,
        $rck-color-white,
        rgba($rck-color-white, 0.5)
      );
    }
  }

  /* Icons */

  &.rck-btn--with-icon {
    /* On centered buttons with icons, mock an "icon" to the other side with
	 * pseudoelements, so the 'space-between' property pushes both to the
	 * sides and leaves the text in the center, instead of centering the icon
	 * along with the text with 'justify-content: center'. */
    &.rck-btn--with-icon-left.rck-btn--centered:after,
    &.rck-btn--with-icon-right.rck-btn--centered:before {
      content: '';
    }

    .rck-btn__icon,
    &.rck-btn--block.rck-btn--centered:not(.rck-btn--loading):after,
    &.rck-btn--block.rck-btn--centered:not(.rck-btn--loading):before {
      margin: 2px 0 0 0;
      width: 20px;
      display: flex;
    }

    &.rck-btn--with-icon-right {
      &.rck-btn--block.rck-btn--centered:not(.rck-btn--loading):before,
      .rck-btn__icon {
        margin-left: var(--spacing-8);
        justify-content: flex-end;
      }
    }
    &.rck-btn--with-icon-left {
      &.rck-btn--block.rck-btn--centered:not(.rck-btn--loading):after,
      .rck-btn__icon {
        margin-right: var(--spacing-8);
        justify-content: flex-start;
      }
    }
  }

  /* Block */

  &.rck-btn--block {
    width: 100%;
    max-width: 384px;
  }

  /* Centered content */

  &.rck-btn--centered:not(.rck-btn--block.rck-btn--with-icon) {
    justify-content: center;
  }

  /* Loading */

  &.rck-btn--loading {
    overflow: hidden;
    position: relative;
    color: transparent !important;
    cursor: not-allowed;

    &:after {
      content: '';
      display: inline-block;
      position: absolute;
      background: transparent;
      border-width: 4px;
      border-style: solid;
      border-top-color: transparent;
      border-bottom-color: transparent;
      border-radius: 50%;
      box-sizing: border-box;
      top: 50%;
      left: 50%;
      margin-top: -12px;
      margin-left: -12px;
      width: 24px;
      height: 24px;
      animation: spinning 1s ease-in-out infinite;
    }

    @keyframes spinning {
      0% {
        transform: rotate(0deg);
      }
      50% {
        transform: rotate(180deg);
      }
      100% {
        transform: rotate(360deg);
      }
    }

    &.rck-btn--small:after {
      border-width: 3px;
      margin-top: -9px;
      margin-left: -9px;
      width: 18px;
      height: 18px;
    }
  }
}
