.rck-btn-more {
  display: inline-block;
  cursor: pointer;

  &:hover,
  &:focus {
    outline: 0;
  }

  &__icon-wrapper {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    color: $rck-color-secondary;
    font-size: var(--font-size-xxl);
    // just to create a little padding between backgroung circle and tree dots icon
    padding: 2px;

    &::before {
      display: block;
      content: '';
      width: 26px;
      height: 26px;
      border-radius: 50%;
      opacity: 0;
      background-color: $rck-color-gray-light;
      position: absolute;
      transition: opacity 0.4s cubic-bezier(0.2, 0.8, 0.2, 1);
    }

    &:hover::before {
      opacity: 0.28;
    }
  }

  &--disabled,
  &:disabled {
    opacity: 0.5;
    cursor: not-allowed;
    user-select: none;

    &__icon-wrapper {
      &:before {
        display: none;
      }
    }
  }
}
