.rck-transparent-button {
  background-color: transparent;
  background-repeat: no-repeat;
  border: none;
  cursor: pointer;
  margin: 0;
  padding: 0;
  appearance: none;
  text-align: left;
  text-decoration: none;
  color: inherit;
  touch-action: manipulation;
  -webkit-tap-highlight-color: transparent;

  &--fill {
    width: 100%;
    height: 100%;
  }

  &--inline {
    display: inline-flex;
  }

  &:active,
  &:focus {
    background-color: transparent;
  }

  &--disabled,
  &[aria-disabled='true'] {
    opacity: 0.5;
    cursor: not-allowed;
    a {
      cursor: not-allowed !important;
    }
  }
}
