@use '../../tokens/rck';
@use '../../assets/scss/variables';

$rck-text-colors: (
  'grey-100': rck.$color-base-grey-100,
  'grey-200': rck.$color-base-grey-200,
  'grey-300': rck.$color-base-grey-300,
  'grey-400': rck.$color-base-grey-400,
  'grey-500': rck.$color-base-grey-500,
  'error': rck.$color-semantic-error-600,
  'warning': rck.$color-semantic-warning-600,
  'success': rck.$color-semantic-success-600,
  'white': rck.$color-base-white,
  'brand': rck.$color-brand-primary-500,
);

$rck-text-text-align: (center, left, right);

// default browser headings reset
@each $heading in (h1, h2, h3, h4, h5) {
  #{$heading} {
    margin: 0;
    padding: 0;
  }
}

@mixin strong-and-emphasis-variations() {
  strong,
  b {
    font-weight: rck.$font-weight-semibold;
  }

  em,
  i {
    font-style: italic;
  }
}

.rck-text {
  font-weight: inherit;
  text-align: inherit;
  color: inherit;
  font-style: inherit;

  // type
  &.rck-text--type- {
    // base types
    &headline-1-semibold {
      @include rck.typography-headline-1-semibold();
      @include strong-and-emphasis-variations();
    }

    &headline-1-regular {
      @include rck.typography-headline-1-regular();
      @include strong-and-emphasis-variations();
    }

    &headline-2-semibold {
      @include rck.typography-headline-2-semibold();
      @include strong-and-emphasis-variations();
    }

    &headline-2-regular {
      @include rck.typography-headline-2-regular();
      @include strong-and-emphasis-variations();
    }

    &hero-1-semibold {
      @include rck.typography-hero-1-semibold();
      @include strong-and-emphasis-variations();
    }

    &hero-1-regular {
      @include rck.typography-hero-1-regular();
      @include strong-and-emphasis-variations();
    }

    &hero-2-semibold {
      @include rck.typography-hero-2-semibold();
      @include strong-and-emphasis-variations();
    }

    &hero-2-regular {
      @include rck.typography-hero-2-regular();
      @include strong-and-emphasis-variations();
    }

    &title-1-semibold {
      @include rck.typography-title-1-semibold();
      @include strong-and-emphasis-variations();
    }

    &title-1-regular {
      @include rck.typography-title-1-regular();
      @include strong-and-emphasis-variations();
    }

    &title-2-semibold {
      @include rck.typography-title-2-semibold();
      @include strong-and-emphasis-variations();
    }

    &title-2-regular {
      @include rck.typography-title-2-regular();
      @include strong-and-emphasis-variations();
    }

    &title-3-semibold {
      @include rck.typography-title-3-semibold();
      @include strong-and-emphasis-variations();
    }

    &title-3-regular {
      @include rck.typography-title-3-regular();
      @include strong-and-emphasis-variations();
    }

    &body-1-semibold {
      @include rck.typography-body-1-semibold();
      @include strong-and-emphasis-variations();
    }

    &body-1-regular {
      @include rck.typography-body-1-regular();
      @include strong-and-emphasis-variations();
    }

    &body-2-semibold {
      @include rck.typography-body-2-semibold();
      @include strong-and-emphasis-variations();
    }

    &body-2-regular {
      @include rck.typography-body-2-regular();
      @include strong-and-emphasis-variations();
    }

    &caption-1-semibold {
      @include rck.typography-caption-1-semibold();
      @include strong-and-emphasis-variations();
    }

    &caption-1-regular {
      @include rck.typography-caption-1-regular();
      @include strong-and-emphasis-variations();
    }

    &caption-1-italic {
      @include rck.typography-caption-1-italic();
      @include strong-and-emphasis-variations();
    }

    &caption-2-semibold {
      @include rck.typography-caption-2-semibold();
      @include strong-and-emphasis-variations();
    }

    &caption-2-regular {
      @include rck.typography-caption-2-regular();
      @include strong-and-emphasis-variations();
    }

    &caption-2-italic {
      @include rck.typography-caption-2-italic();
      @include strong-and-emphasis-variations();
    }

    // responsive types
    &headline-1-semibold-responsive {
      @include rck.typography-headline-1-semibold-responsive();
      @include strong-and-emphasis-variations();
    }

    &headline-1-regular-responsive {
      @include rck.typography-headline-1-regular-responsive();
      @include strong-and-emphasis-variations();
    }

    &headline-2-semibold-responsive {
      @include rck.typography-headline-2-semibold-responsive();
      @include strong-and-emphasis-variations();
    }

    &headline-2-regular-responsive {
      @include rck.typography-headline-2-regular-responsive();
      @include strong-and-emphasis-variations();
    }

    &title-1-semibold-responsive {
      @include rck.typography-title-1-semibold-responsive();
      @include strong-and-emphasis-variations();
    }

    &title-1-regular-responsive {
      @include rck.typography-title-1-regular-responsive();
      @include strong-and-emphasis-variations();
    }

    &title-2-semibold-responsive {
      @include rck.typography-title-2-semibold-responsive();
      @include strong-and-emphasis-variations();
    }

    &title-2-regular-responsive {
      @include rck.typography-title-2-regular-responsive();
      @include strong-and-emphasis-variations();
    }

    &title-3-semibold-responsive {
      @include rck.typography-title-3-semibold-responsive();
      @include strong-and-emphasis-variations();
    }

    &title-3-regular-responsive {
      @include rck.typography-title-3-regular-responsive();
      @include strong-and-emphasis-variations();
    }

    // public site types
    &h1-semibold-public-site {
      @include rck.typography-h1-semibold-public-site();
      @include strong-and-emphasis-variations();
    }

    &h1-regular-public-site {
      @include rck.typography-h1-regular-public-site();
      @include strong-and-emphasis-variations();
    }

    &h2-semibold-public-site {
      @include rck.typography-h2-semibold-public-site();
      @include strong-and-emphasis-variations();
    }

    &h2-regular-public-site {
      @include rck.typography-h2-regular-public-site();
      @include strong-and-emphasis-variations();
    }

    &h3-semibold-public-site {
      @include rck.typography-h3-semibold-public-site();
      @include strong-and-emphasis-variations();
    }

    &h3-regular-public-site {
      @include rck.typography-h3-regular-public-site();
      @include strong-and-emphasis-variations();
    }

    &h4-semibold-public-site {
      @include rck.typography-h4-semibold-public-site();
      @include strong-and-emphasis-variations();
    }

    &h4-regular-public-site {
      @include rck.typography-h4-regular-public-site();
      @include strong-and-emphasis-variations();
    }

    &h5-semibold-public-site {
      @include rck.typography-h5-semibold-public-site();
      @include strong-and-emphasis-variations();
    }

    &h5-regular-public-site {
      @include rck.typography-h5-regular-public-site();
      @include strong-and-emphasis-variations();
    }

    &h6-semibold-public-site {
      @include rck.typography-h6-semibold-public-site();
      @include strong-and-emphasis-variations();
    }

    &h6-regular-public-site {
      @include rck.typography-h6-regular-public-site();
      @include strong-and-emphasis-variations();
    }

    &title-1-semibold-public-site {
      @include rck.typography-title-1-semibold-public-site();
      @include strong-and-emphasis-variations();
    }

    &title-1-regular-public-site {
      @include rck.typography-title-1-regular-public-site();
      @include strong-and-emphasis-variations();
    }
  }

  // ellipsis
  &--no-wrap {
    @include rck-ellipsis();
  }

  // colors
  @each $type, $color in $rck-text-colors {
    &--color-#{$type} {
      color: $color;
    }
  }

  // text alignment
  @each $align in $rck-text-text-align {
    &--align-#{$align} {
      text-align: $align;
    }
  }

  // margins
  @each $size, $value in variables.$spacing-layout-sizes {
    &--margin-top-#{$size} {
      margin-top: $value;
    }
    &--margin-bottom-#{$size} {
      margin-bottom: $value;
    }
  }
}
