.rck-menu-item {
  font-size: var(--font-size-m);
  margin: 0;

  &__item-wrapper {
    display: flex;
    flex-direction: row;
    outline: none;

    &:hover {
      .rck-menu-item__text {
        color: $rck-color-secondary-dark;
      }
      .rck-menu-item__item--header {
        cursor: auto;
        .rck-menu-item__text {
          color: $rck-color-gray;
        }
      }
      .rck-menu-item__item--active {
        .rck-menu-item__text {
          color: $rck-color-white;
        }
      }
    }
  }

  &__item {
    cursor: pointer;
    flex: 1;
    display: flex;
    align-items: center;
    padding: var(--spacing-8);

    &--active {
      cursor: auto;
      background-color: $rck-color-secondary;
      border-radius: 4px;
    }

    &--header {
      cursor: auto;

      .rck-menu-item__text {
        font-size: var(--font-size-m);
      }
    }

    &--open-item {
      border-bottom-color: $rck-color-gray-lighter;
    }

    &--blank {
      opacity: 0.4;
    }
  }

  &__text {
    flex: 1;
    overflow: hidden;
    display: inline-block;
    white-space: normal;
    color: $rck-color-gray;
    font-size: var(--font-size-s);
    margin-left: var(--spacing-16);

    &--active {
      font-weight: var(--font-weight-semibold);
      color: $rck-color-white;
    }
  }

  &__badge {
    margin-left: var(--spacing-8);
    padding: 4px var(--spacing-8);
  }

  &-no-expanded {
    .rck-menu-item__text {
      max-width: 100px;
    }
  }
}
