.rck-menu {
  display: flex;
  flex-direction: column;
  font-size: var(--font-size-s);
  margin: 0;
  padding: 0;
  background-color: $rck-color-white;
  height: 100%;

  ul {
    list-style: none;
    margin: 0;
    padding: 0;
  }

  &__profile-info-header {
    padding-bottom: var(--spacing-16);
    border-bottom: 1px solid $rck-color-gray-lighter;
  }

  &__list {
    height: 100%;
  }

  ul.rck-menu__list {
    padding-top: var(--spacing-16);
    padding-right: var(--spacing-8);
    padding-left: var(--spacing-8);
  }

  &::-webkit-scrollbar {
    display: none;
  }

  &--no-expanded {
    width: 216px;
  }
}
