@use "sass:map";
@use '../../../src/tokens/rck';
@use '../utils';

.foundation__typography--headline-1-semibold {
  @include rck.typography-headline-1-semibold();
}

.foundation__typography--headline-1-regular {
  @include rck.typography-headline-1-regular();
}

.foundation__typography--headline-2-semibold {
  @include rck.typography-headline-2-semibold();
}

.foundation__typography--headline-2-regular {
  @include rck.typography-headline-2-regular();
}

.foundation__typography--hero-1-semibold {
  @include rck.typography-hero-1-semibold();
}

.foundation__typography--hero-1-regular {
  @include rck.typography-hero-1-regular();
}

.foundation__typography--hero-2-semibold {
  @include rck.typography-hero-2-semibold();
}

.foundation__typography--hero-2-regular {
  @include rck.typography-hero-2-regular();
}

.foundation__typography--title-1-semibold {
  @include rck.typography-title-1-semibold();
}

.foundation__typography--title-1-regular {
  @include rck.typography-title-1-regular();
}

.foundation__typography--title-2-semibold {
  @include rck.typography-title-2-semibold();
}

.foundation__typography--title-2-regular {
  @include rck.typography-title-2-regular();
}

.foundation__typography--title-3-semibold {
  @include rck.typography-title-3-semibold();
}

.foundation__typography--title-3-regular {
  @include rck.typography-title-3-regular();
}

.foundation__typography--body-1-semibold {
  @include rck.typography-body-1-semibold();
}

.foundation__typography--body-1-regular {
  @include rck.typography-body-1-regular();
}

.foundation__typography--body-2-semibold {
  @include rck.typography-body-2-semibold();
}

.foundation__typography--body-2-regular {
  @include rck.typography-body-2-regular();
}

.foundation__typography--caption-1-semibold {
  @include rck.typography-caption-1-semibold();
}

.foundation__typography--caption-1-regular {
  @include rck.typography-caption-1-regular();
}

.foundation__typography--caption-1-italic {
  @include rck.typography-caption-1-italic();
}

.foundation__typography--caption-2-semibold {
  @include rck.typography-caption-2-semibold();
}

.foundation__typography--caption-2-regular {
  @include rck.typography-caption-2-regular();
}

.foundation__typography--caption-2-italic {
  @include rck.typography-caption-2-italic();
}

$typography-base: (
  'hero-1': (
    'regular': 'foundation__typography--hero-1-regular',
    'semibold': 'foundation__typography--hero-1-semibold',
  ),
  'hero-2': (
    'regular': 'foundation__typography--hero-2-regular',
    'semibold': 'foundation__typography--hero-2-semibold',
  ),
  'headline-1': (
    'regular': 'foundation__typography--headline-1-regular',
    'semibold': 'foundation__typography--headline-1-semibold',
  ),
  'headline-2': (
    'regular': 'foundation__typography--headline-2-regular',
    'semibold': 'foundation__typography--headline-2-semibold',
  ),
  'title-1': (
    'regular': 'foundation__typography--title-1-regular',
    'semibold': 'foundation__typography--title-1-semibold',
  ),
  'title-2': (
    'regular': 'foundation__typography--title-2-regular',
    'semibold': 'foundation__typography--title-2-semibold',
  ),
  'title-3': (
    'regular': 'foundation__typography--title-3-regular',
    'semibold': 'foundation__typography--title-3-semibold',
  ),
  'body-1': (
    'regular': 'foundation__typography--body-1-regular',
    'semibold': 'foundation__typography--body-1-semibold',
  ),
  'body-2': (
    'regular': 'foundation__typography--body-2-regular',
    'semibold': 'foundation__typography--body-2-semibold',
  ),
  'caption-1': (
    'regular': 'foundation__typography--caption-1-regular',
    'semibold': 'foundation__typography--caption-1-semibold',
    'italic': 'foundation__typography--caption-1-italic',
  ),
  'caption-2': (
    'regular': 'foundation__typography--caption-2-regular',
    'semibold': 'foundation__typography--caption-2-semibold',
    'italic': 'foundation__typography--caption-2-italic',
  ),
);

.foundation__typography {
  .typography-table {
    display: flex;
    flex-flow: column nowrap;
    width: 100%;
    font-weight: 400;
    background-color: white;

    .header,
    .row {
      display: flex;
      flex-flow: row nowrap;
      min-height: 64px;
    }

    .header {
      text-transform: uppercase;
      font-weight: 500;
      &.main {
        justify-content: flex-end;
        gap: 3%;

        .cell.border {
          border-bottom: 2px solid black;
        }
      }
    }

    .row.odd {
      background-color: #fafafb;
    }

    .cell {
      display: flex;
      flex: 1;
      justify-content: center;
      align-items: center;
      white-space: nowrap;

      span {
        padding: 0.5em 8px;
      }
    }
  }
}

.foundation__typography--headline-1-semibold-responsive {
  @include rck.typography-headline-1-semibold-responsive();
}

.foundation__typography--headline-1-regular-responsive {
  @include rck.typography-headline-1-regular-responsive();
}

.foundation__typography--headline-2-semibold-responsive {
  @include rck.typography-headline-2-semibold-responsive();
}

.foundation__typography--headline-2-regular-responsive {
  @include rck.typography-headline-2-regular-responsive();
}

.foundation__typography--title-1-semibold-responsive {
  @include rck.typography-title-1-semibold-responsive();
}

.foundation__typography--title-1-regular-responsive {
  @include rck.typography-title-1-regular-responsive();
}

.foundation__typography--title-2-semibold-responsive {
  @include rck.typography-title-2-semibold-responsive();
}

.foundation__typography--title-2-regular-responsive {
  @include rck.typography-title-2-regular-responsive();
}

.foundation__typography--title-3-semibold-responsive {
  @include rck.typography-title-3-semibold-responsive();
}

.foundation__typography--title-3-regular-responsive {
  @include rck.typography-title-3-regular-responsive();
}

$typography-responsive: (
  'headline-1': (
    'regular': 'foundation__typography--headline-1-regular-responsive',
    'semibold': 'foundation__typography--headline-1-semibold-responsive',
  ),
  'headline-2': (
    'regular': 'foundation__typography--headline-2-regular-responsive',
    'semibold': 'foundation__typography--headline-2-semibold-responsive',
  ),
  'title-1': (
    'regular': 'foundation__typography--title-1-regular-responsive',
    'semibold': 'foundation__typography--title-1-semibold-responsive',
  ),
  'title-2': (
    'regular': 'foundation__typography--title-2-regular-responsive',
    'semibold': 'foundation__typography--title-2-semibold-responsive',
  ),
  'title-3': (
    'regular': 'foundation__typography--title-3-regular-responsive',
    'semibold': 'foundation__typography--title-3-semibold-responsive',
  ),
);

.mobile-version {
  display: none;

  @include rck.layout-mobile() {
    display: initial;
  }
}

.desktop-version {
  display: initial;

  @include rck.layout-mobile() {
    display: none;
  }
}

.foundation__typography--h1-semibold-public-site {
  @include rck.typography-h1-semibold-public-site();
}

.foundation__typography--h1-regular-public-site {
  @include rck.typography-h1-regular-public-site();
}

.foundation__typography--h2-semibold-public-site {
  @include rck.typography-h2-semibold-public-site();
}

.foundation__typography--h2-regular-public-site {
  @include rck.typography-h2-regular-public-site();
}

.foundation__typography--h3-semibold-public-site {
  @include rck.typography-h3-semibold-public-site();
}

.foundation__typography--h3-regular-public-site {
  @include rck.typography-h3-regular-public-site();
}

.foundation__typography--h4-semibold-public-site {
  @include rck.typography-h4-semibold-public-site();
}

.foundation__typography--h4-regular-public-site {
  @include rck.typography-h4-regular-public-site();
}

.foundation__typography--h5-semibold-public-site {
  @include rck.typography-h5-semibold-public-site();
}

.foundation__typography--h5-regular-public-site {
  @include rck.typography-h5-regular-public-site();
}

.foundation__typography--h6-semibold-public-site {
  @include rck.typography-h6-semibold-public-site();
}

.foundation__typography--h6-regular-public-site {
  @include rck.typography-h6-regular-public-site();
}

.foundation__typography--title-1-semibold-public-site {
  @include rck.typography-title-1-semibold-public-site();
}

.foundation__typography--title-1-regular-public-site {
  @include rck.typography-title-1-regular-public-site();
}

$typography-public-site: (
  'h1': (
    'regular': 'foundation__typography--h1-regular-public-site',
    'semibold': 'foundation__typography--h1-semibold-public-site',
  ),
  'h2': (
    'regular': 'foundation__typography--h2-regular-public-site',
    'semibold': 'foundation__typography--h2-semibold-public-site',
  ),
  'h3': (
    'regular': 'foundation__typography--h3-regular-public-site',
    'semibold': 'foundation__typography--h3-semibold-public-site',
  ),
  'h4': (
    'regular': 'foundation__typography--h4-regular-public-site',
    'semibold': 'foundation__typography--h4-semibold-public-site',
  ),
  'h5': (
    'regular': 'foundation__typography--h5-regular-public-site',
    'semibold': 'foundation__typography--h5-semibold-public-site',
  ),
  'h6': (
    'regular': 'foundation__typography--h6-regular-public-site',
    'semibold': 'foundation__typography--h6-semibold-public-site',
  ),
  'title-1': (
    'regular': 'foundation__typography--title-1-regular-public-site',
    'semibold': 'foundation__typography--title-1-semibold-public-site',
  ),
);

/// Export the stringified map as a CSS variable
:export {
  typographyBase: utils.map-to-json($typography-base);
  typographyResponsive: utils.map-to-json($typography-responsive);
  typographyPublicSite: utils.map-to-json($typography-public-site);
}
