.rck-text-area {
  textarea {
    font-family: var(--font-family-default);
    @include rck-text-input-rounded-border();
    padding: var(--spacing-16);
    resize: none;
    overflow: hidden;
    width: 100%;
    outline: none;
    box-sizing: border-box;

    @include rck-input-text-states();
  }

  &--disabled {
    textarea {
      @include rck-input-text-disabled();

      &:hover {
        border-color: inherit;
      }
    }
  }

  &--scrollable {
    textarea {
      overflow: auto;
    }
  }

  &--error {
    textarea {
      @include rck-input-text-error();
      @include rck-input-border-error();

      &:hover,
      &:active,
      &:focus {
        @include rck-input-text-error();
        @include rck-input-border-error();
      }
    }
  }

  &__text-helper {
    @include rck-input-text-label();

    &--error {
      @include rck-input-text-error();
    }
  }
}
