$rck-cloud-list-widths: (
  '20pc': 20%,
  '25pc': 25%,
  '30pc': 30%,
  '35pc': 35%,
  '40pc': 40%,
  '45pc': 45%,
  '50pc': 50%,
  '55pc': 55%,
  '60pc': 60%,
  '65pc': 65%,
  '70pc': 70%,
  '75pc': 75%,
  '80pc': 80%,
  '100pc': 100%,
);

@mixin rck-list-apply-max-width() {
  @each $width-str, $width in $rck-cloud-list-widths {
    &--maxwidth-#{$width-str} {
      > li {
        max-width: $width;
      }
    }
  }
}

.rck-cloud-list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  list-style: none;
  padding: 0;
  margin: 0;

  > li {
    display: inline-flex;
    margin: var(--spacing-8) var(--spacing-8) 0 0;
  }
  @include rck-list-apply-max-width();
}
