@mixin rck-list-item-v-align() {
  &--top {
    align-items: flex-start;
  }

  &--center {
    align-items: center;
  }

  &--bottom {
    align-items: flex-end;
  }
}

@mixin rck-list-item-font-size() {
  &--fsize-medium {
    font-size: var(--font-size-m);
  }

  &--fsize-small {
    font-size: var(--font-size-s);
  }
}

@mixin rck-list-remove-last-margin() {
  > .rck-list-item {
    &:last-child {
      margin-bottom: 0;
    }
  }
}

@mixin rck-list-remove-first-margin() {
  > .rck-list-item {
    &:first-child {
      margin-top: 0;
    }
  }
}

@mixin rck-list-item-spacing($type, $location) {
  &--item-#{$location}-#{$type}-spacing-0 {
    > .rck-list-item {
      #{$type}-#{$location}: 0;
    }
  }

  &--item-#{$location}-#{$type}-spacing-8 {
    > .rck-list-item {
      #{$type}-#{$location}: var(--spacing-8);
    }
  }

  &--item-#{$location}-#{$type}-spacing-16 {
    > .rck-list-item {
      #{$type}-#{$location}: var(--spacing-16);
    }
  }

  &--item-#{$location}-#{$type}-spacing-24 {
    > .rck-list-item {
      #{$type}-#{$location}: var(--spacing-24);
    }
  }
}

$var-rck-rck-list-columns: 1, 2, 3, 4;

$var-rck-list-text-lines: 1, 2, 3, 4;

$var-rck-list-no-native-columns: (
  4: 25%,
  3: 33%,
  2: 50%,
  1: 100%,
);

@mixin rck-list-columns() {
  @each $list-column in $var-rck-rck-list-columns {
    &--columns-#{$list-column} {
      columns: $list-column;
    }
  }
}

@mixin rck-list-no-native-columns() {
  width: 100%;

  &--no-native-columns {
    columns: unset;
  }

  @each $list-nn-col, $pc-column in $var-rck-list-no-native-columns {
    &.rck-list--columns-#{$list-nn-col}.rck-list--no-native-columns
      > .rck-list-item {
      width: $pc-column;
      float: left;
    }
  }
}

.rck-list {
  margin: 0;
  padding: 0;
  font-size: var(--font-size-m);
  list-style: none;
  list-style-position: inside;

  &--horizontal {
    display: flex;
    flex-direction: row;
  }

  &--wrapped {
    flex-wrap: wrap;
  }

  @include rck-list-columns();

  @include rck-list-no-native-columns();

  > .rck-list-item {
    padding: 0;
    margin: 0;
    break-inside: avoid-column;

    &:last-child {
      border-bottom: none;
    }

    &--disabled {
      @include rck-overlaped-element();
    }

    &__overlap {
      @include rck-overlap-element();
    }

    &__no-border {
      border-bottom: 0px;
    }

    p,
    strong {
      margin: 0;
    }

    .rck-deactivable-content {
      flex: 1 1 auto;
      margin: 0;
    }
  }

  &--no-separator {
    .rck-list-item {
      border-bottom: none;
    }
  }

  @include rck-list-item-spacing('padding', 'top');

  @include rck-list-item-spacing('padding', 'bottom');

  @include rck-list-item-spacing('padding', 'right');

  @include rck-list-item-spacing('padding', 'left');

  @include rck-list-item-spacing('margin', 'top');

  @include rck-list-item-spacing('margin', 'bottom');

  @include rck-list-remove-last-margin();

  @include rck-list-remove-first-margin();
}

@import 'ListItems/CompactListItem';
@import 'ListItems/RegularListItem';
@import 'ListItems/CustomListItem';
@import 'ListItems/SelectableListItem';
@import 'ListItems/LocationListItem';
@import 'utils/ListSubtitle';
@import 'utils/ListTitle';
@import 'utils/ListLink';
@import 'utils/ListThumbnail';
@import 'utils/ClickableListItem';
@import 'utils/ListColoredText';
@import 'utils/ListCompactRightSubtitle';
@import 'utils/ListCompactRightTitle';
@import 'utils/ListCompactSubtitle';
@import 'utils/ListCompactTitle';
@import 'utils/ListBckImageIcon';
@import 'utils/ListSecondaryText';
