@use 'sass:math';

$stepbar-border: 2px;
$stepbar-border-fancy: 3px;
$stepbar-circle-size: 35px;
$stepbar-fancy-circle-size: 100px;

.rck-stepbar {
  counter-reset: step;
  display: flex;
}

.rck-stepbar__step {
  list-style-type: none;
  width: 100%;
  position: relative;
  text-align: center;
  top: 40px;

  &::after {
    width: 100%;
    height: $stepbar-border;
    content: '';
    position: absolute;
    background-color: $rck-color-gray-light;
    top: math.div($stepbar-circle-size, 2);
    left: -50%;
  }

  &:first-child::after {
    content: none;
  }
}

.rck-step__circle {
  width: $stepbar-circle-size;
  height: $stepbar-circle-size;
  content: counter(step);
  counter-increment: step;
  line-height: 1;
  align-items: center;
  text-align: center;
  justify-content: center;
  display: flex;
  margin: 0 auto 8px;
  border-radius: 50%;
  background-color: $rck-color-gray-light;
  box-shadow: inset 0 0 0 $stepbar-border $rck-color-gray-light;
  font-size: var(--font-size-s);
  color: $rck-color-white;
  font-weight: var(--font-weight-semibold);
  position: relative;
  bottom: 45px;
  z-index: 1;
}

.rck-step--active {
  & + .rck-step::after {
    background-color: $rck-color-gray-light;
  }
}

.rck-stepbar--hollow {
  .rck-step__circle span {
    background: $rck-color-white;
    position: absolute;
    top: $stepbar-border;
    bottom: $stepbar-border;
    right: $stepbar-border;
    left: $stepbar-border;
    border-radius: 50%;
    align-items: center;
    text-align: center;
    display: flex;
    justify-content: center;
  }

  .rck-step--done {
    .rck-step__circle span {
      color: $rck-color-secondary;
    }
  }
}

.rck-step--done {
  .rck-step__circle {
    box-shadow: none;
    color: $rck-color-white;
    background-color: $rck-color-primary;
  }

  .rck-step__label-title {
    color: $rck-color-primary;
    font-size: var(--font-size-s);
  }

  .rck-step__label-text {
    color: $rck-color-gray-dark;
  }

  & + .rck-step::after {
    // line between circles
    background-color: $rck-color-primary !important;
    z-index: auto;
  }
}

.rck-step--active {
  & + .rck-step::after {
    // line between circles
    background-color: $rck-color-gray-light !important;
    z-index: auto;
  }
}

.rck-step__circle-img {
  width: 38px;
  height: 38px;
  background: $rck-color-gray-light;
}

.rck-step__label {
  min-height: 48px;
  max-width: 300px;
  color: $rck-color-gray-light;
  margin: 0 auto;
  position: relative;
  bottom: 38px;
}

.rck-step__label-title {
  font-size: var(--font-size-xs);
  font-weight: var(--font-weight-semibold);
}

.rck-step__label-text {
  font-size: var(--font-size-xs);
}

.rck-stepbar--fancy {
  .rck-stepbar__step {
    &::after {
      top: math.div($stepbar-fancy-circle-size, 2);
      height: $stepbar-border-fancy;
    }
  }

  .rck-step__circle {
    width: $stepbar-fancy-circle-size;
    height: $stepbar-fancy-circle-size;
    box-shadow: inset 0 0 0 $stepbar-border-fancy $rck-color-gray-light;
    font-weight: var(--font-weight-semibold);
    margin: 0 auto 16px;

    span {
      background: $rck-color-white;
      position: absolute;
      top: $stepbar-border-fancy;
      bottom: $stepbar-border-fancy;
      right: $stepbar-border-fancy;
      left: $stepbar-border-fancy;
      border-radius: 50%;
      align-items: center;
      text-align: center;
      display: flex;
      justify-content: center;
    }
  }

  .rck-step--done {
    .rck-step__label {
      position: relative;
    }

    .rck-step__circle {
      box-shadow: none;

      span {
        color: $rck-color-secondary;
      }
    }
  }

  .rck-step__label-title {
    font-size: var(--font-size-xl);
  }

  .rck-step__label-text {
    font-size: var(--font-size-m);
  }
}
