@keyframes tabSlideIn {
  0% {
    opacity: 0;
    transform: translateY(-10%);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.rck-tabs {
  &__list {
    display: flex;
    flex-direction: row;
    height: var(--spacing-32);
    justify-content: space-around;
    margin: 0;
    padding-inline-start: 0;
    align-items: center;
    list-style: none;
    background-color: $rck-color-white;
    border-radius: 4px;
  }

  &--hug-content {
    .rck-tabs__list {
      justify-content: initial;
    }

    .rck-tab {
      flex: initial;
      padding-left: var(--spacing-16);
      padding-right: var(--spacing-16);
    }
  }
}

.rck-tab {
  display: flex;
  height: var(--spacing-32);
  position: relative;
  justify-content: center;
  align-items: center;
  flex: 1 1;
  text-align: center;
  margin: 0;
  color: $rck-color-gray;
  outline: 0;
  font-size: var(--font-size-s);
  letter-spacing: var(--letter-spacing-s);
  cursor: pointer;
  padding-left: var(--spacing-8);
  padding-right: var(--spacing-8);

  &:first-child {
    &::before {
      height: 0;
    }
  }

  &::before {
    content: '';
    height: var(--spacing-16);
    width: 1px;
    position: absolute;
    left: 0;
    background-color: $rck-color-gray-light;
  }

  &--no-separator {
    &::before {
      display: none;
    }
  }

  &--active {
    height: var(--spacing-32);
    color: $rck-color-gray-lighter;
    border-radius: 4px;
    background-color: $rck-color-secondary;
    box-shadow: 1px 1px 2px 0 rgba(57, 68, 89, 0.15),
      -1px -1px 2px 0 rgba(57, 68, 89, 0.15);
    cursor: default;
    letter-spacing: -0.012em;

    strong {
      font-weight: var(--font-weight-semibold);
    }

    &:focus {
      outline: 0;
    }

    &::before {
      height: 0;
    }
  }

  @each $type, $color in $rck-global-color-palette {
    &--active-color-#{$type} {
      background-color: map-get($color, 'base');
    }
  }

  &--disabled {
    cursor: not-allowed;
    color: $rck-color-gray-semi;
  }
}

.rck-tab-panel {
  &--entering {
    animation: tabSlideIn 0.5s cubic-bezier(0.2, 0.8, 0.2, 1) backwards;
  }
}
