$color-base: #394459;
$color-background: #ffffff;
$color-brand: #2aabcb;
$color-brand-dark: #2289a2;

$color-primary: #1dbc54;

$color-notification: #3b768a;

$color-background-negative: $color-base;

$color-grey: mix($color-base, $color-background, 5%); // $color-base at 5%
$color-grey-10: mix($color-base, $color-background, 10%);
$color-grey-15: mix($color-base, $color-background, 15%);
$color-grey-25: mix($color-base, $color-background, 25%);
$color-grey-40: mix($color-base, $color-background, 40%);
$color-grey-50: mix($color-base, $color-background, 50%);
$color-grey-60: mix($color-base, $color-background, 60%);
$color-grey-80: mix($color-base, $color-background, 80%);
$color-dark: #394456;

$color-brand-80: mix(
  $color-brand,
  $color-background,
  80%
); // $color-brand at 80%
$color-brand-50: mix(
  $color-brand,
  $color-background,
  50%
); // $color-brand at 50%
$color-brand-20: mix(
  $color-brand,
  $color-background,
  20%
); // $color-brand at 20%
$color-brand-12: mix(
  $color-brand,
  $color-background,
  12%
); // $color-brand at 12%
$color-brand-10: mix(
  $color-brand,
  $color-background,
  10%
); // $color-brand at 10%

$gradient-1-from: $color-brand;
$gradient-1-to: #3fc1d0;

$level-success: #70c041;

$level-default: $color-base;

$level-warning: #f57c00;

$level-danger: #cc0000;
$color-donut-blocked: $level-danger;

$reputation-level-5: $level-success;
$reputation-level-4: #889040;
$reputation-level-3: $level-warning;
$reputation-level-2: #e26c34;
$reputation-level-1: $level-danger;
$reputation-level-unknown: $color-grey-40;

$level-success-15: mix($level-success, $color-background, 15%);
$level-danger-40: mix($level-danger, $color-background, 40%);
$level-danger-10: mix($level-danger, $color-background, 10%);

$color-button-green: $level-success;
$color-white: #ffffff;
$color-profile-header-circle-stroke: #89bd55;
$color-form-input-background: #faf7f7;

$color-toggle: $color-brand-50;

$color-progress-trail: #9ba0a9;

$color-plan-small: #61cbbf;
$color-plan-medium: #3fc1d0;
$color-plan-large: #039be5;

$color-appbar-background: #f4f4f4;

$color-social-facebook: #445499;
$color-social-twitter: #00aced;

$background-grey: #f5f5f7;
$background-grey-dark: #d7d9dd;
$color-card: #757c8b;

$color-alert-box: #fec866;

$color-accent: #fd5310;
$color-offline: #babec6;
$color-tampered: #ffddde;
