@use '../../tokens/rck';

$rck-toast-max-width: 784px;
$rck-toast-type-colors: (
  'error': (
    'color': rck.$color-semantic-error-500,
    'bgColor': rck.$color-semantic-error-300,
  ),
  'success': (
    'color': rck.$color-semantic-success-500,
    'bgColor': rck.$color-semantic-success-300,
  ),
  'warning': (
    'color': rck.$color-semantic-warning-500,
    'bgColor': rck.$color-semantic-warning-300,
  ),
  'info': (
    'color': rck.$color-brand-primary-500,
    'bgColor': rck.$color-brand-primary-200,
  ),
);

@mixin rck-toast-set-positions {
  &-center {
    @content;
    left: 50%;
    transform: translateX(-50%);
  }
  &-left {
    @content;
    left: rck.$spacing-16;
  }
  &-right {
    @content;
    right: rck.$spacing-16;
  }
}

.rck-toast {
  padding: rck.$spacing-8 rck.$spacing-16;
  background-color: rck.$color-brand-neutral-white;
  width: calc(100% - rck.$spacing-32);
  max-width: $rck-toast-max-width;
  margin: 0;
  position: fixed;
  box-shadow: rck.$shadow-200;
  border-radius: rck.$radius-100;
  z-index: $z-index-portals;
  animation: rck-toast-animation-fade 300ms ease-out forwards;

  &__wrapper {
    display: flex;
    position: relative;
    flex-direction: row;
    gap: rck.$spacing-16;
  }

  &__icon {
    display: flex;
    min-width: 36px;
    justify-content: center;
    align-items: center;
  }

  &__content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex: 1;
    min-width: 0;
  }

  &__title {
    @include rck.typography-body-2($weight: 'semibold');
    @include rck-ellipsis(1);
  }

  &__message {
    @include rck.typography-caption-1();
    @include rck-ellipsis(2);
    color: rck.$color-brand-neutral-500;
  }

  &__close {
    display: flex;
    align-items: center;
  }

  &__close-button {
    color: inherit;
    padding: rck.$spacing-8;
  }

  @each $type, $colors in $rck-toast-type-colors {
    &--type-#{$type} {
      background-color: map-get($colors, 'bgColor');

      .rck-toast__icon,
      .rck-toast__title,
      .rck-toast__close {
        color: map-get($colors, 'color');
      }
    }
  }

  &--position {
    &-bottom {
      @include rck-toast-set-positions {
        bottom: rck.$spacing-16;
      }
    }
    &-top {
      @include rck-toast-set-positions {
        top: rck.$spacing-16;
      }
    }
  }
}

// desktop
@include breakpoint(sm) {
  .rck-toast {
    padding: rck.$spacing-16;

    &__title {
      @include rck.typography-title-3($weight: 'semibold', $responsive: false);
    }

    &__message {
      @include rck.typography-body-2();
    }
  }
}

@keyframes rck-toast-animation-fade {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
