.rck-switch {
  position: relative;
  display: inline-block;
  width: calc(var(--spacing-32) + var(--spacing-8));
  height: var(--spacing-16);
  cursor: pointer;
  outline: none;
  margin: 4px 0;

  &:active,
  &:focus {
    outline: none;
  }

  &--disabled {
    cursor: not-allowed;
  }

  &__input {
    opacity: 0;
    width: 0;
    height: 0;
  }

  // slider when switch off
  &__slider {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    transition: 0.4s;
    border-radius: var(--spacing-32);
    background-color: $rck-color-gray-semi;

    &--disabled {
      background-color: $rck-color-gray-light;
    }

    // bullet when switch off
    &:before {
      position: absolute;
      content: '';
      height: var(--spacing-24);
      width: var(--spacing-24);
      left: 0;
      bottom: 0;
      top: -4px;
      background-color: $rck-color-white;
      transition: 0.4s;
      border-radius: 50%;
      box-shadow: -1px -1px 2px rgba(57, 68, 89, 0.15),
        1px 1px 2px rgba(57, 68, 89, 0.15);
    }
  }

  // slider when switch on
  input:checked + .rck-switch__slider {
    background-color: $rck-color-secondary-light;

    &--disabled {
      background-color: $rck-color-secondary-lighter;
    }
  }

  // bullet when switch on
  input:checked + .rck-switch__slider:before {
    transform: translateX(var(--spacing-16));
    background-color: $rck-color-secondary;

    &:active {
      background-color: $rck-color-secondary-light;
    }
  }

  // bullet when disabled and switch on
  input:checked + .rck-switch__slider--disabled:before {
    background-color: $rck-color-secondary-light;
  }

  // keep original position
  input[type='checkbox'] {
    position: relative;
    left: auto;
  }
}
