.rck-side-navigation-menu {
  background-color: $rck-color-primary;
  width: $side-navigation-menu-width;
  display: flex;
  flex-direction: column;
  height: 100%;
  min-height: 100%;
  align-items: center;
  .rck-account-info-header,
  .rck-license-info-container {
    flex-grow: 0;
  }
  &__wrapper {
    align-self: normal;
    flex: 2;
  }

  &__list {
    list-style-type: none;
    margin: 0;
    padding: var(--spacing-8);

    &__item {
      display: flex;
      flex-direction: row;
      cursor: pointer;
      flex: 1;
      margin: 0;
      position: relative;
      padding-bottom: var(--spacing-16);
    }
  }

  &__anchor {
    display: flex;
    align-items: center;
    flex: 1;
    text-decoration: none;
    color: $rck-color-white;
    user-select: none;

    &__content {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      flex: 1;

      &__activable {
        display: inline-block;
        padding: var(--spacing-16);
        min-width: 80px;
        max-width: 80px;

        &__layout {
          display: flex;
          flex-direction: column;
          align-items: center;
          justify-content: center;
        }
      }
    }

    &__extension {
      display: flex;
      flex-direction: column;
      flex: 1;
      justify-content: space-between;
      align-items: center;
      overflow: hidden;
    }

    &__optional-content {
      margin-top: var(--spacing-8);
      display: flex;
    }

    &--active {
      font-weight: var(--font-weight-semibold);
      color: $rck-color-primary;
      background-color: $rck-color-white;
      border-radius: $rck-border-radius;
    }

    &__text {
      flex: 1;
      font-size: var(--font-size-xs);
      overflow: hidden;
      text-overflow: ellipsis;
      text-align: center;
      position: relative;
      padding: 0 var(--spacing-16) 0 var(--spacing-16);
    }

    &__icon {
      flex: 1;
    }

    @media (min-width: $screen-sm) {
      &:hover {
        color: $rck-color-primary;
        background-color: $rck-color-white;
        border-radius: $rck-border-radius;
      }
    }
  }

  &--expanded {
    width: $side-navigation-menu-width-expanded;
    .rck-side-navigation-menu__list {
      padding: var(--spacing-16);
    }
    .rck-side-navigation-menu__anchor__content__activable {
      min-width: 110px;
      max-width: 80px;
    }
  }

  &__accent {
    position: absolute;
    font-size: 8px;
    color: $rck-color-warning;
    width: var(--spacing-16);
    height: var(--spacing-16);
    top: -5px;
    right: 5px;
  }
}
