.rck-page-title {
  display: flex;
  flex-direction: row;
  width: 100%;
  background-color: $rck-color-gray-lighter;
  color: $rck-color-black;

  padding: 0;
  &--left {
    display: flex;
    flex-direction: row;
    flex: 4;
    align-items: center;
    min-width: 0;
  }
  &--right {
    display: flex;
    flex-direction: row;
    flex: 1;
    align-items: center;
    justify-content: flex-end;
  }

  &__title-wrapper {
    display: flex;
    flex-direction: column;
    width: 100%;
    min-width: 0;
  }

  &__title {
    font-size: var(--font-size-xxxxl);
    @include rck-ellipsis();
    padding-right: var(--spacing-8);
    padding-left: var(--spacing-8);
    &--level-2 {
      font-size: var(--font-size-xxxl);
    }

    &--centered {
      width: 100%;
      text-align: center;
    }
  }

  &__subtitle {
    display: flex;
    margin-top: var(--spacing-24);
    font-size: var(--font-size-xxl);
    line-height: 32px;
    flex: 2;
    padding-right: var(--spacing-8);
    padding-left: var(--spacing-8);
    &--centered {
      justify-content: center;
    }
    &--ellipsis {
      @include rck-ellipsis();
    }
  }

  &__action {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    min-height: 100%;
    max-width: 90px;
    &--right {
      padding-left: var(--spacing-16);
    }

    i {
      font-size: large;
      padding: var(--spacing-8) 0 var(--spacing-8) 0;
    }
  }
  &__header-info {
    padding-left: var(--spacing-8);
    flex: 2;
  }

  &--small {
    padding: 0 var(--spacing-8) 0 var(--spacing-8);
    background-color: $rck-color-white;
    padding: var(--spacing-24) var(--spacing-16) var(--spacing-24)
      var(--spacing-16);
    font-weight: 600;
    .rck-page-title__title {
      font-size: var(--font-size-l);
    }
    .rck-page-title__title--level-2 {
      font-size: var(--font-size-l);
    }
  }

  &--medium {
    background-color: $rck-color-gray-lighter;
    display: flex;
    flex-direction: column;

    .rck-page-title {
      &__title-wrapper {
        display: flex;
        flex-direction: row;
        width: 100%;
        align-items: center;
      }

      &__action {
        padding-right: var(--spacing-8);
      }

      &__title {
        padding-left: 0;
        font-size: var(--font-size-xxl);
        font-weight: var(--font-weight-semibold);
      }

      &__subtitle {
        font-size: var(--font-size-m);
        margin-top: 0;
        padding-left: 2px;
      }
    }
  }
}
