@use '../../../tokens/rck';

.rck-list {
  .rck-compact-list-item {
    display: flex;
    margin: 0;
    padding: 0;
    flex-direction: row;
    width: 100%;

    &--padding-b-extra {
      padding-bottom: rck.$spacing-8;
    }

    p,
    strong {
      @include rck-ellipsis(1);
    }

    &__icon-wrapper {
      display: flex;
      align-items: center;
      justify-content: center;
      padding-right: rck.$spacing-8;
    }

    &__icon {
      height: rck.$spacing-24;
      width: rck.$spacing-24;
    }

    &__content {
      display: flex;
      flex-direction: row;
      overflow: hidden;
      width: 100%;
      padding-top: rck.$spacing-8;
    }

    &__right-content {
      flex: 1;
      flex-direction: column;
      margin-left: auto;
    }

    &__left-content {
      flex: 2;
      overflow: hidden;
      flex-direction: column;
    }

    &__info-button {
      flex: auto;
      display: flex;
      flex-direction: row;
      align-items: center;
      text-align: left;
    }

    &__left-title {
      display: flex;
      flex-direction: row;
    }

    &__action-icon {
      margin-right: rck.$spacing-16;
      margin-left: rck.$spacing-8;
    }
  }
}
