@use '../../../tokens/rck';

.rck-list {
  .rck-custom-list-item--no-border.rck-list-item {
    border-bottom: none;
  }

  .rck-custom-list-item {
    display: flex;
    flex-direction: column;
    position: relative;

    &:last-child {
      margin-bottom: 0;
    }

    p,
    strong {
      @include rck-ellipsis(1);
    }

    &__body {
      display: flex;
      flex-direction: row;
      position: relative;

      &__left {
        background-color: $rck-color-white;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-right: rck.$spacing-16;
        padding-bottom: rck.$spacing-8;

        &__icon {
          align-self: center;

          img,
          svg {
            width: rck.$spacing-32;
            height: rck.$spacing-32;
          }
        }
      }
      &__middle-left {
        display: flex;
        flex-direction: column;
        flex: 1 1 auto;
        overflow: hidden;
        padding-right: rck.$spacing-8;

        &__content {
          overflow: hidden;
        }

        &__title-container {
          display: flex;
          flex-direction: row;

          > .rck-deactivable-content {
            flex: 0 1 auto;
          }
        }

        &__title {
          min-height: rck.$spacing-24;
          margin: 0 0 0 rck.$spacing-16;
        }

        &__action-icon {
          margin-right: rck.$spacing-16;
          margin-left: rck.$spacing-8;
        }
      }
      &__right {
        margin-left: auto;
        display: flex;
      }
    }

    &__footer {
      display: flex;
      flex: 1 1 auto;
    }

    &__info-button {
      display: flex;
      flex-direction: row;
      align-items: center;
      text-align: left;
    }
  }
}
