.rck-list {
  .rck-location-list-item.rck-list-item {
    border-bottom: none;
    padding: 0 var(--spacing-8) var(--spacing-24) 0;
  }

  .rck-location-list-item {
    position: relative;
    display: flex;

    &__left {
      display: flex;
      flex-direction: row;

      &__text {
        min-width: 6ch;
        min-height: 24px;
      }

      &__oval {
        position: relative;
        width: 9px;
        height: 9px;
        margin: var(--spacing-8) var(--spacing-16) 4px 4px;
        background-color: $rck-color-secondary;
        border: 1px solid $rck-color-secondary;
        border-radius: 50%;
      }
    }

    &__middle-left {
      display: flex;
      flex-direction: column;
      flex: 1 1 auto;
      overflow: hidden;

      &__text {
        margin: 0 0 var(--spacing-8) var(--spacing-16);
      }
    }
    &__actions {
      transition: height 0.1s ease-in;
      height: 0;
      &--visible {
        height: var(--spacing-24);
      }
    }
    &:not(:last-child)::after {
      content: '';
      width: 2px;
      background-color: $rck-color-secondary;
      bottom: 0;
      top: 20px;
      left: calc(6ch + var(--spacing-8));
      display: block;
      position: absolute;
    }
    &--wide {
      &:not(:last-child)::after {
        left: calc(9ch + var(--spacing-8));
      }
      .rck-location-list-item__left {
        &__text {
          min-width: 9ch;
        }
      }
    }
  }
}
