.rck-list {
  .rck-regular-list-item {
    display: flex;
    flex-direction: row;
    position: relative;

    &__left {
      display: flex;
      justify-content: center;
      margin-right: var(--spacing-16);
      @include rck-list-item-v-align();

      &__icon {
        min-width: 24px;
      }
    }
    &__middle-left {
      display: flex;
      flex-direction: column;
      flex: 1 1 auto;
      overflow: hidden;
      justify-content: center;

      &--centered {
        justify-content: center;
      }

      &__subtitle {
        min-height: 24px;
      }

      &__title {
        min-height: 24px;
      }
    }

    &__right {
      margin-left: auto;
      padding-left: var(--spacing-8);
      display: flex;

      &__action-element {
        display: flex;
        text-align: right;
        color: $rck-color-secondary;
        min-width: var(--spacing-24);
        justify-content: center;
      }
      @include rck-list-item-v-align();
    }
  }
}
