@use '../../../tokens/rck';

.rck-list {
  .rck-selectable-list-item {
    display: flex;
    flex-direction: column;
    justify-content: center;
    cursor: pointer;
    border-radius: rck.$spacing-8;
    background-color: $rck-color-white;
    padding: rck.$spacing-16;
    min-height: 60px;

    &--radio {
      background-color: $rck-color-gray-lighter;

      &:not(.rck-selectable-list-item--selected):not(.rck-list-item--disabled) {
        &:hover,
        &:active {
          .rck-selectable-list-item__icon,
          .rck-selectable-list-item__title,
          .rck-selectable-list-item__right i {
            color: $rck-color-secondary-dark;
          }
        }
      }
    }

    &--checkbox {
      &:not(.rck-selectable-list-item--selected):not(.rck-list-item--disabled) {
        &:hover,
        &:active {
          filter: brightness($rck-brightness-lighter);
        }
      }
    }

    &--has-subtitle {
      padding: rck.$spacing-8 rck.$spacing-16;
    }

    &--selected {
      color: $rck-color-secondary;
      background-color: $rck-color-secondary-lighter;

      .rck-selectable-list-item__title {
        color: inherit;
      }
    }

    &__body {
      display: grid;
      grid-template-columns: auto 1fr auto;
      grid-column-gap: rck.$spacing-16;
      column-gap: rck.$spacing-16;
      align-items: center;
      grid-template-areas:
        'heading . action'
        'description description .';
    }

    &__left {
      grid-area: heading;
      overflow: hidden;
      display: grid;
      grid-column-gap: rck.$spacing-16;
      column-gap: rck.$spacing-16;
      grid-template-columns: auto auto auto;
      align-items: center;
      justify-items: start;
      color: inherit;

      &.rck-selectable-list-item__left-subtitle {
        grid-template-areas:
            'icon title info'
            'icon subtitle .';
      }

      &:not(.rck-selectable-list-item__left-subtitle) {
        grid-template-areas:
            'icon title info';
      }


      p,
      strong {
        width: 100%;
      }
    }

    &__icon {
      grid-area: icon;
      min-width: rck.$spacing-24;

      img,
      svg {
        max-width: rck.$spacing-40;
        max-height: rck.$spacing-40;
      }
    }

    &__title {
      grid-area: title;
      line-height: rck.$spacing-24;
    }

    &__subtitle {
      grid-area: subtitle;
      overflow: hidden;
    }

    &__action-icon {
      grid-area: info;
    }

    &__footer {
      grid-area: description;
    }

    &__description {
      overflow: hidden;
      margin-top: 4px;
    }

    &__right {
      grid-area: action;
      i {
        font-size: rck.$spacing-24;
      }
    }
  }
}
