@use '../../tokens/rck';

.rck-fixed-cta-card {
  border-top-right-radius: rck.$radius-200;
  border-top-left-radius: rck.$radius-200;
  position: fixed;
  bottom: 0;
  z-index: rck.$z-index-in-front;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  padding: rck.$spacing-32 rck.$spacing-48 rck.$spacing-32 rck.$spacing-48;
  background-image: url('#{$images-path}/waves-bottom-shape-bg.svg');
  background-position-y: bottom;
  background-position-x: right;
  background-repeat: no-repeat;

  &--brand-primary-300 {
    background-color: rck.$color-brand-primary-300;
    color: rck.$color-base-violet-700;
  }

  &--brand-primary-600 {
    background-color: rck.$color-brand-primary-600;
    color: rck.$color-base-white;
  }

  &--gradient-brand {
    background-image: url('#{$images-path}/waves-bottom-shape-bg.svg'),
      linear-gradient(
        rck.$color-brand-primary-500,
        rck.$color-brand-primary-600
      );
    color: rck.$color-base-white;
  }

  /* Fixes iOS UI overlapping with button. */
  .rck-btn {
    margin-bottom: env(safe-area-inset-bottom);
  }
}
