/// in AlertBoxType we have 'info' type that maps to 'secondary' color
$rck-alertbox-colors-mapping: (
  'info': 'secondary',
  'success': 'success',
  'warning': 'warning',
  'error': 'error',
  'booster': 'booster',
  'blue': 'decoration-blue',
);

$rck-alertbox-colors: rck-color-palette-map(
  $pick: map-values($rck-alertbox-colors-mapping),
  $mapping: (
    map-values($rck-alertbox-colors-mapping): (
      'color': 'base',
      'background': 'lighter',
      'inv-color': $rck-color-white,
      'inv-background': 'base',
    ),
    (
      'error',
      'success',
    ): (
      'color': 'dark',
      'inv-background': 'dark',
    ),
    'decoration-blue': (
      'color': $rck-routine-color-blue-dark,
      'background': $rck-routine-color-blue-light,
      'inv-background': $rck-routine-color-blue,
    ),
  ),
);

@mixin boxColors($colors, $solid: false) {
  $text-color: map-get($colors, 'color');
  $bg-color: map-get($colors, 'background');

  @if $solid == true {
    $text-color: map-get($colors, 'inv-color');
    $bg-color: map-get($colors, 'inv-background');
  }

  color: $text-color;
  background-color: $bg-color;

  a,
  .rck-alert-box__icon-right i {
    color: $text-color;
  }
}

.rck-alert-box {
  display: inline-flex;
  align-items: center;
  border-radius: 4px;
  box-shadow: 2px 2px 8px rbg(0, 0, 0, 0, 0.2);
  padding: var(--spacing-8);
  gap: var(--spacing-8);

  &--no-rounded {
    border-radius: 0%;
  }

  &--full-width {
    width: 100%;
  }

  &__body {
    display: inline-flex;
    flex: 1;
    gap: var(--spacing-8);
    align-items: center;

    &--centered {
      justify-content: center;
      text-align: center;
    }
  }

  &__icon {
    display: flex;
    font-size: var(--font-size-s);

    .rck-icon {
      padding: 0;
    }
  }

  &__icon-right {
    display: flex;
    font-size: var(--font-size-xs);
    cursor: pointer;
  }

  &__text {
    font-size: var(--font-size-s);
    line-height: var(--font-size-l);
    font-weight: var(--font-weight-semibold);
    letter-spacing: var(--letter-spacing-s);
  }

  @each $type, $color in $rck-alertbox-colors-mapping {
    &--#{$type} {
      $colors: map-get($rck-alertbox-colors, $color);
      @include boxColors($colors, $solid: false);
    }
  }

  &--solid {
    @each $type, $color in $rck-alertbox-colors-mapping {
      &.rck-alert-box--#{$type} {
        $colors: map-get($rck-alertbox-colors, $color);
        @include boxColors($colors, $solid: true);
      }
    }
  }
}
