@keyframes rck-spinner-bouncedelay {
  0%,
  80%,
  100% {
    transform: scale(0);
  }
  40% {
    transform: scale(1);
  }
}

$var-rck-spinner-sizes: (
  'small': 8px,
  'medium': 16px,
  'large': 24px,
);

$var-rck-spinner-color: (
  'contrast': $rck-color-secondary,
  'regular': $rck-color-white,
);

@mixin rck-spinner-sizes() {
  @each $size, $pixels in $var-rck-spinner-sizes {
    &--size-#{$size} {
      .rck-spinner__bounce1,
      .rck-spinner__bounce2,
      .rck-spinner__bounce3 {
        width: $pixels;
        height: $pixels;
      }
    }
  }
}

@mixin rck-spinner-color() {
  @each $type, $color in $var-rck-spinner-color {
    &--color-#{$type} {
      .rck-spinner__bounce1,
      .rck-spinner__bounce2,
      .rck-spinner__bounce3 {
        background-color: $color;
      }
    }
  }
}

.rck-spinner {
  text-align: center;

  &__bounce1,
  &__bounce2,
  &__bounce3 {
    border-radius: 100%;
    display: inline-block;
    animation: rck-spinner-bouncedelay 1.4s infinite ease-in-out both;
  }

  &__bounce1 {
    animation-delay: -0.32s;
  }
  &__bounce2 {
    animation-delay: -0.16s;
  }

  @include rck-spinner-sizes();

  @include rck-spinner-color();
}
