@use '../../tokens/rck';

.rck-icon-with-badge {
  &__container {
    position: relative;
  }

  &__badge {
    width: rck.$spacing-16;
    position: absolute;
    top: -#{rck.$spacing-8};

    &--left {
      left: -#{rck.$spacing-8};
    }

    &--right {
      right: -#{rck.$spacing-8};
    }

    &-icon {
      font-size: rck.$font-size-12;
      align-self: flex-start;

      &.rck-icon--circle {
        background-color: rck.$color-base-white !important;
      }
    }
  }
}
