$rck-info-label-allowed-lines: (1, 2, 3, 4, 5);

.rck-info-field-label {
  &__label {
    @include rck-input-text-label();
    @each $line in $rck-info-label-allowed-lines {
      &--lines-#{$line} {
        @include rck-ellipsis($line);
      }
    }
    &--mode-error {
      @include rck-input-text-error();
    }
  }
}
