.rck-label {
  color: $rck-color-gray;
  font-size: var(--font-size-m);
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: var(--letter-spacing-m);
  text-align: left;

  &--ellipsis {
    @include rck-ellipsis(1);
  }
}
