@mixin rck-flex-layout-helper($type, $cssType, $values) {
  @each $value in $values {
    &--#{$type}-#{$value} {
      #{$cssType}: #{$value};
    }
  }
}

$rck-flex-opt: (
  '0': 0,
  '1': 1,
  '2': 2,
  '3': 3,
  '4': 4,
  '5': 5,
  '6': 6,
  '7': 7,
  '8': 8,
  '9': 9,
);

$rck-flex-basis-opt: (
  '0': 0,
  'auto': 'auto',
  'max-content': 'max-content',
  'min-content': 'min-content',
  'fit-content': 'fit-content',
  '25pc': 25%,
  '50pc': 50%,
  '75pc': 75%,
  '100pc': 100%,
);

@mixin rck-flex-layout-item-flex-helper($type, $opt) {
  @each $valueStr, $value in $opt {
    &--#{$type}-#{$valueStr} {
      #{$type}: #{$value};
    }
  }
}
.rck-flex-layout {
  display: flex;

  &--display-inline {
    display: inline-flex;
  }

  &--contents {
    display: contents;
  }

  @include rck-flex-layout-helper(
    'main-axis',
    'flex-direction',
    ('row', 'column', 'row-reverse', 'column-reverse')
  );

  @include rck-flex-layout-helper(
    'wrap',
    'flex-wrap',
    ('wrap', 'nowrap', 'wrap-reverse')
  );

  @include rck-flex-layout-helper(
    'main-axis-alignment',
    'justify-content',
    (
      'flex-start',
      'flex-end',
      'start',
      'end',
      'left',
      'right',
      'center',
      'space-between',
      'space-around',
      'space-evenly'
    )
  );

  @include rck-flex-layout-helper(
    'cross-axis-alignment',
    'align-items',
    (
      'stretch',
      'start',
      'flex-start',
      'self-start',
      'flex-end',
      'end',
      'self-end',
      'center',
      'baseline'
    )
  );

  @include rck-flex-layout-helper(
    'cross-axis-line-spacing',
    'align-content',
    (
      'normal',
      'flex-start',
      'start',
      'flex-end',
      'end',
      'center',
      'space-between',
      'space-around',
      'space-evenly',
      'stretch'
    )
  );

  &--box {
    border-radius: 5px;
    border: solid 1px $rck-color-gray-light;
  }

  &--match-parent-height {
    height: 100%;
  }
}

.rck-flex-layout-item {
  @include rck-flex-layout-item-flex-helper('order', $rck-flex-opt);
  @include rck-flex-layout-item-flex-helper('flex-shrink', $rck-flex-opt);
  @include rck-flex-layout-item-flex-helper('flex-grow', $rck-flex-opt);
  @include rck-flex-layout-item-flex-helper('gap', $rck-layout-spacing-sizes);
  @include rck-flex-layout-item-flex-helper('flex-basis', $rck-flex-basis-opt);

  @include rck-flex-layout-helper(
    'flex-alignself',
    'align-self',
    (
      'stretch',
      'flex-start',
      'self-start',
      'flex-end',
      'end',
      'self-end',
      'center',
      'baseline'
    )
  );
}
