@use '../../assets/scss/variables';

$rck-layout-spacing-sizes: variables.$spacing-layout-sizes;

$rck-layout-content-spacing-sizes: (
  '0': 0px,
  '24': 24px,
  '32': 32px,
  '40': 40px,
  '48': 48px,
  '56': 56px,
  '72': 72px,
  '80': 80px,
  '104': 104px,
  '120': 120px,
  '160': 160px,
  '200': 200px,
  '240': 240px,
  '280': 280px,
  '296': 296px,
  '320': 320px,
  '360': 360px,
  '400': 400px,
  '440': 440px,
  '480': 480px,
  '520': 520px,
  '584': 584px,
  '800': 800px,
  '1000': 1000px,
  '25pc': 25%,
  '50pc': 50%,
  '75pc': 75%,
  '100pc': 100%,
  '25vh': 25vh,
  '50vh': 50vh,
  '75vh': 75vh,
  '100vh': 100vh,
  '25vw': 25vw,
  '50vw': 50vw,
  '75vw': 75vw,
  '100vw': 100vw,
  'auto': auto,
);

$rck-layout-line-heights: (
  '1': 1,
  '1-1': 1.1,
  '1-2': 1.2,
  '1-3': 1.3,
  '1-4': 1.4,
  '1-5': 1.5,
  '1-6': 1.6,
  '1-7': 1.7,
  '1-8': 1.8,
  '1-9': 1.9,
  '2': 2,
);

$rck-layout-display: (
  'block': block,
  'inline': inline,
  'inline-block': inline-block,
);

$rck-layout-text-alignment: (
  'center': center,
  'right': right,
  'left': left,
  'revert': revert,
);

@mixin rck-layout-set-text-alignement() {
  @each $alignStr, $align in $rck-layout-text-alignment {
    &--text-alignement-#{$alignStr} {
      text-align: $align;
    }
  }
}

@mixin rck-layout-apply-display() {
  @each $display-str, $display in $rck-layout-display {
    &--display-#{$display-str} {
      display: $display;
    }
  }
}

@mixin rck-layout-spacing-location($type, $location) {
  @each $sizeStr, $size in $rck-layout-spacing-sizes {
    &--#{$type}-#{$location}-spacing-#{$sizeStr} {
      #{$type}-#{$location}: #{$size};
    }
  }
}

@mixin rck-layout-spacing($type) {
  @each $sizeStr, $size in $rck-layout-spacing-sizes {
    &--#{$type}-spacing-#{$sizeStr} {
      #{$type}: #{$size};
    }
  }
}
@mixin rck-layout-content-spacing($type) {
  @each $sizeStr, $size in $rck-layout-content-spacing-sizes {
    &--#{$type}-#{$sizeStr} {
      #{$type}: #{$size};
    }
  }
}

@mixin rck-layout-line-height() {
  @each $lineHeightStr, $lineHeight in $rck-layout-line-heights {
    &--line-height-#{$lineHeightStr} {
      line-height: #{$lineHeight};
    }
  }
}

$rck-layout-bck-colors: (
  'white': $rck-color-white,
  'gray-ligther': $rck-color-gray-lighter,
  'transparent': transparent,
);

@mixin rck-layout-set-bck-colors {
  @each $strColor, $color in $rck-layout-bck-colors {
    &--bck-color-#{$strColor} {
      background-color: $color;
    }
  }
}

.rck-layout {
  box-sizing: border-box;

  @include rck-layout-set-text-alignement();

  @include rck-layout-apply-display();

  @include rck-layout-set-bck-colors();

  @include rck-layout-spacing('margin');

  @include rck-layout-spacing('padding');

  @include rck-layout-spacing-location('padding', 'top');

  @include rck-layout-spacing-location('padding', 'bottom');

  @include rck-layout-spacing-location('padding', 'right');

  @include rck-layout-spacing-location('padding', 'left');

  @include rck-layout-spacing-location('margin', 'top');

  @include rck-layout-spacing-location('margin', 'bottom');

  @include rck-layout-spacing-location('margin', 'left');

  @include rck-layout-spacing-location('margin', 'right');

  @include rck-layout-content-spacing('min-width');

  @include rck-layout-content-spacing('max-width');

  @include rck-layout-content-spacing('min-height');

  @include rck-layout-content-spacing('max-height');

  @include rck-layout-content-spacing('height');

  @include rck-layout-content-spacing('width');

  @include rck-layout-line-height();

  &--scroll-y {
    overflow-x: hidden;
    overflow-y: auto; // it will scroll if it does not have enogh space otherwise
    -webkit-overflow-scrolling: touch; // it will have momentum scrolling
  }

  &--nowrap {
    white-space: nowrap;
  }

  &--box {
    border-radius: 5px;
    border: solid 1px $rck-color-gray-light;
  }

  &--position {
    &-inherit {
      position: inherit;
    }
    &-fixed {
      position: fixed;
    }
    &-absolute {
      position: absolute;
    }
    &-relative {
      position: relative;
    }
  }

  &--center-x {
    margin-left: auto;
    margin-right: auto;
  }

  &--center-x-absolute {
    left: 50%;
    transform: translateX(-50%);
  }
}

@import 'FlexLayout';
