.rck-scrollable-content {
  position: relative;
  height: 100%;

  &__scroll {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    overflow-y: auto;

    &--no-scrollbar {
      -ms-overflow-style: none; /* IE and Edge */
      scrollbar-width: none; /* Firefox */
    }
    &--no-scrollbar::-webkit-scrollbar {
      display: none;
    }
  }
}
