.rck-radiobutton {
  display: inline-block;
  position: relative;
  color: $rck-color-gray;
  font-size: var(--font-size-m);
  letter-spacing: var(--letter-spacing-m);
  user-select: none;
  cursor: pointer;

  &:hover {
    .rck-radiobutton__square {
      border: 2px solid $rck-color-secondary;
    }
  }

  &--disabled {
    cursor: not-allowed;
    &:hover {
      .rck-radiobutton__square {
        border: 2px solid $rck-color-gray-light;
      }
    }
  }

  .rck-radiobutton__input {
    display: none;
  }

  .rck-radiobutton__square {
    top: 12px;
    left: 7px;
    height: var(--spacing-16);
    width: var(--spacing-16);
    border: 2px solid $rck-color-gray-semi;
    background-color: $rck-color-white;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;

    &--checked {
      border: 2px solid $rck-color-secondary;
    }

    &--disabled {
      border: 2px solid $rck-color-gray-light;
    }

    &__icon {
      font-size: 8px;
      color: $rck-color-secondary;
      &--disabled {
        color: $rck-color-gray-light;
      }
    }
  }
}
