$rck-ribbon-bg-color: $yellow-500;

@mixin plan-box-responsive-font-size(
  $font-size-mobile: var(--font-size-s),
  $font-size-desktop: var(--font-size-m)
) {
  @include responsive-font-size($font-size-mobile, $font-size-desktop);
}

.rck-plan-box-extended {
  background: $rck-color-white;
  color: $rck-color-gray-dark;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: left;
  border-radius: 8px;
  position: relative;
  text-align: left;
  width: 100%;
  max-width: 240px;
  padding: var(--spacing-24) var(--spacing-24) var(--spacing-32)
    var(--spacing-24);
  box-sizing: content-box;

  @media (min-width: $screen-sm) {
    padding: var(--spacing-24) var(--spacing-48) var(--spacing-32)
      var(--spacing-48);
    max-width: 260px;
  }

  @media (min-width: $screen-md) {
    max-width: 320px;
  }

  &__ribbon {
    @include plan-box-responsive-font-size();
    background-color: $rck-ribbon-bg-color;
    color: $rck-color-gray-dark;
    text-transform: uppercase;
    position: absolute;
    border-radius: 4px;
    font-weight: var(--font-weight-medium);
    padding: 0 var(--spacing-8);
    line-height: var(--spacing-32);
    top: calc(var(--spacing-16) * (-1));
    right: var(--spacing-16);
  }

  &__body {
    margin-bottom: var(--spacing-16);
    display: flex;
    flex-direction: column;
  }

  &__title {
    @include plan-box-responsive-font-size(
      var(--font-size-xl),
      var(--font-size-xxl)
    );
    font-weight: var(--font-weight-semibold);
    text-transform: uppercase;
    padding: 0;
    margin: 0 0 var(--spacing-8) 0;

    @media (min-width: $screen-sm) {
      margin-bottom: var(--spacing-16);
    }

    i {
      margin-right: var(--spacing-8);
    }
  }

  &__subtitle {
    @include plan-box-responsive-font-size(
      var(--font-size-s),
      var(--font-size-l)
    );
    font-weight: var(--font-weight-medium);
    margin: 0;
  }

  &__divider {
    border: 0.3px solid $rck-color-gray-lighter;
    margin: var(--spacing-8) 0;
  }

  &__price {
    @include plan-box-responsive-font-size(
      var(--font-size-xxxl),
      var(--font-size-xxxxl)
    );
    margin: 0;
    font-weight: var(--font-weight-medium);

    &--period {
      @include plan-box-responsive-font-size(
        var(--font-size-m),
        var(--font-size-xl)
      );
    }
  }

  &__price-info {
    @include plan-box-responsive-font-size(
      var(--font-size-xs),
      var(--font-size-s)
    );
    color: $rck-color-gray-semi;
    font-weight: var(--font-weight-semibold);
    text-transform: uppercase;
    margin: 0;
  }

  &__addon-info {
    margin-bottom: var(--spacing-16);
  }

  &__call-to-action {
    margin-bottom: var(--spacing-24);

    .rck-plan-box-extended--current {
      background-color: $rck-color-white;
      box-shadow: none;
    }

    .rck-plan-box-extended__current-text {
      color: $rck-color-black;
      font-size: var(--font-size-xl);
      font-weight: var(--font-weight-semibold);
    }

    // TODO: once the experiment finished we need to normalize this behaviour
    button.rck-btn {
      color: $rck-color-gray-dark;
    }
  }

  &--highlighted {
    background-color: $rck-color-secondary-dark;
    color: $rck-color-white;
    box-shadow: none;
    background-image: url('#{$images-path}/plan-box-shape-bg.svg');
    background-repeat: no-repeat;
    background-position-y: top;
    background-position-x: right;
    background-size: 65%;

    .rck-plan-box-extended__divider {
      border: 0.3px solid $rck-color-secondary;
    }

    .rck-plan-box-extended__price-info {
      color: $rck-color-white;
    }

    .rck-addon-checkbox {
      background-color: $rck-color-success-lighter;
      color: $rck-color-gray-dark;
    }

    .rck-plan-box-extended__call-to-action {
      .rck-plan-box-extended__current-text {
        color: $rck-color-white;
      }
    }
  }
}

.rck-feature-list {
  &__title {
    @include plan-box-responsive-font-size();
    font-weight: var(--font-weight-semibold);
    margin-bottom: var(--spacing-8);
  }

  &__list {
    list-style: none;
    padding: 0;
    margin: 0;
  }
}

.rck-addon-checkbox {
  @include plan-box-responsive-font-size();
  display: flex;
  align-items: center;
  background-color: $rck-color-gray-lighter;
  width: 100%;
  position: relative;
  padding: 0 var(--spacing-24);
  right: var(--spacing-24);
  font-weight: var(--font-weight-medium);
  box-sizing: content-box;

  &__icon-info {
    i {
      @include plan-box-responsive-font-size(
        var(--font-size-m),
        var(--font-size-xl)
      );
    }

    &:hover,
    &--open {
      color: $rck-color-secondary;
    }
  }

  .rck-checkbox {
    @include plan-box-responsive-font-size();
  }

  &__content {
    margin-bottom: var(--spacing-16);
  }

  &__description {
    @include plan-box-responsive-font-size();
  }

  @media (min-width: $screen-sm) {
    padding: 0 var(--spacing-48);
    right: var(--spacing-48);
  }
}

.rck-feature-list-item {
  @include plan-box-responsive-font-size();
  font-weight: var(--font-weight-medium);

  // This hack allow us to change the background color of this specific icon,
  // otherwise the fill of the icon would take the plan box background color
  i.fa-check-circle {
    background: radial-gradient($rck-color-white 50%, transparent 50%);
  }
}
