$rck-plan-box-additional-information-color: $yellow-500;

.rck-plan-box {
  background: $rck-color-white;
  color: $rck-color-gray-dark;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  border-radius: 8px;
  padding: var(--spacing-24) var(--spacing-40) var(--spacing-32)
    var(--spacing-40);
  position: relative;
  text-align: center;
  width: 100%;
  max-width: 336px;
}

.rck-plan-box__title {
  color: $rck-color-gray-dark;
  font-size: var(--font-size-xs);
  font-weight: var(--font-weight-medium);
  text-transform: capitalize;
  padding: 0;
  margin-top: 0;
  margin-bottom: var(--spacing-8);
  text-align: center;

  @media (min-width: $screen-sm) {
    font-size: var(--font-size-s);
    margin-bottom: var(--spacing-16);
  }
}

.rck-plan-box__checkbox {
  &-container {
    display: flex;
    align-items: center;
    background-color: $rck-color-success-lighter;
    margin-bottom: var(--spacing-24);
    padding: 0 var(--spacing-24);
    min-height: 40px;
    width: calc(100% + var(--spacing-40) * 2);

    .rck-transparent-button {
      display: flex;
      overflow: initial;
      align-items: center;
    }
  }

  &-description {
    font-size: var(--font-size-s);
    text-align: left;
    margin: 4px;
  }
}

.rck-plan-box__device-information {
  margin: 0 0 var(--spacing-24);
  font-weight: 700;
  font-size: var(--font-size-xxl);

  @media (min-width: $screen-sm) {
    font-size: var(--font-size-xxxl);
  }

  span {
    font-size: var(--font-size-l);

    @media (min-width: $screen-sm) {
      font-size: var(--font-size-xl);
    }
  }
}

.rck-plan-box__price {
  margin: 0 0 4px;
  display: flex;
  justify-content: center;
  align-items: baseline;
  font-size: var(--font-size-xxxl);
  line-height: 32px;
  color: $rck-color-gray-dark;
  font-weight: 600;
  flex-direction: column;
  align-items: center;
  font-size: var(--font-size-xxxl);

  @media (min-width: $screen-sm) {
    font-size: 32px;
    line-height: 42px;
  }

  .price-period {
    font-size: var(--font-size-s);

    @media (min-width: $screen-sm) {
      font-size: 18px;
    }
  }
}

.rck-plan-box__price-additional-information {
  color: $rck-color-secondary;
  margin: 0 0 var(--spacing-16);
  font-size: var(--font-size-xs);
  font-weight: var(--font-weight-semibold);
  width: 100%;
  text-align: center;

  @media (min-width: $screen-sm) {
    font-size: var(--font-size-s);
  }
}

.rck-plan-box--current {
  background-color: $rck-color-white;
  box-shadow: none;
}

.rck-plan-box__current-text {
  color: $rck-color-black;
  font-size: var(--font-size-m);
  font-weight: var(--font-weight-semibold);
}

.rck-plan-box--highlighted {
  background-color: $rck-color-secondary;
  box-shadow: none;

  .rck-plan-box__title {
    color: $rck-color-white;
  }
  .rck-plan-box__price {
    color: $rck-color-white;
  }
  .rck-plan-box__device-information {
    color: $rck-color-white;
  }
  .rck-plan-box__current-text {
    color: $rck-color-white;
  }
  .rck-plan-box__price-additional-information {
    color: $rck-color-white;
  }
}

.rck-plan-box--highlighted.rck-plan-box--with-discount {
  .rck-plan-box__price-additional-information {
    color: $rck-plan-box-additional-information-color;
  }
}
