/* "Brand" */
$color-brand: $color-blue-qustodio;
$color-brand-darker: $color-blue-abbyss;

/* "Base" */
$color-base: $color-brand-darker;
$color-base-negative: $color-white-skull;

/* "Gray" */
$color-grey: $color-grey-coal;
$color-grey-dark: $color-grey-blackboard;
$color-grey-light: $color-grey-ash;
$color-grey-lighter: $color-grey-mist;
$color-semi-grey: #b0b4bd; // Textfield placeholder

/* "States" */
$color-primary: $color-green-irish;
$color-primary-light: $color-green-shipwreck;
$color-inverted: $color-white-skull;
$color-white: $color-white-skull;
$color-secondary: $color-brand-darker;
$color-secondary-light: #9d7de4;
$color-success: $color-green-leaf;
$color-error: $color-red-soviet;
$color-danger: $color-red-soviet;
$color-warning: #fd6a29;
$color-warning-light: $color-orange-kung-fu;
$color-warning-dark: $color-orange-arizona;
$color-disabled: $rck-color-gray-lighter;
$color-active: $rck-color-gray-lighter;

/* "Platforms" */
$color-android: $color-green-android;
$color-ios: $color-black-bear;
$color-windows: $color-blue-gates;
$color-mac: $color-black-bear;
$color-kindle: $color-orange-bezos;
