$rck-ribbon-bg-color: $yellow-500;

.rck-ribbon {
  width: 144px;
  z-index: 1;

  span {
    font-weight: var(--font-weight-semibold);
    color: $rck-color-gray-dark;
    text-transform: uppercase;
    text-align: center;
    background: $rck-ribbon-bg-color;
    display: block;
    border-radius: 4px;
    padding: 4px var(--spacing-8);
    font-size: var(--font-size-xs);

    @media (min-width: $screen-sm) {
      font-size: var(--font-size-s);
    }
  }

  &--corner-right {
    position: absolute;
    transform: rotate(45deg);
    right: -30px;
    top: 30px;
  }

  &--corner-left {
    position: absolute;
    transform: rotate(-45deg);
    left: -30px;
    top: 30px;
  }
}
