$active-filter-colors: (
  'primary': $rck-color-primary,
  'secondary': $rck-color-secondary,
  'error': $rck-color-error-dark,
);

.rck-filter-group {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: var(--spacing-8);
}

.rck-filter {
  display: inline-block;
  color: $rck-color-gray;
  background-color: $rck-color-gray-lighter;
  border-radius: var(--spacing-24);
  cursor: pointer;
  transition: filter 200ms;

  // This has to be 12px to be visually pleasing.
  padding: 0 12px;

  // This is to avoid width increase when active => bold font
  &::before {
    display: block;
    content: attr(title);
    font-weight: bold;
    height: 0;
    overflow: hidden;
    visibility: hidden;
  }

  &:hover {
    filter: brightness($rck-brightness-lighter);
  }
  &:active {
    // for mobile touch feedback
    filter: brightness($rck-brightness-light);
  }

  &--active {
    font-weight: var(--font-weight-semibold);
    color: $rck-color-white;
  }

  @each $type, $color in $active-filter-colors {
    &--active-color-#{$type} {
      background-color: $color;
    }
  }

  &--size {
    &-regular {
      font-size: var(--font-size-s);
      line-height: var(--spacing-24);
    }

    &-large {
      font-size: var(--font-size-m);
      line-height: var(--spacing-32);
    }
  }
}
