$rck-card-radius: 8px;
// Todo: revise this component to fix body, header and gradient colors.
$rck-card-colors: rck-color-palette-map(
  $pick: (
    'primary',
    'secondary',
    'gray',
    'success',
    'warning',
    'error',
  ),
);

@mixin rck-card-color($color) {
  .rck-card__icon {
    color: $color;
  }
}

@each $type, $color in $rck-card-colors {
  .rck-card--#{$type} {
    @include rck-card-color(map-get($color, 'base'));
  }
}

$rck-card-body-bck-colors: (
  'default': (
    $rck-color-white,
    $rck-color-gray,
  ),
  'warning': (
    $rck-color-warning,
    $rck-color-black,
  ),
  'primary': (
    $rck-color-primary,
    $rck-color-white,
  ),
  'error': (
    $rck-color-error-lighter,
    $rck-color-black,
  ),
  'gray': (
    $rck-color-gray-lighter,
    $rck-color-gray-dark,
  ),
);

$rck-card-body-bck-color-gradients: (
  'secondary': (
    'color': $rck-color-white,
    'from': $rck-color-secondary-gradient-from,
    'to': $rck-color-secondary-gradient-to,
  ),
  'warning': (
    'color': $rck-color-white,
    'from': $rck-color-orange-gradient-from,
    'to': $rck-color-orange-gradient-to,
  ),
);

$rck-card-header-bck-colors: (
  'primary': (
    $rck-color-primary,
    $rck-color-white,
  ),
  'warning': (
    $rck-color-warning,
    $rck-color-black,
  ),
  'transparent': (
    transparent,
    $rck-color-gray-dark,
  ),
  'white': (
    $rck-color-white,
    $rck-color-gray-dark,
  ),
  'default': (
    $rck-color-secondary-lighter,
    $rck-color-secondary,
  ),
  'error': (
    $rck-color-error-lighter,
    $rck-color-error-dark,
  ),
);

$rck-card-min-height-opt: (
  '520': 520px,
);

@mixin rck-card-body-min-height() {
  @each $valueStr, $value in $rck-card-min-height-opt {
    &--min-height-#{$valueStr} {
      min-height: $value;
    }
  }
}

@mixin rck-card-body-colors() {
  @each $type, $colors in $rck-card-body-bck-colors {
    &--bck-color-#{$type} {
      background-color: nth($colors, 1);
      color: nth($colors, 2);
    }
  }
}

@mixin rck-card-body-colors-gradient() {
  @each $type, $colors in $rck-card-body-bck-color-gradients {
    &--bck-color-#{$type}-gradient {
      background: linear-gradient(map-get($colors, from), map-get($colors, to));
      color: map-get($colors, color);
    }
  }
}

@mixin rck-card-header-colors() {
  @each $type, $colors in $rck-card-header-bck-colors {
    &--header-colors-#{$type} {
      background-color: nth($colors, 1);
      color: nth($colors, 2);
      i {
        color: nth($colors, 2);
      }
    }
  }
}

.rck-card {
  display: flex;
  flex-direction: column;
  background-color: $rck-color-white;
  // box-shadow: 0 0 var(--spacing-8) 0 rgba(0, 0, 0, 0.2); // TODO: Extract shadows to standarise
  border-radius: $rck-card-radius;
  @include rck-card-body-colors();
  @include rck-card-body-colors-gradient();

  &--full-width {
    min-width: 100%;
  }

  &--full-height {
    min-height: 100%;
  }

  &__header {
    display: flex;
    align-items: center;
    padding: var(--spacing-16);
    border-top-left-radius: $rck-card-radius;
    border-top-right-radius: $rck-card-radius;

    &--with-border {
      border-bottom: 1px solid $rck-color-gray-lighter;
    }

    &--with-banner {
      padding: 0;
    }

    &__title {
      &--only-text {
        font-size: var(--font-size-m);
        margin: 0;
        padding: 0;
        line-height: 1.5;
        letter-spacing: var(--letter-spacing-m);
        font-weight: var(--font-weight-semibold);
        flex-grow: 2;
      }

      &--custom-component {
        flex-grow: 1;
        & + .rck-card__action {
          flex-grow: 0;
        }
      }
    }

    @include rck-card-header-colors();
  }

  &__body {
    display: flex;
    flex-direction: column;
    flex: 1;
    padding: var(--spacing-16);
    @include rck-card-body-min-height();
    overflow: hidden;
    z-index: 1;
  }

  &__footer {
    display: flex;
    align-items: center;
    padding: var(--spacing-16);
    border-bottom-left-radius: $rck-card-radius;
    border-bottom-right-radius: $rck-card-radius;
  }

  &__action {
    display: flex;
    font-size: var(--font-size-s);

    &:hover {
      color: $rck-color-secondary-dark;
      cursor: pointer;
    }

    &--left {
      flex-grow: 1;
    }

    &--right {
      flex-grow: 1;
      justify-content: end;
    }

    &--center {
      flex-grow: 1;
      justify-content: center;
    }
  }

  &--display-all {
    display: initial;
  }

  &--with-shapes {
    overflow: hidden;
    position: relative;
    &::before {
      content: '';
      position: absolute;
      height: 100%;
      width: 100%;
      top: 0;
      left: 0;
      background: url('#{$images-path}/circles-shapes-bg-mobile.svg') no-repeat
        calc(100% + 50px) calc(100% + 100px) content-box;
    }
  }

  &--only-header {
    .rck-card__header {
      border-bottom-left-radius: $rck-card-radius;
      border-bottom-right-radius: $rck-card-radius;
    }
  }
}

@include breakpoint(sm) {
  .rck-card {
    &--with-shapes {
      &::before {
        background: url('#{$images-path}/circles-shapes-bg.svg') no-repeat 50% -120px
          content-box;
      }
    }
  }
}
