$rck-card-action-title-color-palette: rck-color-palette-map(
  $pick: (
    'white',
    'gray',
    'primary',
    'secondary',
    'error',
  ),
  $mapping: (
    'gray': (
      'base': 'semi',
    ),
    'error': (
      'base': 'dark',
    ),
  ),
);

.rck-card-action-title {
  margin: 0;
  display: flex;
  align-items: center;

  &--color-inherit {
    color: inherit;
  }

  @each $key, $colors in $rck-card-action-title-color-palette {
    &--color-#{$key} {
      color: map-get($colors, 'base');
    }
  }

  gap: var(--spacing-8);
  font-size: var(--font-size-s);
  font-weight: var(--font-weight-semibold);
  line-height: 28px;

  i {
    color: inherit;
    font-size: var(--font-size-xl);
  }
}
