@use '../../tokens/rck';

// Component tokens
$_padding-breakpoint: 420px;

$box-selector-item-border-width: 1px;
$box-selector-item-border-radius: rck.$radius-100;

$box-selector-item-border-color: rck.$color-brand-neutral-200;
$box-selector-item-background-color: rck.$color-brand-neutral-100;
$box-selector-item-text-color: rck.$color-brand-neutral-500;

$box-selector-item-border-color-disabled: rck.$color-brand-neutral-200;
$box-selector-item-background-color-disabled: rck.$color-brand-neutral-100;
$box-selector-item-text-color-disabled: rck.$color-brand-neutral-300;

$box-selector-item-border-color-hover: rck.$color-brand-primary-600;
$box-selector-item-background-color-hover: rck.$color-brand-neutral-100;
$box-selector-item-text-color-hover: rck.$color-brand-primary-600;

$box-selector-item-border-color-selected: rck.$color-brand-primary-600;
$box-selector-item-background-color-selected: rck.$color-brand-primary-200;
$box-selector-item-text-color-selected: rck.$color-brand-primary-600;

.rck-box-selector-item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  border-style: solid;
  border-width: $box-selector-item-border-width;
  border-radius: $box-selector-item-border-radius;
  padding: rck.$spacing-16;
  border-color: $box-selector-item-border-color;
  background-color: $box-selector-item-background-color;
  color: $box-selector-item-text-color;
  cursor: pointer;
  position: relative;
  box-sizing: border-box;

  /* @todo: Change this when New Rocket icons are implemented. */
  &__icon {
    width: rck.$spacing-24;
    height: rck.$spacing-24;
    line-height: rck.$spacing-24;
    font-size: rck.$spacing-24 - 2px;
    text-align: center;
    padding: 2px;
  }

  &__label {
    margin-top: rck.$spacing-8;
    margin-bottom: unset;
    text-align: center;
    @include rck.typography-caption-1('regular');
  }

  &__checkbox {
    // This allows the checkbox to be visually hidden, but still accessible.
    position: absolute;
    opacity: 0;
  }

  &:hover,
  &:focus-within {
    border-color: $box-selector-item-border-color-hover;
    background-color: $box-selector-item-background-color-hover;
    color: $box-selector-item-text-color-hover;
    .rck-box-selector-item__label {
      @include rck.typography-caption-1('semibold');
    }
  }

  &--disabled {
    cursor: default;
    &,
    &:hover,
    &:focus-within {
      border-color: $box-selector-item-border-color-disabled;
      background-color: $box-selector-item-background-color-disabled;
      color: $box-selector-item-text-color-disabled;
      .rck-box-selector-item__label {
        @include rck.typography-caption-1('regular');
      }
    }
  }

  &--selected {
    &,
    &:hover,
    &:focus-within {
      border-color: $box-selector-item-border-color-selected;
      background-color: $box-selector-item-background-color-selected;
      color: $box-selector-item-text-color-selected;
    }
    .rck-box-selector-item__label {
      @include rck.typography-caption-1('semibold');
    }
  }
}

@container rck-box-selector (min-width: #{$_padding-breakpoint}) {
  .rck-box-selector-item {
    padding: rck.$spacing-16 rck.$spacing-32;
  }
}
