@use '../../tokens/rck';

// Component tokens
$box-selector-gutter: rck.$spacing-16;

.rck-box-selector {
  list-style-type: none;
  margin: unset;
  padding: unset;
  display: flex;
  flex-wrap: wrap;
  gap: $box-selector-gutter;
  container-name: rck-box-selector;
  container-type: inline-size;

  &__item {
    width: calc(50% - #{$box-selector-gutter}/ 2);
    margin: unset;
  }
}
