.rck-action-input {
  height: var(--spacing-48);
  min-height: var(--spacing-48);
  display: flex;
  box-sizing: border-box;
  text-decoration: none;
  border-radius: 4px;
  border: 1px solid $rck-color-gray-light;
  align-items: center;
  display: flex;
  background-color: $rck-color-white;
  padding: 0;
  cursor: pointer;
  outline: none;

  &__anchor {
    display: inline-block;

    .rck-action-input__text {
      position: relative;
      top: 25%;
    }
  }

  &--block {
    width: 100%;
  }

  &:active {
    border-color: $rck-color-secondary;
    outline: none;
    background-color: $rck-color-white;
  }
  &:focus {
    background-color: $rck-color-white;
  }

  &--disabled {
    cursor: not-allowed;

    .rck-action-input__text {
      cursor: not-allowed;
      color: $rck-color-gray-semi;
    }

    .rck-icon {
      color: $rck-color-gray-semi;
    }

    &:active {
      border-color: $rck-color-gray-light;
    }
  }

  &--error {
    border-color: $rck-color-error-dark;
  }

  // to be removed in v6
  &--color-primary {
    color: $rck-color-primary;
    border-color: $rck-color-primary;
    background-color: $rck-color-primary-lighter;
    font-weight: var(--font-weight-semibold);

    .rck-action-input__text,
    .rck-icon {
      color: $rck-color-primary;
    }

    &:focus {
      background-color: rgba($rck-color-primary-lighter, 0.5);
    }
  }

  @each $type, $colors in $rck-global-color-palette {
    $color: map-get($colors, 'base');
    $color-lighter: map-get($colors, 'lighter');

    &--text-color-#{$type} {
      color: $color;
      .rck-action-input__text:not(.rck-action-input__text__placeholder) {
        font-weight: var(--font-weight-semibold);
        color: $color;
      }
    }

    &--background-color-#{$type} {
      border-color: $color;
      background-color: $color-lighter;

      &:focus {
        background-color: rgba($color-lighter, 0.5);
      }
    }
  }

  &__container-icon {
    display: flex;
    align-items: center;
    justify-content: center;
    height: var(--spacing-48);
    &--left {
      float: left;
    }
    &--right {
      float: right;
    }

    &:first-child {
      padding-left: var(--spacing-8);
    }
    &:last-child {
      padding-right: var(--spacing-8);
    }
  }

  &__icon {
    display: flex;
    border-left: none;
    border-bottom-left-radius: 0;
    border-top-left-radius: 0;
    align-items: center;
    &--with-color {
      color: $rck-color-secondary;
    }
  }

  &__text {
    flex: 1;
    display: flex;
    outline: none;
    white-space: nowrap;
    font-size: var(--font-size-m);
    color: $rck-color-gray-dark;
    box-sizing: border-box;
    text-align: left;
    padding-left: var(--spacing-8);
    padding-right: var(--spacing-8);
    margin: 0;
    @include rck-ellipsis(1);
    cursor: pointer;

    &__placeholder {
      color: $rck-color-gray-semi;
    }
  }

  &--compact {
    height: var(--spacing-40);
    min-height: var(--spacing-40);
    overflow: hidden;

    .rck-action-input__container-icon {
      padding: 0;
      height: var(--spacing-40);

      .rck-icon {
        height: var(--spacing-40);
        width: var(--spacing-40);
      }

      .rck-icon--square {
        border-radius: 0;
      }
    }
  }
}
