.rck-duration-input {
  gap: var(--spacing-16);

  [data-area--right] {
    justify-content: end;
    min-width: var(--spacing-32);
  }

  &__text {
    margin-right: var(--spacing-8);
    color: $rck-color-gray-semi;
    font-size: var(--font-size-s);
  }
}
