.rck-text-field-base {
  display: flex;
  align-items: center;
  justify-content: space-between;
  box-sizing: border-box;
  overflow: hidden;
  word-wrap: break-word;
  vertical-align: top;
  pointer-events: auto;
  font-size: var(--font-size-m);
  color: $rck-color-gray-dark;
  transition: border-color 100ms ease-in-out, background-color 100ms ease-in-out;
  border: 1px solid $rck-color-gray-light;
  border-radius: 4px;

  // Hover + focus only applied when state is not disabled nor error
  &:not(&[data-disabled], &[data-error]) {
    &:hover,
    &:focus-within {
      border-color: $rck-color-secondary;
    }
  }

  &[data-disabled] {
    cursor: not-allowed;
    color: $rck-color-gray;
    background-color: $rck-color-gray-lighter;
  }

  // Error
  // &[data-error] {} // use this selector for common error styling

  &--error-border {
    border-color: $rck-color-error-dark;
  }

  &--error-text {
    color: $rck-color-error-dark;
  }

  // Width
  &--width-small {
    width: var(--spacing-80);
  }

  &--width-regular {
    width: calc(var(--spacing-8) * 30); // 240px
  }

  &--width-hug-content {
    width: auto;
  }

  &--width-block {
    width: 100%;
  }

  // Height
  &--size-regular {
    height: var(--spacing-48);

    & > .rck-text-field-base__body-wrapper {
      padding: var(--spacing-16);
    }
  }

  &--size-small {
    height: var(--spacing-40);

    & > .rck-text-field-base__body-wrapper {
      padding: var(--spacing-8);
    }
  }

  &__body-wrapper {
    cursor: inherit;
    display: flex;
    align-items: center;
    box-sizing: border-box;
    color: inherit;
    min-width: 0;
    width: 100%;
  }

  // Stying for native input element
  .rck-text-field-base__input,
  input.rck-text-field-base__input {
    // ;
    // THIS IS DONE IN ORDER TO OVERRIDE MATERIALIZE-CSS STYLINGS
    // SHOULD BE REMOVED ONCE MATERIALIZE-CSS IS REMOVED FROM PAR.
    transition: none !important;

    &:focus {
      border-bottom: none !important;
      box-shadow: none !important;
      -webkit-box-shadow: none !important;
    }

    &:disabled {
      border-bottom: none !important;
    }
    // ;end

    cursor: inherit;
    border: 0;
    margin: 0;
    padding: 0;
    display: flex;
    color: inherit;
    box-sizing: border-box;
    background-color: transparent;
    font-size: var(--font-size-m);
    min-width: 0;
    width: 100%;
    height: 100%;
    outline: none;
    box-shadow: none;
    border-radius: 0;

    &[disabled] {
      color: inherit;
      // Safari (WebKit) adds a -webkit-text-fill-color style to disabled inputs
      // which takes priority over color and makes the text unreadable. Need to
      // override it with the color we want.
      -webkit-text-fill-color: $rck-color-gray;
    }

    &::placeholder {
      color: $rck-color-gray-semi;
    }

    &:placeholder-shown {
      text-overflow: ellipsis;
    }

    // Hide the clear indicator on Edge (Windows only)
    &::-ms-clear {
      display: none;
    }

    // Hide arrows in number input field
    &[type='number'] {
      &::-webkit-outer-spin-button,
      &::-webkit-inner-spin-button {
        -webkit-appearance: none;
        margin: 0;
      }
      // Firefox
      appearance: textfield;
      -moz-appearance: textfield;
    }
  }

  & > [data-area--left],
  & > [data-area--body-wrapper],
  & > [data-area--right] {
    display: flex;
  }
}
