.rck-expandable-card-vertical {
  &__container {
    display: flex;
    flex-direction: row;

    &--closed {
      overflow: hidden;
    }

    &--opened {
      max-height: auto;
    }
  }

  &__items {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
  }

  &__icon {
    align-self: flex-start;
    padding-top: var(--spacing-24);
  }
}

.rck-expandable-card-horizontal {
  &__container {
    display: flex;
    flex-direction: row;
    overflow-x: scroll;

    -ms-overflow-style: none;
    scrollbar-width: none;

    &::-webkit-scrollbar {
      display: none;
    }
  }
}
