@use '../../tokens/rck';

// component tokens
$rck-modal-size-100: 320px;
$rck-modal-size-200: 420px;
$rck-modal-size-300: 640px;
$rck-modal-size-999: 100%;

.rck-modal {
  padding: 0;
  display: flex;
  flex-direction: column;
  min-height: 0;
  height: 100%;

  &--large {
    // on mobile will use full screen
    &.rck-portal-modal {
      &__wrapper {
        height: $rck-modal-size-999;
        width: $rck-modal-size-999;
        max-height: 100dvh;
        max-width: 100dvw;
        border-radius: 0;
      }

      &__back-btn {
        display: inline-flex !important;
      }

      &__close-btn {
        display: none !important;
      }
    }

    .rck-portal-modal {
      &__back-btn {
        display: inline-flex !important;
      }

      &__close-btn {
        display: none !important;
      }
    }

    @include breakpoint(md) {
      &.rck-portal-modal {
        &__wrapper {
          height: auto;
          width: $rck-modal-size-300;
          border-radius: rck.$radius-200;
        }
      }

      .rck-portal-modal {
        &__back-btn {
          display: none !important;
        }

        &__close-btn {
          display: inline-flex !important;
        }
      }
    }
  }

  &--medium {
    width: $rck-modal-size-200;
  }

  &--small {
    width: $rck-modal-size-100;
  }
}

.rck-modal__close-btn--negative {
  color: rck.$color-brand-neutral-500;
}

.rck-modal__header {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rck.$color-brand-neutral-white;
  margin-bottom: var(--spacing-16);
}

.rck-modal__header--with-image {
  background-position: center;
  background-repeat: no-repeat;
}

.rck-modal__header-icon {
  font-size: 43px;
  color: rck.$color-brand-primary-500;
}

.rck-modal__body {
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 0;
  height: 100%;

  p {
    margin: 0 0 var(--spacing-8);
    line-height: 1.5;
  }

  .rck-modal__title {
    margin-bottom: var(--spacing-8);
  }

  .rck-modal__content-scrollable {
    min-height: 0;
    overflow-wrap: break-word;
    overflow-y: auto;
    font-size: 14px;
    line-height: 24px;
    flex: 1;
  }

  .rck-modal__content-fixed {
    margin-top: var(--spacing-16);
  }

  .rck-modal__buttons {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    margin-top: var(--spacing-24);
    gap: var(--spacing-16);

    .rck-btn {
      flex: 0 1 auto;
    }

    &--row {
      flex-direction: row;
      align-items: flex-end;
      justify-content: center;

      .rck-btn {
        margin-bottom: 0;
        &:last-child {
          margin: 0 0 0 var(--spacing-16);
        }
      }
    }
  }
}

.rck-modal__action {
  border-top: 1px solid $rck-color-gray-light;
  display: flex;
  justify-content: center;
}
