$rck-custom-icon-sizes: (
  'regular': (
    16px,
    16px,
  ),
  'rck-xs': (
    12px,
    12px,
  ),
  'rck-sm': (
    14px,
    14px,
  ),
  'rck-lg': (
    21px,
    21px,
  ),
  'rck-2x': (
    32px,
    32px,
  ),
  'rck-3x': (
    48px,
    48px,
  ),
  'rck-4x': (
    60px,
    60px,
  ),
  'rck-5x': (
    80px,
    80px,
  ),
  'rck-7x': (
    112px,
    112px,
  ),
  'rck-10x': (
    160px,
    160px,
  ),
);

@mixin icon-set-size-square() {
  @each $sizeName, $sizes in $rck-custom-icon-sizes {
    &.#{$sizeName} {
      width: nth($sizes, 1);
      height: nth($sizes, 2);
    }
  }
}

i.rck-custom-icon {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 16px;
  height: 16px;
  @include icon-set-size-square();
}
