.rck-list-link {
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.71;
  letter-spacing: var(--letter-spacing-s);
  text-decoration: none;
  @include rck-list-item-font-size();

  &--regular {
    color: $rck-color-secondary;
  }

  &--danger {
    color: $rck-color-error-dark;
  }

  &:hover {
    text-decoration: underline;
  }
}
