$rck-list-thumbnail-image-dimensions: (
  '50': 50px,
  '100': 100px,
  '150': 150px,
  '200': 200px,
  '250': 250px,
  '300': 300px,
  '350': 350px,
  '400': 400px,
);

@mixin rck-list-thumnbnail-apply-min-dim($type) {
  @each $dim-str, $dim in $rck-list-thumbnail-image-dimensions {
    &--#{$type}-#{$dim-str} {
      #{$type}: $dim;
    }
  }
}

.rck-list-thumbnail {
  display: flex;
  flex-direction: row;
  height: 100%;

  strong {
    font-weight: var(--font-weight-semibold);
  }

  &__wrapper {
    position: relative;
    height: 100%;
    width: 100%;

    &__thumb {
      border-radius: 5px;
      height: 100%;
      width: 100%;

      @include rck-list-thumnbnail-apply-min-dim('min-width');
      @include rck-list-thumnbnail-apply-min-dim('min-height');
    }

    &__icon {
      position: absolute;
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%);
      z-index: 2;
      font-size: var(--font-size-xxxxxl);
    }

    &__opacity-layer {
      position: absolute;
      left: 0;
      top: 0;
      width: 100%;
      height: 100%;
      background-color: $rck-color-gray;
      border-radius: 5px;
      z-index: 1;
      opacity: 0.5;
    }
  }
}
