.rck-list-title {
  font-weight: normal;
  font-size: var(--font-size-m);
  letter-spacing: var(--letter-spacing-m);
  @include rck-text-align();

  color: $rck-color-gray;

  @each $line in $var-rck-list-text-lines {
    &--ellipsis-for-#{$line} {
      @include rck-ellipsis($line);
    }
  }

  &--success {
    color: $rck-color-success-light;
  }

  &--error {
    color: $rck-color-error-light;
  }

  &--warning {
    color: $rck-color-warning-light;
  }

  strong {
    font-weight: var(--font-weight-semibold);
  }
}
