.rck-list-subtitle {
  font-size: var(--font-size-s);
  font-weight: normal;
  letter-spacing: var(--letter-spacing-s);
  @include rck-text-align();
  color: $rck-color-gray-dark;

  @each $line in $var-rck-list-text-lines {
    &--ellipsis-for-#{$line} {
      @include rck-ellipsis($line);
    }
  }

  &--error {
    color: $rck-color-error-dark;
  }

  &--warning {
    color: $rck-color-warning;
  }

  &--success {
    color: $rck-color-success;
  }

  @include rck-list-item-font-size();
}
