.rck-list-secondary-text {
  font-size: var(--font-size-s);
  font-weight: normal;
  letter-spacing: var(--letter-spacing-s);
  @include rck-text-align();
  color: $rck-color-gray-semi;

  @each $line in $var-rck-list-text-lines {
    &--ellipsis-for-#{$line} {
      @include rck-ellipsis($line);
    }
  }

  @include rck-list-item-font-size();
}
