.rck-list-colored-text {
  font-size: inherit;
  font-weight: inherit;
  line-height: inherit;

  &--warning {
    color: $rck-color-warning;
    a {
      color: $rck-color-warning;
    }
  }
  &--error {
    color: $rck-color-error-dark;
    a {
      color: $rck-color-error-dark;
    }
  }
  &--success {
    color: $rck-color-success;
    a {
      color: $rck-color-success;
    }
  }
  &--secondary {
    color: $rck-color-secondary;
    a {
      color: $rck-color-secondary;
    }
  }

  @include rck-word-break();
}
