$transition-speed: 0.3s;
$rck-drawer-transition-hide-delay: $transition-speed;

.rck-drawer {
  &-portal {
    position: fixed;
    z-index: $z-index-portals;
  }

  &__container {
    overflow: hidden;
    top: 0;
    position: inherit;
    z-index: inherit;

    &--position-left {
      left: 0;
    }

    &--position-right {
      right: 0;
    }
  }

  &__overlay {
    top: 0;
    left: 0;
    background: rgba($color: #000000, $alpha: 0.5);
    position: fixed;
    height: 100%;
    width: 100%;
    z-index: $z-index-portals - 1;
  }

  &--transition-right-opened {
    width: 100%;
    transition: transform $transition-speed;
    transform: translateX(0);
  }

  &--transition-right-closed {
    transition: transform $transition-speed;
    transform: translateX(100%);
    animation: zeroWidth 50ms linear $rck-drawer-transition-hide-delay forwards;
  }

  &--transition-left-opened {
    width: 100%;
    transition: transform $transition-speed;
    transform: translateX(0);
  }

  &--transition-left-closed {
    transition: transform $transition-speed;
    transform: translateX(-100%);
    animation: zeroWidth 50ms linear $rck-drawer-transition-hide-delay forwards;
  }
}

@keyframes zeroWidth {
  0% {
    width: initial;
  }
  100% {
    width: 0;
  }
}
