@use '../../tokens/rck';

/// Mixins
@mixin conversation-bubble-radius($direction, $small-radius, $large-radius) {
  .rck-conversation__bubble {
    border-top-#{$direction}-radius: $small-radius;
    border-bottom-#{$direction}-radius: $small-radius;
  }

  .rck-conversation__entries {
    .rck-conversation__entry:first-child .rck-conversation__bubble {
      border-top-#{$direction}-radius: $large-radius;
    }

    .rck-conversation__entry:last-child .rck-conversation__bubble {
      border-top-#{$direction}-radius: $small-radius;
      border-bottom-#{$direction}-radius: $large-radius;
    }
  }
}

/// Styling
.rck-conversation {
  display: flex;
  flex-direction: column;
  gap: rck.$spacing-16;
  padding: rck.$spacing-16;
  border-radius: rck.$spacing-8;
  border: 1px solid rck.$color-brand-neutral-200;
  background: linear-gradient(
    180deg,
    rck.$color-base-marine-300,
    rck.$color-base-white
  );
  height: 100%;
  overflow: auto;
  overflow-x: hidden;

  &__thread {
    display: flex;
    flex-direction: column;
  }

  /// Contact
  &__contact {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: rck.$spacing-8;
  }

  &__contact-avatar {
    margin: 0;
  }

  &__contact-name {
    /// margins for optical harmony
    margin-left: rck.$spacing-4;
    margin-right: rck.$spacing-4;
    @include rck.typography-caption-1('semibold');
  }

  &__date-indicator {
    display: flex;
    justify-content: center;
    position: sticky;
    top: 0;
  }

  /// Entries
  &__entries {
    display: flex;
    flex-direction: column;
    gap: rck.$spacing-4;
    align-items: inherit;
    width: 100%;
  }

  &__entry {
    display: flex;
    flex-direction: row;
    gap: rck.$spacing-8;
    width: 100%;

    &--highlight-warning {
      .rck-conversation__bubble {
        border-color: transparent;
        background-color: rck.$color-semantic-warning-300;
      }
    }
  }

  /// Bubbles
  &__bubble {
    display: flex;
    background-color: rck.$color-base-white;
    border-radius: rck.$radius-400;
    border: 1px solid rck.$color-brand-neutral-200;

    color: rck.$color-brand-neutral-500;
    @include rck.typography-body-2();
    line-height: 1.3;
    padding: rck.$spacing-8 rck.$spacing-16;

    max-width: calc(100% - rck.$spacing-56);
    overflow: hidden;

    &--image {
      padding: 0;
      img {
        object-fit: scale-down;
        height: 120px;
      }
    }
  }

  /// Orientation
  &__incoming {
    align-items: flex-start;
    @include conversation-bubble-radius(left, rck.$radius-100, rck.$radius-400);
  }

  &__outgoing {
    align-items: flex-end;
    @include conversation-bubble-radius(
      right,
      rck.$radius-100,
      rck.$radius-400
    );

    .rck-conversation__contact {
      flex-direction: row-reverse;
    }

    .rck-conversation__entry {
      flex-direction: row-reverse;
    }
  }
}
