.rck-brands-header {
  background-color: transparent;
  padding: var(--spacing-8);

  i,
  svg {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 var(--spacing-8) 0 var(--spacing-8);
  }
}
