.rck-selectionbar {
  display: flex;
  flex-direction: column;
  line-height: 40px;
  height: 40px;
  text-align: center;

  &__content {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;

    &__button {
      width: 40px;
      flex-grow: 0;

      &--hidden {
        visibility: hidden;
      }
    }

    &__title {
      flex-grow: 1;
      display: flex;
      align-items: center;
      justify-content: center;
    }
  }

  &--hidden {
    display: none;
  }
}
