/* @todo - Change paths when `rck.scss` file is moved out of `tokens` folder. */
@use 'sass:map';
@use '../tokens/colors/base';
@use '../tokens/colors/alias/brand';
@use '../tokens/colors/alias/semantic';
@use '../tokens/colors/alias/wellbeing';

@function get-color($palette, $color, $shade: null) {
  $color-map: _get-color-map-from($palette);
  @if $shade == null {
    @return map.get($color-map, $color);
  } @else {
    @return map.get($color-map, $color, $shade);
  }
}

@function get-colors-from($palette) {
  $color-map: _get-color-map-from($palette);
  @return map.keys($color-map);
}

@function _get-color-map-from($palette) {
  @if $palette == 'brand' {
    @return brand.$color-brand;
  } @else if $palette == 'semantic' {
    @return semantic.$color-semantic;
  } @else if $palette == 'wellbeing' {
    @return wellbeing.$color-wellbeing;
  } @else {
    @return base.$color-base;
  }
}
