.social-share {
  padding: var(--spacing-32) var(--spacing-24);
  text-align: center;
  border-top: 1px solid $rck-color-gray-lighter;
  border-bottom: 1px solid $rck-color-gray-lighter;

  a {
    text-decoration: none;
    margin: 0 var(--spacing-16) 0 0;
    font-size: var(--font-size-xxl);
  }

  &--facebook {
    color: #2d88ff;
  }

  &--twitter {
    color: #2caae2;
  }

  &--linkedin {
    color: #0073b1;
  }

  &--youtube {
    color: #ff0200;
  }

  &--instagram {
    background: radial-gradient(
      circle at 30% 107%,
      #fdf497 0%,
      #fdf497 5%,
      #fd5949 45%,
      #d6249f 60%,
      #285aeb 90%
    );
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
  }
}
