/*
 * File structure affected by:
 * [ADR-0002] Use design tokens
 * [ADR-0004] Color token structure
 */
@use "sass:map";
@use '../base';

$color-brand-neutral-white: base.$color-base-white !default;
$color-brand-neutral-black: base.$color-base-black !default;
$color-brand-neutral-100: base.$color-base-grey-100 !default;
$color-brand-neutral-200: base.$color-base-grey-200 !default;
$color-brand-neutral-300: base.$color-base-grey-300 !default;
$color-brand-neutral-400: base.$color-base-grey-400 !default;
$color-brand-neutral-500: base.$color-base-grey-500 !default;
$color-brand-primary-200: base.$color-base-violet-200 !default;
$color-brand-primary-300: base.$color-base-violet-300 !default;
$color-brand-primary-400: base.$color-base-violet-400 !default;
$color-brand-primary-500: base.$color-base-violet-500 !default;
$color-brand-primary-600: base.$color-base-violet-600 !default;
$color-brand-primary-700: base.$color-base-violet-700 !default;
$color-brand-secondary-300: base.$color-base-green-300 !default;
$color-brand-secondary-400: base.$color-base-green-400 !default;
$color-brand-secondary-500: base.$color-base-green-500 !default;
$color-brand-secondary-600: base.$color-base-green-600 !default;

$color-brand: (
  'neutral': (
    'white': $color-brand-neutral-white,
    'black': $color-brand-neutral-black,
    '100': $color-brand-neutral-100,
    '200': $color-brand-neutral-200,
    '300': $color-brand-neutral-300,
    '400': $color-brand-neutral-400,
    '500': $color-brand-neutral-500,
  ),
  'primary': (
    '200': $color-brand-primary-200,
    '300': $color-brand-primary-300,
    '400': $color-brand-primary-400,
    '500': $color-brand-primary-500,
    '600': $color-brand-primary-600,
    '700': $color-brand-primary-700,
  ),
  'secondary': (
    '300': $color-brand-secondary-300,
    '400': $color-brand-secondary-400,
    '500': $color-brand-secondary-500,
    '600': $color-brand-secondary-600,
  ),
);
