@use '../../tokens/rck';

// Component tokens
$shadowed-card-padding: rck.$spacing-32;
$shadowed-card-background-color: rck.$color-brand-neutral-white;
$shadowed-card-border-radius: rck.$radius-200;

.rck-shadowed-card {
  padding: $shadowed-card-padding;
  background-color: $shadowed-card-background-color;
  border-radius: $shadowed-card-border-radius;
  container-name: rck-shadowed-card;
  container-type: inline-size;

  &--shadow-100 {
    box-shadow: rck.$shadow-100;
  }

  &--shadow-200 {
    box-shadow: rck.$shadow-200;
  }

  > *:first-child {
    margin-top: unset;
  }

  > *:last-child {
    margin-bottom: unset;
  }
}
