$rck-free-text-colors: (
  'gray': $rck-color-gray,
  'gray-dark': $rck-color-gray-dark,
  'gray-semi': $rck-color-gray-semi,
  'gray-light': $rck-color-gray-light,
  'gray-lighter': $rck-color-gray-lighter,
  'error-dark': $rck-color-error-dark,
  'warning-dark': $rck-color-warning-dark,
  'success-dark': $rck-color-success-dark,
  'white': $rck-color-white,
);

$rck-free-text-font-size: (
  '10px': var(--font-size-xxs),
  '12px': var(--font-size-xs),
  '14px': var(--font-size-s),
  '16px': var(--font-size-m),
  '18px': var(--font-size-l),
  '20px': var(--font-size-xl),
  '24px': var(--font-size-xxl),
  '30px': var(--font-size-xxxl),
  '36px': var(--font-size-xxxxl),
  '48px': var(--font-size-xxxxxl),
);

@mixin rck-free-set-text-color() {
  @each $type, $color in $rck-free-text-colors {
    &--color-#{$type} {
      color: $color;
    }
  }
}

@mixin rck-free-set-text-font() {
  @each $type, $font in $rck-free-text-font-size {
    &--font-size-#{$type} {
      font-size: $font;
    }
  }
}

.rck-free-text {
  @include rck-free-set-text-color();
  @include rck-free-set-text-font();

  &--font-weight {
    &-normal {
      font-weight: normal;
    }
    &-semi-bold {
      font-weight: 600;
    }
  }
}
