.rck-checkbox {
  padding: var(--spacing-8);
  display: inline-block;
  position: relative;
  padding-left: var(--spacing-32);
  color: $rck-color-gray-dark;
  font-size: var(--font-size-m);
  letter-spacing: var(--letter-spacing-m);
  user-select: none;
  cursor: pointer;

  .rck-checkbox__square {
    position: absolute;
    top: 12px;
    left: 7px;
    height: var(--spacing-16);
    width: var(--spacing-16);
    border: 2px solid $rck-color-gray-dark;
    border-radius: 2px;
    display: flex;
    align-items: center;
    justify-content: center;
    outline: none;
    &:hover,
    :active {
      outline: none;
    }

    &--checked {
      border: 2px solid $rck-color-secondary;
      background-color: $rck-color-secondary;
    }

    &--disabled {
      border: 2px solid $rck-color-gray-light;
    }

    &__icon {
      font-size: 10px;
      color: $rck-color-success-lighter;
      &--disabled {
        color: $rck-color-success-lighter;
      }
    }
  }

  &--block {
    display: block;
  }

  &:hover {
    .rck-checkbox__square {
      border: 2px solid $rck-color-secondary;
    }
  }

  &--disabled {
    cursor: not-allowed;
    color: $rck-color-gray-light;

    .rck-checkbox__square {
      border: 2px solid $rck-color-secondary-light;
      background-color: $rck-color-secondary-light;
    }
  }

  .rck-checkbox__input {
    display: none;
  }

  .rck-checkbox__label {
    padding: 0 var(--spacing-8);
  }
}
