/*
 * File structure affected by:
 * [ADR-0002] Use design tokens
 * [ADR-0004] Color token structure
 */
@use "sass:map";

$color-base-white: #fff;
$color-base-black: #000;

$color-base-grey-100: #f8fafd;
$color-base-grey-200: #dddedf;
$color-base-grey-300: #808387;
$color-base-grey-400: #55585d;
$color-base-grey-500: #28292a;

$color-base-violet-200: #f1f1ff;
$color-base-violet-300: #d7d7ff;
$color-base-violet-400: #9999ff;
$color-base-violet-500: #5c5cff;
$color-base-violet-600: #5252cc;
$color-base-violet-700: #21216e;

$color-base-mint-300: #e9fff8;
$color-base-mint-400: #9dcfc4;
$color-base-mint-500: #3b9e8a;
$color-base-mint-600: #2f7768;

$color-base-cherry-300: #ffdde1;
$color-base-cherry-400: #fe9296;
$color-base-cherry-500: #c84851;
$color-base-cherry-600: #a03941;

$color-base-magenta-300: #fee1ef;
$color-base-magenta-400: #f26faf;
$color-base-magenta-500: #d70469;
$color-base-magenta-600: #890343;

$color-base-peach-300: #ffe8dc;
$color-base-peach-400: #ff965c;
$color-base-peach-500: #fd752c;
$color-base-peach-600: #bb4302;

$color-base-yolk-200: #fffacf;
$color-base-yolk-300: #ffd873;
$color-base-yolk-400: #fdbb12;

$color-base-yellow-200: #fff7eb;
$color-base-yellow-300: #ffedcf;
$color-base-yellow-400: #ffc666;
$color-base-yellow-500: #ffa710;
$color-base-yellow-600: #b27100;

$color-base-red-300: #fef6f6;
$color-base-red-400: #fad9d9;
$color-base-red-500: #e54141;
$color-base-red-600: #9d1515;

$color-base-purple-300: #fcf6fe;
$color-base-purple-400: #f0cffb;
$color-base-purple-500: #b210ea;
$color-base-purple-600: #7e0ca7;

$color-base-pink-300: #fff5f8;
$color-base-pink-400: #ffd7e5;
$color-base-pink-500: #ff357e;
$color-base-pink-600: #cc004a;

$color-base-blue-300: #f5fcff;
$color-base-blue-400: #cef1fd;
$color-base-blue-500: #00a9ca;
$color-base-blue-600: #008099;

$color-base-green-300: #f7fcfa;
$color-base-green-400: #dbf3e9;
$color-base-green-500: #35a777;
$color-base-green-600: #28805d;
/// This color token was removed from the design system; we will use 600 as fallback.
/// Todo: review the process of removing this.
/// $color-base-green-700: #236c4e;
$color-base-green-700: $color-base-green-600;

$color-base-marine-300: #f9f9fb;
$color-base-marine-400: #d5d5e3;
$color-base-marine-500: #2f2f75;
$color-base-marine-600: #1b1b41;

$color-base-silver-300: #eff3f6;

$color-base-sky-500: #60d0ec;
$color-base-sky-600: #0a95c2;

$color-base-lime-300: #e2fdf4;

$color-base: (
  'white': $color-base-white,
  'black': $color-base-black,
  'grey': (
    '100': $color-base-grey-100,
    '200': $color-base-grey-200,
    '300': $color-base-grey-300,
    '400': $color-base-grey-400,
    '500': $color-base-grey-500,
  ),
  'violet': (
    '200': $color-base-violet-200,
    '300': $color-base-violet-300,
    '400': $color-base-violet-400,
    '500': $color-base-violet-500,
    '600': $color-base-violet-600,
    '700': $color-base-violet-700,
  ),
  'mint': (
    '300': $color-base-mint-300,
    '400': $color-base-mint-400,
    '500': $color-base-mint-500,
    '600': $color-base-mint-600,
  ),
  'cherry': (
    '300': $color-base-cherry-300,
    '400': $color-base-cherry-400,
    '500': $color-base-cherry-500,
    '600': $color-base-cherry-600,
  ),
  'magenta': (
    '300': $color-base-magenta-300,
    '400': $color-base-magenta-400,
    '500': $color-base-magenta-500,
    '600': $color-base-magenta-600,
  ),
  'peach': (
    '300': $color-base-peach-300,
    '400': $color-base-peach-400,
    '500': $color-base-peach-500,
    '600': $color-base-peach-600,
  ),
  'yolk': (
    '200': $color-base-yolk-200,
    '300': $color-base-yolk-300,
    '400': $color-base-yolk-400,
  ),
  'yellow': (
    '200': $color-base-yellow-200,
    '300': $color-base-yellow-300,
    '400': $color-base-yellow-400,
    '500': $color-base-yellow-500,
    '600': $color-base-yellow-600,
  ),
  'red': (
    '300': $color-base-red-300,
    '400': $color-base-red-400,
    '500': $color-base-red-500,
    '600': $color-base-red-600,
  ),
  'purple': (
    '300': $color-base-purple-300,
    '400': $color-base-purple-400,
    '500': $color-base-purple-500,
    '600': $color-base-purple-600,
  ),
  'pink': (
    '300': $color-base-pink-300,
    '400': $color-base-pink-400,
    '500': $color-base-pink-500,
    '600': $color-base-pink-600,
  ),
  'blue': (
    '300': $color-base-blue-300,
    '400': $color-base-blue-400,
    '500': $color-base-blue-500,
    '600': $color-base-blue-600,
  ),
  'green': (
    '300': $color-base-green-300,
    '400': $color-base-green-400,
    '500': $color-base-green-500,
    '600': $color-base-green-600,
    '700': $color-base-green-700,
  ),
  'marine': (
    '300': $color-base-marine-300,
    '400': $color-base-marine-400,
    '500': $color-base-marine-500,
    '600': $color-base-marine-600,
  ),
  'silver': $color-base-silver-300,
  'sky': (
    '500': $color-base-sky-500,
    '600': $color-base-sky-600,
  ),
  'lime': $color-base-lime-300,
);
