@use '../../tokens/rck';

$background-shapes: url('#{$images-path}/waves-bottom-shape-bg.svg') right
    bottom no-repeat,
  url('#{$images-path}/waves-top-shape-bg.svg') left top no-repeat;

// @todo: I think we could standardise this list in some way.
$colors: 'yolk' rck.$gradient-base-yolk rck.$color-base-yolk-300
    rck.$color-base-grey-500,
  'marine' rck.$gradient-base-marine rck.$color-base-marine-500
    rck.$color-base-white;

@mixin marketing-banner-backgrounds($colors) {
  @each $color-name, $gradient-background-color, $plain-background-color,
    $text-color in $colors
  {
    &--background-gradient-#{$color-name} {
      background: $gradient-background-color;
      color: $text-color;
    }

    &--background-with-shapes#{&}--background-gradient-#{$color-name} {
      background: $background-shapes, $gradient-background-color;
    }

    &--background-#{$color-name} {
      background: $plain-background-color;
      color: $text-color;
    }

    &--background-with-shapes#{&}--background-#{$color-name} {
      background: $background-shapes, $plain-background-color;
    }
  }
}

.rck-marketing-banner {
  display: flex;
  position: relative;
  flex-direction: column;
  min-width: 350px;
  height: auto;
  border-radius: rck.$radius-200;
  padding: rck.$spacing-16 rck.$spacing-16 rck.$spacing-24 rck.$spacing-16;

  &__header {
    display: flex;
    flex-direction: row;
    justify-content: end;
  }

  &__close-icon {
    cursor: pointer;

    &--yolk {
      .rck-icon {
        color: rck.$color-base-yolk-400;
      }
    }
  }

  &__image {
    object-fit: contain;
    margin-right: rck.$spacing-24;
  }

  &__body {
    display: flex;
    flex-direction: row;
  }

  &__right-content {
    display: flex;
    flex-direction: column;

    :not(:last-child) {
      margin-bottom: rck.$spacing-8;
    }
  }

  &__button {
    margin-top: rck.$spacing-8;
  }

  &--alignment-center {
    .rck-marketing-banner__right-content {
      align-items: center;
      text-align: center;
    }
  }

  &--alignment-left {
    .rck-marketing-banner__right-content {
      align-items: flex-start;
    }
  }

  &--background-with-shapes {
    background: $background-shapes;
  }

  @include marketing-banner-backgrounds($colors);
}
