$color-blue-qustodio: #2aabcb; // Blue Qustodio
$color-blue-abbyss: #394459; // Blue Abbyss
$color-white-skull: #ffffff; // White Skull
$color-black-bear: #000000; // Black Bear
$color-grey-coal: #666666; // Grey Coal
$color-grey-ash: #efefef; // Grey Ash
$color-grey-mist: #f6f7f5; // Grey Mist
$color-grey-blackboard: #444444; // Grey Blackboard
$color-green-irish: #1dbc54; // Green Irish
$color-green-shipwreck: #bbe9ca; // Green Shipwreck
$color-green-leaf: #70c041; // Green Leaf
$color-red-soviet: #cc0000; // Red Soviet
$color-orange-kung-fu: #ffb856; // Orange Kung-fu
$color-orange-solaris: #f57c00; // Orange Solaris
$color-orange-arizona: #f15724; // Orange Arizona
$color-green-dinner: #b0e5ca; // Green Dinner
$color-green-liberty: #61cb95; // Green Liberty
$color-blue-abe: #b0e5df; // Blue Abe
$color-blue-turtle: #61cbbf; // Blue Turtle
$color-blue-montauk: #9fe0e7; // Blue Montauk
$color-blue-swimmingpool: #3fc1d0; // Blue Swimmingpool
$color-blue-sky: #53c1ec; // Blue Sky
$color-blue-aruba: #039be5; // Blue Aruba
$color-blue-creek: #a3c7ec; // Blue Creek
$color-blue-cobalt: #1973d0; // Blue Cobalt
$color-purple-ametyst: #b2b9e1; // Purple Ametyst
$color-purple-rain: #3f51b5; // Purple Rain
$color-green-android: #97c040; // Green Android
$color-blue-gates: #00afee; // Blue Gates
$color-orange-bezos: #ff9900; // Orange Bezos
