$base-font-size: 16px;

/// Deprecated: use the typography foundation mixins instead
:root {
  --font-size-xxs: 10px;
  --font-size-xs: 12px;
  --font-size-s: 14px;
  --font-size-m: 16px;
  --font-size-l: 18px;
  --font-size-xl: 20px;
  --font-size-xxl: 24px;
  --font-size-xxxl: 30px;
  --font-size-xxxxl: 36px;
  --font-size-xxxxxl: 48px;

  --font-size-default: var(--font-size-m);
}
