$rck-copybox-widget-height: 40px;
$rck-copybox-confirmation-line-height: 12px;
$rck-copybox-icon-wrapper-pading: 6px;
$rck-copybox-radius: 4px;

.rck-copybox {
  display: flex;
  height: #{calc(
      #{$rck-copybox-widget-height} + var(--spacing-16) + #{$rck-copybox-confirmation-line-height}
    )};
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  &__widget {
    width: fit-content;
    height: $rck-copybox-widget-height;
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-content: center;
    align-items: center;
    background: $rck-color-gray-lighter;
  }

  &__text {
    flex: 0 1 auto;
    align-self: auto;
    font-size: var(--font-size-m);
    font-weight: var(--font-weight-semibold);
    margin: 0;
    padding: 0 var(--spacing-8);
    color: $rck-color-secondary;
    background-color: $rck-color-gray-lighter;
    user-select: text;
    cursor: text;
  }

  &__icon {
    line-height: 1.2;
    margin-right: 8px;
    padding: $rck-copybox-icon-wrapper-pading;
    color: $rck-color-white;
    background-color: $rck-color-secondary;
    border-radius: $rck-copybox-radius;
    cursor: pointer;
  }

  &__copy-confirmation {
    margin-top: var(--spacing-16);
    font-size: var(--font-size-xxs);
    line-height: $rck-copybox-confirmation-line-height;
    color: $rck-color-gray-semi;
  }
}
