@use '../../tokens/rck';

.rck-expand-collapse {
  &__header-right {
    display: flex;
    flex-direction: row;
    align-items: center;
  }

  &__header-right-icon {
    margin-right: rck.$spacing-8;
    width: rck.$spacing-40;
    height: rck.$spacing-40;
  }

  &__header-icon,
  &__header-image {
    width: 100%;
    height: 100%;
  }

  &__header-image {
    &--disabled {
      filter: grayscale(1);
      opacity: 50%;
    }
  }
}
