$input-sizes: ('small', 'regular');

@mixin rck-text-field-padding() {
  padding-left: var(--spacing-16);
  padding-right: var(--spacing-16);
}

@mixin rck-input-icon-sizing($size) {
  @if $size == 'small' {
    width: var(--spacing-16);
    font-size: var(--font-size-m);
  } @else {
    width: 20px; // this is a special width to cover font size xl
    font-size: var(--font-size-xl);
  }
}

@mixin rck-input-size($size) {
  @if $size == 'small' {
    height: var(--spacing-40);
  } @else {
    height: var(--spacing-48);
  }
}

.rck-text-field {
  min-height: var(
    --spacing-72
  ); // Covers spacing for error label when text is one line tall (most cases)
  &--no-area-for-error {
    min-height: auto;
  }
  &__label {
    display: block;
    font-size: var(--font-size-m);
    letter-spacing: var(--letter-spacing-m);
    color: $rck-color-gray-dark;
    margin-bottom: 4px;
    &:first-letter {
      text-transform: capitalize;
    }
  }

  &__icon {
    display: flex;
    @include rck-text-input-rounded-border();
    border-left: none;
    border-bottom-left-radius: 0;
    border-top-left-radius: 0;
    @include rck-text-field-padding();
    align-items: center;
    color: $rck-color-secondary;

    &__wrapper {
      display: flex;
      align-items: center;
      justify-content: center;
      &--hide {
        visibility: hidden;
      }
    }

    &:focus {
      outline: 0;
    }
  }

  &__icon-left {
    display: flex;
    @include rck-text-input-rounded-border();
    border-right: none;
    border-bottom-right-radius: 0;
    border-top-right-radius: 0;
    @include rck-text-field-padding();
    align-items: center;
    color: $rck-color-secondary;

    &__wrapper {
      display: flex;
      align-items: center;
      justify-content: center;
      &--hide {
        visibility: hidden;
      }
    }

    &:focus {
      outline: 0;
    }
  }

  @each $size in $input-sizes {
    &--size-#{$size} {
      .rck-text-field__input {
        @include rck-input-size($size);
      }

      .rck-text-field__icon,
      .rck-text-field__icon-left {
        i {
          @include rck-input-icon-sizing($size);
        }
      }
    }
  }

  input.rck-text-field__input,
  &__input {
    display: block;
    @include rck-text-input-rounded-border();
    @include rck-text-field-padding();
    outline: none; // Not a fan of this, but we need better control around the outline to keep it accessible
    font-size: var(--font-size-m);
    color: $rck-color-gray-dark;
    box-sizing: border-box;
    padding-left: var(--spacing-8);
    padding-right: var(--spacing-8);
    margin: 0;
    box-shadow: none;
    -webkit-appearance: none; // Needed to remove default input inner shadow in safari mobile

    &--with-icon {
      border-right: none;
      border-bottom-right-radius: 0;
      border-top-right-radius: 0;
      padding-right: 0;
    }

    &--with-icon-left {
      border-left: none;
      border-bottom-left-radius: 0;
      border-top-left-radius: 0;
      padding-left: 0;
    }

    &::placeholder {
      color: $rck-color-gray-semi;
    }

    @include rck-input-text-states();

    &:disabled {
      background-color: $rck-color-gray-lighter;
      color: $rck-color-gray;
      cursor: not-allowed;

      &:hover,
      &:focus,
      &:active {
        border-color: $rck-color-gray-light;
        box-shadow: none;
      }
    }
  }

  &--block {
    width: 100%;
    .rck-text-field__input {
      width: 100%;
    }
  }

  &__grouped {
    display: flex;

    &--focused,
    &--hover {
      .rck-text-field__icon,
      .rck-text-field__icon-left {
        border-color: $rck-color-secondary;
      }
    }
    &--disabled {
      .rck-text-field__icon,
      .rck-text-field__icon-left {
        @include rck-input-text-disabled();
      }
    }
  }

  &--error {
    .rck-text-field {
      &__grouped {
        &:not(.rck-text-field__grouped--disabled) {
          .rck-text-field__icon,
          .rck-text-field__icon-left,
          .rck-text-field__input {
            @include rck-input-border-error();

            &:hover,
            &:focus,
            &:active {
              @include rck-input-border-error();
            }
            i {
              color: $rck-color-error-dark;
            }
          }
        }
      }
    }
  }

  &--text-centered {
    .rck-text-field__input {
      text-align: center;
    }
  }
}
