.rck-color-picker {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: var(--spacing-24);
  margin: var(--spacing-8);

  &__item {
    cursor: pointer;
    display: block;
    position: relative;
    height: var(--spacing-24);
    width: var(--spacing-24);
    border-radius: var(--spacing-24);

    &::after {
      content: '';
      position: absolute;
      height: calc(var(--spacing-32) + 2px);
      width: calc(var(--spacing-32) + 2px);
      border-radius: var(--spacing-32);
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%) scale(0);
      transition: all 300ms;
      box-sizing: border-box;
      border: none;
    }

    &--active {
      &::after {
        transform: translate(-50%, -50%) scale(1);
        border: 2px solid var(--react-rck-colorpicker-active-color);
      }
    }

    &:not(.rck-color-picker__item--active) {
      &:hover,
      &:active {
        transform: scale(1.1);
      }
    }
  }
}
