@use 'sass:math';
@use '../../../src/tokens/rck';
@use '../utils';

$shadow-map: (
  '100': rck.$shadow-100,
  '200': rck.$shadow-200,
);

body {
  height: 100vh;
  background: linear-gradient(transparent, rck.$color-brand-primary-200);
}

.foundation-shadow {
  &__grid {
    max-width: 800px;
    display: grid;
    grid-template: 1fr / repeat(2, 1fr);
    gap: 32px;
  }

  &__cell {
    display: flex;
    flex-direction: column;
    gap: 8px;
    position: relative;

    .cell {
      border-radius: 8px;
      width: 200px;
      height: 100px;
      background-color: #fff;
    }
  }
}

@each $name, $value in $shadow-map {
  .foundation__shadow--#{$name} {
    box-shadow: $value;
  }
}
/// Export the stringified map as a CSS variable
:export {
  baseShadows: utils.map-to-json($shadow-map);
}
