.rck-domain-trust {
  display: flex;
  flex-direction: row;
  align-items: center;

  p {
    margin: 0;
    color: $rck-color-gray;
    line-height: 1.2;
    font-size: var(--font-size-xs);
  }

  &--poor {
    .rck-domain-trust__info__description {
      color: $rck-color-error-dark;
    }
  }

  &--good {
    .rck-domain-trust__info__description {
      color: $rck-color-success;
    }
  }

  &--unsatisfactory {
    .rck-domain-trust__info__description {
      color: $rck-color-warning;
    }
  }

  &--neutral {
    .rck-domain-trust__info__description {
      color: $rck-color-gray;
    }
  }

  &__info {
    display: flex;
    flex-direction: column;
    margin-left: var(--spacing-8);
  }
}
