@use '../../tokens/rck';

.expandable-text {
  &__body {
    display: -webkit-box;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    line-height: rck.$font-line-height-26;
  }

  &--collapsed {
    -webkit-line-clamp: var(--max-lines);
    max-height: calc(var(--max-lines) * rck.$font-line-height-26);
  }

  &--expanded {
    -webkit-line-clamp: none;
    display: block;
    max-height: none;
  }

  &__expand-button {
    margin: auto;
  }
}
