.rck-table {
  width: 100%;
  border-collapse: collapse;
  table-layout: fixed;

  &--border-none {
    .rck-table-head {
      border-bottom: none;
    }

    .rck-table-row {
      td.rck-table-cell {
        border-bottom: none;
      }
    }
  }
}

.rck-table-head {
  border-bottom: solid 2px $rck-color-gray-dark;
}

.rck-table-row {
  td.rck-table-cell {
    border-bottom: solid 0.5px $rck-color-gray-light;
  }
}

.rck-table-cell {
  @include responsive-font-size(var(--font-size-s), var(--font-size-m));
  padding: var(--spacing-8);
  font-weight: var(--font-weight-medium);

  &:first-child {
    padding-left: var(--spacing-16);

    @media (min-width: $screen-sm) {
      padding-left: var(--spacing-40);
    }
  }

  &--head {
    @include responsive-font-size(var(--font-size-m), var(--font-size-xl));
    font-weight: var(--font-weight-semibold);
    width: 50%;

    @media (min-width: $screen-sm) {
      width: 45%;
    }
  }

  &--center {
    text-align: center;
  }

  &--left {
    text-align: start;
  }

  &--right {
    text-align: end;
  }
}
