@use 'sass:map';
@use 'sass:math';
@use '../../tokens/rck';

/// Component tokens
/// - sizes
$avatar-size-x-large: 96px;
$avatar-size-large: 80px;
$avatar-size-medium: 64px;
$avatar-size-small: 40px;
$avatar-size-x-small: 32px;
$avatar-size-xx-small: 24px;

/// - font sizes
$avatar-font-size-56: 56px;
$avatar-font-size-48: 48px;
$avatar-font-size-32: 32px;
$avatar-font-size-24: 24px;
$avatar-font-size-16: 16px;

/// - icon indicator sizes
$avatar-indicator-size-small: 24px;
$avatar-indicator-size-large: 32px;

$avatar-indicator-icon-size-small: 12px;
$avatar-indicator-icon-size-large: 16px;

$avatar-indicator-border-width: 2px;

/// Maps

$avatar-sizes-map: (
  'x-large': (
    'size': $avatar-size-x-large,
    'font-size': $avatar-font-size-56,
    'icon-ref': 'large',
  ),
  'large': (
    'size': $avatar-size-large,
    'font-size': $avatar-font-size-56,
    'icon-ref': 'large',
  ),
  'medium': (
    'size': $avatar-size-medium,
    'font-size': $avatar-font-size-48,
    'icon-ref': 'small',
  ),
  'small': (
    'size': $avatar-size-small,
    'font-size': $avatar-font-size-32,
    'icon-ref': 'small',
  ),
  'x-small': (
    'size': $avatar-size-x-small,
    'font-size': $avatar-font-size-24,
    'icon-ref': null,
  ),
  'xx-small': (
    'size': $avatar-size-xx-small,
    'font-size': $avatar-font-size-16,
    'icon-ref': null,
  ),
);

$avatar-icon-sizes-map: (
  'small': (
    'container-size': $avatar-indicator-size-small,
    'icon-size': $avatar-indicator-icon-size-small,
  ),
  'large': (
    'container-size': $avatar-indicator-size-large,
    'icon-size': $avatar-indicator-icon-size-large,
  ),
);

$avatar-icon-colors-map: (
  'none': transparent,
  'white': rck.$color-brand-neutral-white,
  'grey': rck.$color-brand-neutral-300,
  'brand': rck.$color-brand-primary-500,
  'success': rck.$color-brand-secondary-500,
  'error': rck.$color-semantic-error-500,
  'warning': rck.$color-semantic-warning-600,
);

$avatar-default-icons-list: (
  'pencil': (
    'color': 'white',
    'bg-color': 'brand',
  ),
  'camera': (
    'color': 'white',
    'bg-color': 'brand',
  ),
  'status_tampered': (
    'color': 'error',
    'bg-color': 'white',
  ),
  'status_paused': (
    'color': 'white',
    'bg-color': 'warning',
  ),
  'status_online': (
    'color': 'white',
    'bg-color': 'success',
  ),
);
