@use 'sass:map';
@use 'sass:math';
@use './_tokens.scss' as avatar;
@use '../../tokens/rck';

///
/// - Utils
///

/// Icon placement and size
@mixin avatar-indicator-by-avatar-size($avatar-size, $icon-reference) {
  @if $icon-reference == null {
    /// Hide the icon for the avatar sizes that do not require it
    display: none;
  } @else {
    $icon-props: map.get(avatar.$avatar-icon-sizes-map, $icon-reference);
    $icon-size: map.get($icon-props, 'container-size');
    $icon-icon-size: map.get($icon-props, 'icon-size');

    /// icon placement
    /// Calculates the distance from a square's corner to the point where its inscribed circle intersects the diagonal.
    $sqrt2-minus-1: 0.41; /// This ratio represents the distance from a square's corner to its inscribed circle along the diagonal.
    $diagonal-offset: math.div($avatar-size, 2) * $sqrt2-minus-1;
    $icon-placement: math.abs($diagonal-offset - $icon-size) - 6px;

    width: $icon-size;
    height: $icon-size;
    transform: translate($icon-placement, $icon-placement);

    & > * {
      font-size: $icon-icon-size;
    }
  }
}

///
/// - Styles
///

button.rck-avatar {
  /// onClick
  &:not([aria-disabled='true']):active {
    opacity: 0.7;
  }
}

.rck-avatar {
  display: flex;
  flex-shrink: 0;
  position: relative;
  user-select: none;
  border-radius: 50%;

  &--variant-text {
    font-weight: rck.$font-weight-regular;
    text-transform: uppercase;
    text-decoration: none;
    white-space: nowrap;
    line-height: 1;

    .rck-avatar__content {
      color: rck.$color-base-white;
      background-color: rck.$color-base-blue-500;
    }
  }

  &--link-like {
    a {
      @extend .rck-avatar__content;
    }
  }

  &__content {
    width: 100%;
    height: 100%;
    border-radius: 50%;

    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;

    & > svg,
    & > img,
    & > i {
      width: 100%;
      height: 100%;
    }

    & > img {
      object-fit: cover;
    }

    &--empty {
      color: rck.$color-brand-primary-500;
      background-color: rck.$color-brand-primary-200;
    }

    &--free-form {
      overflow: unset;
    }
  }

  /// sizes
  @each $avatar-size, $values in avatar.$avatar-sizes-map {
    $size: map.get($values, 'size');
    $font-size: map.get($values, 'font-size');

    &.rck-avatar--size-#{$avatar-size} {
      height: $size;
      width: $size;

      &.rck-avatar--variant-text {
        font-size: $font-size;
      }

      .rck-avatar__icon {
        $icon-reference: map.get($values, 'icon-ref');
        @include avatar-indicator-by-avatar-size($size, $icon-reference);
      }
    }
  }
}

.rck-avatar__icon {
  position: absolute;
  right: 0;
  bottom: 0;
  z-index: 1;
  color: $rck-color-white;
  width: auto;
  height: auto;
  line-height: 0;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;

  /// inset border
  ::after {
    content: '';
    position: absolute;
    inset: 0;
    border-radius: 50%;
    border: avatar.$avatar-indicator-border-width solid
      rck.$color-brand-neutral-white;
  }

  .rck-icon {
    font-size: initial;
  }

  @each $color, $value in avatar.$avatar-icon-colors-map {
    &--color-#{$color} {
      color: $value;
    }

    &--bgColor-#{$color} {
      background-color: $value;
    }
  }

  /// Hide border if background is white or transparent
  &--bgColor-none,
  &--bgColor-white {
    ::after {
      display: none;
    }
  }

  /// Default icons set
  @each $icon-name, $values in avatar.$avatar-default-icons-list {
    $color-name: map.get($values, 'color');
    $bg-color-name: map.get($values, 'bg-color');

    $color: map.get(avatar.$avatar-icon-colors-map, $color-name);
    $bg-color: map.get(avatar.$avatar-icon-colors-map, $bg-color-name);

    &--default-icon-#{$icon-name} {
      color: $color;
      background-color: $bg-color;
    }
  }
}
