.rck-tooltip {
  z-index: $z-index-portals;
  pointer-events: none;

  background-color: $rck-color-gray-dark;
  color: $rck-color-white;
  padding: var(--spacing-8) var(--spacing-16);
  min-width: var(--spacing-56);
  text-align: center;
  border-radius: 4px;
  position: absolute;

  &__trigger {
    display: flex;
  }

  &__title {
    font-weight: var(--font-weight-semibold);
    font-size: var(--font-size-s);
  }

  &__label {
    font-size: var(--font-size-xs);
  }

  &--smooth-transition {
    @each $ms in (100, 200, 300, 400, 500) {
      &-#{$ms} {
        transition: all #{$ms}ms;
      }
    }
  }

  &--hidden {
    visibility: hidden !important;
  }

  &__arrow {
    position: absolute;
    &::after {
      content: '';
      position: absolute;
      width: var(--popper-arrow-size, 100%);
      height: var(--popper-arrow-size, 100%);
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%) rotate(45deg);
      background: $rck-color-gray-dark;
    }
  }
}
