@mixin rck-icon-set-color($color, $bckcolor) {
  i {
    color: $color;
    svg {
      fill: $color;
    }
  }

  &.rck-icon--square,
  &.rck-icon--circle {
    background-color: $bckcolor;
  }
}

$rck-icon-container-sizes: (
  'regular': (
    24px,
    24px,
  ),
  'xs': (
    18px,
    18px,
  ),
  'sm': (
    26px,
    26px,
    18px,
  ),
  'lg': (
    38px,
    38px,
  ),
  'x2': (
    50px,
    50px,
  ),
  'x3': (
    82px,
    82px,
  ),
  'x5': (
    114px,
    114px,
  ),
  'x7': (
    162px,
    162px,
  ),
  'x10': (
    210px,
    210px,
  ),
);

@mixin rck-icon-set-size-square() {
  @each $sizeName, $sizes in $rck-icon-container-sizes {
    &.rck-icon--square-#{$sizeName} {
      width: nth($sizes, 1);
      height: nth($sizes, 2);
    }
  }
}

.rck-icon {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  padding: 2px;

  &--black {
    @include rck-icon-set-color($rck-color-black, $rck-color-gray-lighter);
  }

  &--warning {
    @include rck-icon-set-color($rck-color-warning, $rck-color-warning-lighter);
  }

  &--error {
    @include rck-icon-set-color($rck-color-error, $rck-color-error-lighter);
  }

  &--neutral {
    @include rck-icon-set-color($rck-color-gray-semi, $rck-color-gray-lighter);
  }

  &--success {
    @include rck-icon-set-color($rck-color-success, $rck-color-success-lighter);
  }

  &--primary {
    @include rck-icon-set-color($rck-color-primary, $rck-color-primary-lighter);
  }

  &--secondary {
    @include rck-icon-set-color(
      $rck-color-secondary,
      $rck-color-secondary-lighter
    );
  }

  &--green-decoration-contrast {
    @include rck-icon-set-color($rck-color-decoration-green, $rck-color-white);
  }

  &--regular {
    @include rck-icon-set-color(
      $rck-color-secondary,
      $rck-color-secondary-lighter
    );
  }

  &--contrast {
    @include rck-icon-set-color($rck-color-white, transparent);
  }

  &--contrast-secondary {
    @include rck-icon-set-color($rck-color-white, $rck-color-secondary);
  }

  &--gray-light {
    @include rck-icon-set-color($rck-color-gray-light, $rck-color-gray-lighter);
  }

  &--disabled {
    @include rck-icon-set-color($rck-color-gray-semi, $rck-color-gray-semi);
  }

  &--not-set {
    @include rck-icon-set-color(inherit, inherit);
  }

  &:focus {
    outline: 0;
  }

  &--square {
    border-radius: 4px;
    @include rck-icon-set-size-square();
  }

  &--circle {
    border-radius: 50%;
    @include rck-icon-set-size-square();
  }
}
