$rck-svg-size-sizes: (
  '16': 16px,
  '24': 24px,
  '32': 32px,
  '40': 40px,
  '48': 48px,
  '56': 56px,
  '64': 64px,
  '72': 72px,
  '80': 80px,
  '88': 88px,
  '96': 96px,
  '104': 104px,
  '112': 112px,
  '120': 120px,
  '128': 128px,
  '136': 136px,
  '144': 144px,
  '152': 156px,
  '160': 160px,
  '176': 176px,
  '184': 184px,
  '192': 192px,
  '200': 200px,
  '240': 240px,
  '280': 280px,
);

@mixin rck-svg-size($type) {
  @each $sizeStr, $size in $rck-svg-size-sizes {
    &--size-#{$type}-#{$sizeStr} {
      svg {
        #{$type}: $size;
      }
    }
  }
}

.rck-svg {
  @include rck-svg-size('width');
  @include rck-svg-size('height');

  &--color-warning {
    svg {
      color: $rck-color-warning;
    }
  }
  &--color-error {
    svg {
      color: $rck-color-error-dark;
    }
  }
  &--color-neutral {
    svg {
      color: $rck-color-gray-semi;
    }
  }
  &--color-success {
    svg {
      color: $rck-color-success;
    }
  }
  &--color-primary {
    svg {
      color: $rck-color-primary;
    }
  }
  &--color-secondary {
    svg {
      color: $rck-color-secondary;
    }
  }
  &--color-contrast {
    svg {
      color: $rck-color-white;
    }
  }
  &--color-gray-light {
    svg {
      color: $rck-color-gray-light;
    }
  }
}
