@use 'sass:math';
@use 'sass:list';
@use '../../tokens/rck';

// Component tokens
$accordion-column-min-width: 300px;
$accordion-column-gutter: rck.$spacing-16;
$_column-breakpoint-2: ($accordion-column-min-width * 2) +
  $accordion-column-gutter;
$_column-breakpoint-3: ($accordion-column-min-width * 3) +
  ($accordion-column-gutter * 2);

$accordion-accent-colors: rck.get-colors-from('base');

@function get-accent-color($color) {
  $color: if(_is-neutral-color($color), 'grey', $color);
  @return rck.get-color('base', $color, '500');
}

@function get-accent-color-light($color) {
  $color: if(_is-neutral-color($color), 'grey', $color);
  $shade: if(_color-uses-lighter-shade($color), '200', '300');
  @return rck.get-color('base', $color, $shade);
}

@function _is-neutral-color($color) {
  @return list.index(('grey', 'white', 'black'), $color) != null;
}

@function _color-uses-lighter-shade($color) {
  @return list.index(('grey', 'violet', 'yellow'), $color) != null;
}

@mixin color-variants() {
  @each $accent-color in $accordion-accent-colors {
    .rck-accordion--color-#{$accent-color} {
      @content ($accent-color);
    }
  }
}

.rck-accordion {
  list-style-type: none;
  margin: unset;
  padding: unset;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  gap: $accordion-column-gutter;

  &__wrapper {
    /*
     * For the number of columns to be relative to the parent container
     * (@container queries) the container parent must have the property
     * `container-type;` set.
     *
     * @link https://developer.mozilla.org/en-US/docs/Web/CSS/CSS_containment/
     */
    container-name: rck-accordion;
    container-type: inline-size;
  }
}

/*
 * Creates a responsive, masonry-like multi-column layout for Accordion.
 *
 * - If the maximum number of columns is set to 2 or 3, and the container can fit
 *   them, the items will be placed in 2 or 3 columns and ordered horizontally.
 *
 * - If the container is too narrow to fit the maximum number of columns,
 *   3 will fallback to 2, and 2 to 1.
 *
 * The height of an item inside a column (when open, if the title is long...)
 * must not affect items placed in the same row but different columns.
 *
 * Uses the hack described here:
 * @link https://tobiasahlin.com/blog/masonry-with-css/
 *
 * This hack is required because:
 * - `grid` does not have good masonry layout suport yet.
 * - `flex-column` orders the elements vertically and requires a explicit height.
 * - `columns` orders the elements vertically and does not support explicit order.
 * - Wrapping columns in `<div>`s does not respect item order in responsive sizes.
 *
 * For `flex-column` to wrap into several columns, the height of the
 * container must be explicitely stated. The height is calculated and set in
 * React before the rendered element is printed on screen using `useLayoutEffect()`.
 */
@container rck-accordion (min-width: #{$_column-breakpoint-2}) {
  .rck-accordion--columns-2,
  .rck-accordion--columns-3 {
    column-gap: math.div($accordion-column-gutter, 2);
    /*
     * These pseudo-elements with `flex-basis: 100%;` fill the container's height.
     * They force the items after them to break into a new column.
     */
    &:before,
    &:after {
      content: '';
      flex-basis: 100%;
      width: 0;
      order: 2;
    }

    .rck-accordion__item {
      /* Width of items is 50% minus 1/2 of 1 gutter. */
      width: calc(50% - #{math.div($accordion-column-gutter, 2)});
      /* Re-order items horizontally in 2 columns. */
      &:nth-child(2n + 1) {
        order: 1;
      }
      &:nth-child(2n) {
        order: 2;
      }
    }
  }
}

@container rck-accordion (min-width: #{$_column-breakpoint-3}) {
  .rck-accordion--columns-3 {
    .rck-accordion__item {
      /* Width of items is 33.333% minus 1/3 of 2 gutters. */
      width: calc(33.333% - #{math.div($accordion-column-gutter * 2, 3)});
      /* Re-order items horizontally in 3 columns. */
      &:nth-child(3n + 1) {
        order: 1;
      }
      &:nth-child(3n + 2) {
        order: 2;
      }
      &:nth-child(3n) {
        order: 3;
      }
    }
  }
}
