@use './Accordion.scss' as accordion;
@use '../../tokens/rck';

// Component tokens
$accordion-item-padding: rck.$spacing-16;
$accordion-item-default-accent-color: rck.$color-brand-primary-500;
$accordion-item-default-accent-color-light: rck.$color-brand-primary-200;
$accordion-item-title-color: rck.$color-brand-neutral-500;
$accordion-item-content-color: rck.$color-brand-neutral-500;
$accordion-item-background-color: rck.$color-brand-neutral-white;
$accordion-item-button-color-expand: rck.$color-brand-primary-500;
$accordion-item-button-color-collapse: rck.$color-brand-neutral-400;
$accordion-item-shadow: rck.$shadow-100;
$accordion-item-shadow-open: rck.$shadow-200;
$accordion-item-border-width: 2px;
$accordion-item-border-radius: rck.$radius-100;
$accordion-item-border-color: rck.$color-brand-neutral-white;

/* @todo: Change this when New Rocket icons are implemented. */
@mixin accordion-item-icon($size, $padding) {
  width: $size;
  height: $size;
  line-height: $size;
  font-size: $size - $padding;
  text-align: center;
  padding: $padding;
}

.rck-accordion-item {
  margin: unset;
  padding: $accordion-item-padding;
  background-color: $accordion-item-background-color;
  border-style: solid;
  border-color: $accordion-item-border-color;
  border-width: $accordion-item-border-width;
  border-radius: $accordion-item-border-radius;
  box-shadow: $accordion-item-shadow;
  display: grid;
  grid-template-columns: auto 1fr auto;
  grid-gap: rck.$spacing-8;
  align-items: start;
  cursor: pointer;
  box-sizing: border-box;

  &__icon {
    @include accordion-item-icon(rck.$spacing-24, 2px);
    color: $accordion-item-default-accent-color;
  }

  &__title {
    color: $accordion-item-title-color;
    @include rck.typography-body-2('semibold');
  }

  &__button {
    background: transparent;
    border: none;
    cursor: pointer;
    color: $accordion-item-button-color-expand;
    @include accordion-item-icon(rck.$spacing-16, 1px);
  }

  &__content {
    grid-column-start: 2;
    display: none;
    color: $accordion-item-content-color;
    @include rck.typography-body-2('regular');

    > *:first-child {
      margin-top: unset;
    }

    > *:last-child {
      margin-bottom: unset;
    }
  }

  &--open {
    box-shadow: $accordion-item-shadow-open;
    border-color: $accordion-item-default-accent-color;
    .rck-accordion-item {
      &__title {
        color: $accordion-item-default-accent-color;
      }
      &__content {
        display: block;
      }
      &__button {
        color: $accordion-item-button-color-collapse;
      }
    }
  }
}

.rck-accordion--highlight-on-open {
  .rck-accordion-item--open {
    background-color: $accordion-item-default-accent-color-light;
  }
}

@include accordion.color-variants() using ($accent-color) {
  .rck-accordion-item {
    &__icon {
      color: accordion.get-accent-color($accent-color);
    }

    &--open {
      border-color: accordion.get-accent-color($accent-color);
      .rck-accordion-item__title {
        color: accordion.get-accent-color($accent-color);
      }
    }
  }
  &.rck-accordion--highlight-on-open {
    .rck-accordion-item--open {
      background-color: accordion.get-accent-color-light($accent-color);
    }
  }
}
