.r-support {
  margin: var(--spacing-32);
  padding: 0;
  text-align: center;
}

.r-support__icon {
  width: var(--spacing-24);
  height: var(--spacing-24);
  display: inline-block;
  float: none;
  margin: 0 0 var(--spacing-16);
}

.r-support__title {
  font-size: var(--font-size-s);
  font-weight: 700;
  margin: 0 0 var(--spacing-8);
  line-height: 1.4;
  padding: 0;
  color: $rck-color-gray;
}

.r-support__text {
  font-size: var(--font-size-s) !important;
  margin: 0 0 var(--spacing-8);
  color: $rck-color-gray;
}
