.rck-toggle-container {
  &__container {
    overflow: auto;
    transition: max-height 0.3s ease-out;

    &--open {
      height: auto;
      max-height: 600px;
    }

    &--close {
      max-height: 0;
    }
  }
}
