.rck-link {
  display: inline-flex;
  align-items: center;
  color: $rck-color-secondary;

  a {
    color: $rck-color-secondary;
    text-decoration: none;
    &:hover {
      color: $rck-color-secondary-dark;
      cursor: pointer;
    }
  }

  &--disabled {
    opacity: 0.5;
    cursor: not-allowed;
    a {
      cursor: not-allowed;
    }
    a:hover {
      color: $rck-color-secondary;
      cursor: not-allowed;
      pointer-events: none;
    }
  }
  &__icon {
    &--left {
      margin-right: var(--spacing-8);
    }
    &--right {
      margin-left: var(--spacing-8);
    }
  }
}
