$types: (
  'primary': $rck-color-primary-lighter,
  'warning': $rck-color-warning-light,
  'error': $rck-color-error-lighter,
  'white': $rck-color-white,
);

@mixin boxColors($color) {
  background-color: $color;
  color: $rck-color-gray-dark;
  a {
    color: $rck-color-secondary;
  }
}

@each $type, $color in $types {
  .rck-banner--#{$type} {
    @include boxColors($color);
  }
}

.rck-banner {
  font-size: var(--font-size-xs);
  display: inline-flex;
  align-items: center;
  border-radius: 4px;
  box-shadow: 2px 2px 8px rbg(0, 0, 0, 0, 0.2);
  padding: var(--spacing-8) var(--spacing-16) var(--spacing-8) var(--spacing-16);

  &--no-rounded {
    border-radius: 0px;
  }

  &--full-width {
    width: 100%;
  }

  &__icon {
    padding-right: var(--spacing-8);
  }

  &__icon-right {
    padding-left: var(--spacing-8);
    cursor: pointer;
  }

  &__text {
    font-size: var(--font-size-xs);
    font-weight: var(--font-weight-semibold);
    letter-spacing: var(--letter-spacing-s);
    text-align: left;
    flex: 2;

    &--centered {
      text-align: center;
    }
  }
}
