@use 'sass:math';

$rck-slider-thumb-radius: 8px;
$rck-slider-thumb-diameter: 16px;

$rck-slider-track-height: 3px;
$rck-slider-track-radius: 12px;

@mixin rck-slider-track {
  cursor: default;
  height: $rck-slider-track-height;
  transition: all 0.2s ease;
  width: 100%;
}

@mixin rck-slider-thumb {
  background: $rck-color-secondary;
  border: none;
  border-radius: $rck-slider-thumb-radius;
  box-sizing: border-box;
  cursor: default;
  height: $rck-slider-thumb-diameter;
  width: $rck-slider-thumb-diameter;
}

@mixin disabled {
  opacity: 0.5;
  cursor: not-allowed;
}

.rck-slider {
  &--disabled {
    @include disabled;
  }

  label {
    font-size: 12px;
    line-height: 16px;
    color: $rck-color-secondary;
  }

  // materialize library addds a thumb element by default that we don't want
  .thumb {
    display: none;
  }

  [type='range'] {
    -webkit-appearance: none;
    background: transparent;
    margin: math.div($rck-slider-thumb-diameter, 2) 0;
    width: 100%;

    &::-moz-focus-outer {
      border: 0;
    }

    &:focus {
      outline: 0;

      &::-ms-fill-lower {
        background: $rck-color-gray-semi;
      }
    }

    &::-webkit-slider-runnable-track {
      @include rck-slider-track;
      background: $rck-color-gray-semi;
      border-radius: $rck-slider-track-radius;
    }

    &::-webkit-slider-thumb {
      @include rck-slider-thumb;
      -webkit-appearance: none;
      margin-top: (
        math.div($rck-slider-track-height, 2) -
          math.div($rck-slider-thumb-diameter, 2)
      );
    }

    &::-moz-range-track {
      @include rck-slider-track;
      background: $rck-color-gray-semi;
      border-radius: $rck-slider-track-radius;
      height: math.div($rck-slider-track-height, 2);
    }

    &::-moz-range-thumb {
      @include rck-slider-thumb;
    }

    &::-ms-track {
      @include rck-slider-track;
      background: transparent;
      border-color: transparent;
      border-width: math.div($rck-slider-thumb-diameter, 2) 0;
      color: transparent;
    }

    &::-ms-fill-lower {
      border-radius: ($rck-slider-track-radius * 2);
    }

    &::-ms-fill-upper {
      background: $rck-color-gray-semi;
      border-radius: ($rck-slider-track-radius * 2);
    }

    &::-ms-thumb {
      @include rck-slider-thumb;
      margin-top: math.div($rck-slider-track-height, 4);
    }

    &:disabled {
      &::-webkit-slider-thumb,
      &::-moz-range-thumb,
      &::-ms-thumb,
      &::-webkit-slider-runnable-track,
      &::-ms-fill-lower,
      &::-ms-fill-upper {
        @include disabled;
      }
    }
  }
}
