@use '../../tokens/rck';

.rck-opener {
  font-size: rck.$font-size-16;

  &--animation {
    transition: transform 0.4s ease;
    &-rotate {
      transform: rotate(180deg);
      &-opened {
        transform: rotate(0deg);
      }
    }
  }
}
