@use '../../tokens/rck';

.rck-expand-collapse-row-item {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: start;

  &__icon {
    width: rck.$spacing-32;
    height: rck.$spacing-32;
    margin-right: rck.$spacing-16;

    &--disabled {
      opacity: 0.3;
    }
  }

  &__subtitle {
    @include rck.typography-caption-1();
  }

  &__action-button {
    color: inherit;
  }

  &__action-icon {
    margin-left: rck.$spacing-8;

    &--disabled {
      opacity: 0.3;
    }
  }

  &__left-element {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: start;
    text-align: left;
  }

  &__right-element {
    margin-left: auto;
    padding-left: rck.$spacing-16;
  }
}
